<app-top-banner className="navbar-glass"></app-top-banner>
<app-header-glasses className="header-glasses"></app-header-glasses>
<div>
    <section class="swiper glassesSwiper kalles-home-section type_slideshow overflow-hidden kalles-glasses-home">
        <div class="slideshow swiper-wrapper">
            <div class="slideshow__slide swiper-slide">
                <img src="assets/images/home-glasses/slide-01.jpg" alt="" class="position-absolute start-0 end-0 top-0 w-100 h-100 object-fit-cover">
                <div class="container position-relative">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="content text-start text-sm-center">
                                <h1 class="summer-tag fw-semibold mb-3 text-white font-montserrat">SUMMER CLEARANCE</h1>
                                <h6 class="fs-24 text-white fw-medium mb-4">Code Z7922G8 to Get 25% OFF!</h6>
                                <div class="d-sm-flex justify-content-center gap-2">
                                    <a class="btn btn-mustard text-white rounded-0 min-w-150 text-uppercase d-inline-flex align-items-center justify-content-center" routerLink="/shop">Shop Now</a>
                                    <a class="btn btn-outline-mustard mt-2 mt-sm-0 text-white rounded-0 min-w-150 text-uppercase d-inline-flex align-items-center justify-content-center" routerLink="/shop">VIEW PROMOTION</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slideshow__slide swiper-slide">
                <div class="bg-overlay"></div>
                <img src="assets/images/home-glasses/slide-02.jpg" alt="" class="position-absolute start-0 end-0 top-0 bottom-0 w-100 h-100 object-fit-cover">
                <div class="container position-relative">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="content text-center">
                                <h1 class="fs-60 fw-semibold mb-3 text-white font-montserrat">MEN’S SUNGLASSES <br>
                                    LookBook</h1>
                                <p class="fs-14 text-white fw-normal mb-4">Brighten up your day and keep the rays at bay
                                    with our collection of women’s sunglasses you’ll want to book a holiday just to wear
                                    them.</p>
                                <a class="btn btn-mustard rounded-0 min-w-150 text-uppercase d-inline-flex align-items-center justify-content-center text-white" routerLink="/shop">VIEW THE LOOK</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slideshow__slide swiper-slide">
                <img src="assets/images/home-glasses/slide-03.jpg" alt="" class="position-absolute start-0 end-0 top-0 bottom-0 w-100 h-100 object-fit-cover">
                <div class="container position-relative">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="content text-center">
                                <h6 class="fs-24 text-white fw-medium mb-2">COME & GET OUR NEW LOOKBOOK</h6>
                                <h1 class="fs-60 fw-semibold mb-3 text-white font-montserrat">RX EYEWEAR ESSENTIAL
                                    LookBook</h1>
                                <a class="btn btn-mustard rounded-0 min-w-150 d-inline-flex align-items-center justify-content-center text-white" routerLink="/shop">Explore Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="banner-section kalles-glasses-banner-double-cat position-relative py-4 mt-2">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-6">
                    <a routerLink="/shop" class="position-relative hover-zoom d-block">
                        <img src="assets/images/home-glasses/banner-01.jpg" alt="" class="img-fluid hover-zoom-img w-100">
                        <div class="nt_promotion_html position-absolute">
                            <div class="text-end">
                                <h4 class="fs-28 font-pinyon-script text-mustard ls-1">The classic aviator</h4>
                                <h6 class="mb-0 fs-32 text-body font-montserrat">MEN’S EYEWEAR <br> ORIGINALS</h6>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6">
                    <a routerLink="/shop" class="position-relative hover-zoom d-block">
                        <img src="assets/images/home-glasses/banner-02.jpg" alt="" class="img-fluid hover-zoom-img w-100">
                        <div class="nt_promotion_html position-absolute">
                            <div class="text-end">
                                <h4 class="fs-28 font-pinyon-script text-mustard ls-1">a rectangular shape</h4>
                                <h6 class="mb-0 fs-32 text-body font-montserrat">WOMEN’S <br> SUNGLASSES</h6>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <section class="type_tab_collection kalles-glasses-tab-product pb-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="text-center">
                        <div>
                            <h1 class="position-relative text-capitalize font-montserrat fw-medium">
                                <span>Our Products</span>
                            </h1>
                            <span class="dn tt_divider"><span></span><i class="la la-glasses text-muted"></i><span></span></span>
                        </div>
                        <p class="fs-14 text-muted mt-2 mb-0">Eyeglasses teamed up to design a performance cycling frame
                            inspired by the French outfitter’s ability to honor classic
                            design while elevating technical capabilities.</p>
                    </div>
                </div>
            </div>
            <ul class="nav nav-underline gap-4 nav-mustard justify-content-center mt-4 mb-0" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link fw-medium fs-14 active" id="featured-tab" data-bs-toggle="pill" data-bs-target="#featured" type="button" role="tab" aria-controls="featured" aria-selected="true">FEATURED</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link fw-medium fs-14" id="new-arrivals-tab" data-bs-toggle="pill" data-bs-target="#new-arrivals" type="button" role="tab" aria-controls="new-arrivals" aria-selected="false">NEW ARRIVALS</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link fw-medium fs-14" id="onSale-tab" data-bs-toggle="pill" data-bs-target="#onSale" type="button" role="tab" aria-controls="onSale" aria-selected="false">ON SALE</button>
                </li>
            </ul>
            <div class="tab-content mt-4" id="pills-tabContent">
                <div class="tab-pane fade show active" id="featured" role="tabpanel" aria-labelledby="featured-tab" tabindex="0">
                    <div class="row g-4">
                        <div class="col-6 col-lg-3" *ngFor="let product of products">
                            <div class="topbar-product-card overlay-hover" (mouseenter)="product.isHovered = true" (mouseleave)="product.isHovered = false">

                                <div class="position-relative overflow-hidden main">
                                    <img [src]="product.isHovered ? product.hoverImage : product.imageUrl" alt="" class="img-fluid">
                                    <a href="javascript:void(0);" class="wishlistadd position-absolute mustard" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add to Wishlist">
                                        <i class="facl facl-heart-o text-white"></i>
                                    </a>
                                </div>

                                <div class="mt-3 text-center">
                                    <h6 class="mb-1"><a routerLink="/product-detail-layout-01" class="main_link_mustard">{{ product.name }}</a></h6>
                                    <p class="mb-0 fs-14 text-muted">
                                        <span>{{ product.priceRange || '$' + product.price.toFixed(2) }}</span>
                                    </p>

                                    <div class="product-button d-none d-lg-flex flex-column gap-2">
                                        <a href="javascript:void(0);" (click)="openModal('exampleModal')" class="btn bg-mustard text-white fs-14">
                                            <span>Quick View</span>
                                            <i class="iccl iccl-eye text-white"></i>
                                        </a>
                                        <button type="button" class="btn bg-mustard fs-14 text-white" (click)="openModal('cardModal')">
                                            <span>Quick Shop</span>
                                            <i class="iccl iccl-cart text-white"></i>
                                        </button>
                                    </div>

                                    <div class="position-absolute d-lg-none bottom-0 end-0 d-flex flex-column bg-mustard m-2" style="z-index: 1;">
                                        <a href="javascript:void(0);" (click)="openModal('exampleModal')" class="btn responsive-cart rounded-pill fs-14 p-2" style="width:36px; height: 36px;">
                                            <i class="iccl iccl-eye fw-semibold text-white"></i>
                                        </a>
                                        <button type="button" class="btn responsive-cart bg-mustard fs-14 p-2" style="width:36px; height: 36px;" (click)="openModal('cardModal')">
                                            <i class="iccl iccl-cart fw-semibold text-white"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade" id="new-arrivals" role="tabpanel" aria-labelledby="new-arrivals-tab" tabindex="0">
                    <div class="row g-4">
                        <div class="col-6 col-lg-3" *ngFor="let product of products2">
                            <div class="topbar-product-card overlay-hover" (mouseenter)="product.isHovered = true" (mouseleave)="product.isHovered = false">
                                <div class="position-relative overflow-hidden main">
                                    <img [src]="product.isHovered ? product.hoverImageUrl : product.imageUrl" alt="" class="img-fluid">
                                    <a href="javascript:void(0);" class="wishlistadd position-absolute mustard" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add to Wishlist">
                                        <i class="facl facl-heart-o text-white"></i>
                                    </a>
                                    <div class="product-button d-none d-lg-flex flex-column gap-2">
                                        <a [href]="product.quickViewUrl" data-bs-toggle="modal" class="btn bg-mustard text-white fs-14">
                                            <span>Quick View</span> <i class="iccl iccl-eye text-white"></i>
                                        </a>
                                        <button type="button" class="btn bg-mustard fs-14 text-white" (click)="openModal('cardModal')">
                                            <span>Quick Shop</span>
                                            <i class="iccl iccl-cart text-white"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="mt-3 text-center">
                                    <h6 class="mb-1">
                                        <a routerLink="/product-detail-layout-01" class="main_link_mustard">{{ product.title }}</a>
                                    </h6>
                                    <p class="mb-0 fs-14 text-muted">
                                        <span>{{ product.price }}</span>
                                    </p>
                                    <div class="product-button d-none d-lg-flex flex-column gap-2">
                                        <a [href]="product.quickViewUrl" data-bs-toggle="modal" class="btn bg-mustard text-white fs-14">
                                            <span>Quick View</span> <i class="iccl iccl-eye text-white"></i>
                                        </a>
                                        <button type="button" class="btn bg-mustard fs-14 text-white" (click)="openModal('cardModal')">
                                            <span>Quick Shop</span>
                                            <i class="iccl iccl-cart text-white"></i>
                                        </button>
                                    </div>
                                    <div class="position-absolute d-lg-none bottom-0 end-0 d-flex flex-column bg-mustard m-2" style="z-index: 1;">
                                        <a [href]="product.quickViewUrl" data-bs-toggle="modal" class="btn responsive-cart rounded-pill fs-14 p-2" style="width:36px; height: 36px;">
                                            <i class="iccl iccl-eye fw-semibold text-white"></i>
                                        </a>
                                        <button type="button" class="btn responsive-cart bg-mustard fs-14 p-2" style="width:36px; height: 36px;" (click)="openModal('cardModal')" class="btn rounded-pill fs-14">
                                            <i class="iccl iccl-cart fw-semibold text-white"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade" id="onSale" role="tabpanel" aria-labelledby="onSale-tab" tabindex="0">
                    <div class="row g-4">
                        <div *ngFor="let product of products3" class="col-6 col-lg-3">
                            <div class="topbar-product-card overlay-hover" (mouseenter)="product.isHovered = true" (mouseleave)="product.isHovered = false">
                                <div class="position-relative overflow-hidden main">
                                    <img [src]="product.isHovered ? product.hoverImageUrl : product.imageUrl" alt="" class="img-fluid">
                                    <a href="javascript:void(0);" class="wishlistadd position-absolute mustard" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add to Wishlist">
                                        <i class="facl facl-heart-o text-white"></i>
                                    </a>
                                    <div class="product-button d-none d-lg-flex flex-column gap-2">
                                        <a [href]="product.quickViewLink" data-bs-toggle="modal" class="btn bg-mustard text-white fs-14">
                                            <span>Quick View</span> <i class="iccl iccl-eye text-white"></i>
                                        </a>
                                        <button type="button" class="btn bg-mustard fs-14 text-white" (click)="openModal('cardModal')">
                                            <span>Quick Shop</span> <i class="iccl iccl-cart text-white"></i>
                                        </button>
                                    </div>
                                    <div class="position-absolute d-lg-none bottom-0 end-0 d-flex flex-column bg-mustard m-2" style="z-index: 1;">
                                        <a [href]="product.quickViewLink" data-bs-toggle="modal" class="btn responsive-cart rounded-pill fs-14 p-2" style="width:36px; height: 36px;">
                                            <i class="iccl iccl-eye fw-semibold text-white"></i>
                                        </a>
                                        <button type="button" class="btn responsive-cart bg-mustard fs-14 p-2" style="width:36px; height: 36px;" (click)="openModal('cardModal')">
                                            <i class="iccl iccl-cart fw-semibold text-white"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="mt-3 text-center">
                                    <h6 class="mb-1">
                                        <a [href]="product.quickViewLink" class="main_link_mustard">{{ product.name }}</a>
                                    </h6>
                                    <p class="mb-0 fs-14 text-muted">
                                        <span>{{ product.price }}</span>
                                    </p>
                                    <div class="product-color-list mt-2 gap-2 d-flex align-items-center justify-content-center">
                                        <a href="javascript:void(0)" (click)="product.isHovered = false" class="d-inline-block bg-dark rounded-circle"></a>
                                        <a href="javascript:void(0)" (click)="product.isHovered = false" class="d-inline-block bg_color_green rounded-circle"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="kalles-glasses-shipping-info">
        <div class="container border-top border-bottom py-5 mt-5">
            <div class="row py-4 g-3">
                <div class="col-md-6 col-lg-4">
                    <div class="text-center">
                        <i class="las la-truck text-mustard fs-48"></i>
                        <h6 class="font-montserrat mt-3">FREE SHIPPING UK&UK</h6>
                        <p class="mb-0 text-muted">Free shipping on all orders above $100</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="text-center">
                        <i class="las la-headset text-mustard fs-48"></i>
                        <h6 class="font-montserrat mt-3">SUPPORT 24/7</h6>
                        <p class="mb-0 text-muted">Contact us 24 hours a day, 7 days a week</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="text-center">
                        <i class="las la-donate text-mustard fs-48"></i>
                        <h6 class="font-montserrat mt-3">30 DAYS MONEY BACK</h6>
                        <p class="mb-0 text-muted">Simply return it within 30 days for an exchange.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="kalles-section_type_featured_blog">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="text-center mb-4">
                        <div>
                            <h1 class="position-relative text-capitalize font-montserrat fw-medium">
                                <span>Latest News</span>
                            </h1>
                            <span class="dn tt_divider"><span></span><i class="la la-glasses text-muted"></i><span></span></span>
                        </div>
                        <p class="fs-14 text-muted mt-2 mb-0">Finding eyeglasses with the qualities that are most
                            important to you could be as simple as choosing a frame material
                            each distinguished by its own strengths.</p>
                    </div>
                </div>
            </div>
            <div class="row g-4 blog-arrow swiper glass2Swiper" dir="ltr">
                <div class="swiper-wrapper">
                    <div class=" col-md-6 col-lg-4 px-2 swiper-slide">
                        <div class="blog-card">
                            <a routerLink="/blog-left-sidebar" class="overflow-hidden d-block blog-wrap">
                                <img src="assets/images/home-glasses/blog-01.jpg" alt="" class="img-fluid">
                            </a>
                            <h6 class="fs-16 mt-3 main_link_mustard font-montserrat"><a routerLink="/blog-post-with-instagram-shop" class="text-reset main_link_mustard">Eyeglasses that Suit Your
                                    Personality</a></h6>
                            <div class="d-flex gap-1 align-items-center text-muted">
                                On
                                <span class="text-body">August 27, 2024</span>
                            </div>
                            <div class="post-content text-muted mt-3">Because people generally recognize you by your face,
                                the eyeglasses you wear are a very real part of your identity....</div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4  px-2 swiper-slide">
                        <div class="blog-card">
                            <a routerLink="/blog-left-sidebar" class="overflow-hidden d-block blog-wrap">
                                <img src="assets/images/home-glasses/blog-02.jpg" alt="" class="img-fluid">
                            </a>
                            <h6 class="fs-16 mt-3 main_link_mustard font-montserrat"><a routerLink="/blog-post-with-instagram-shop" class="text-reset main_link_mustard">How Eyeglasses Protect and
                                    Improve Vision?</a></h6>
                            <div class="d-flex gap-1 align-items-center text-muted">
                                On
                                <span class="text-body">August 26, 2024</span>
                            </div>
                            <div class="post-content text-muted mt-3">For most Americans, eyeglasses are an indispensable
                                part of our daily lives. In the United States, more than 6 out...</div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4  px-2 swiper-slide">
                        <div class="blog-card">
                            <a routerLink="/blog-left-sidebar" class="overflow-hidden d-block blog-wrap">
                                <img src="assets/images/blog/blog-03.jpg" alt="" class="img-fluid">
                            </a>
                            <h6 class="fs-16 mt-3 main_link_mustard font-montserrat"><a routerLink="/blog-post-with-instagram-shop" class="text-reset main_link_mustard">Making a spectacle: How
                                    glasses are crafted</a></h6>
                            <div class="d-flex gap-1 align-items-center text-muted">
                                On
                                <span class="text-body">August 26, 2024</span>
                            </div>
                            <div class="post-content text-muted mt-3">When it comes to getting a pair of glasses, looks can
                                be deceiving. We see them as functional fashion, but in reali...</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="kalles-glasses-vertical-products border-top py-5">
        <div class="container my-4">
            <div class="row g-2">
                <div class="col-md-6 col-lg-3">
                    <h5 class="widget-title mb-4">MOST REVIEW</h5>
                    <div class="vstack gap-3">
                        <div class="d-flex align-items-center gap-3">
                            <img src="assets/images/home-glasses/thumb-01.jpg" alt="" class="img-fluid flex-shrink-0">
                            <div class="flex-grow-1 overflow-hidden">
                                <h6 class="font-montserrat text-truncate mb-1"><a href="javascript:void(0);" class="main_link_mustard">Vintage Aviator Sunglasses</a></h6>
                                <p class="mb-0 text-muted">$155.00</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center gap-3">
                            <img src="assets/images/home-glasses/thumb-02.jpg" alt="" class="img-fluid flex-shrink-0">
                            <div class="flex-grow-1 overflow-hidden">
                                <h6 class="font-montserrat text-truncate mb-1"><a href="javascript:void(0);" class="main_link_mustard">Ray-ban/Hexagonal Flat Lenses</a></h6>
                                <p class="mb-0 text-muted">$205.00 - $259.00</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center gap-3">
                            <img src="assets/images/home-glasses/thumb-01.jpg" alt="" class="img-fluid flex-shrink-0">
                            <div class="flex-grow-1 overflow-hidden">
                                <h6 class="font-montserrat text-truncate mb-1"><a href="javascript:void(0);" class="main_link_mustard">Ray-ban Gold Flat Lenses</a></h6>
                                <p class="mb-0 text-muted">$205.00</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <h5 class="widget-title mb-4">TOP RATE</h5>
                    <div class="vstack gap-3">
                        <div class="d-flex align-items-center gap-3">
                            <img src="assets/images/home-glasses/thumb-04.jpg" alt="" class="img-fluid flex-shrink-0">
                            <div class="flex-grow-1 overflow-hidden">
                                <h6 class="font-montserrat text-truncate mb-1"><a href="javascript:void(0);" class="main_link_mustard">Vintage Aviator Sunglasses</a></h6>
                                <p class="mb-0 text-muted">$155.00</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center gap-3">
                            <img src="assets/images/home-glasses/thumb-05.jpg" alt="" class="img-fluid flex-shrink-0">
                            <div class="flex-grow-1 overflow-hidden">
                                <h6 class="font-montserrat text-truncate mb-1"><a href="javascript:void(0);" class="main_link_mustard">Miu Miu/Core Collection MU 08RS</a></h6>
                                <p class="mb-0 text-muted">$405.00</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center gap-3">
                            <img src="assets/images/home-glasses/thumb-06.jpg" alt="" class="img-fluid flex-shrink-0">
                            <div class="flex-grow-1 overflow-hidden">
                                <h6 class="font-montserrat text-truncate mb-1"><a href="javascript:void(0);" class="main_link_mustard">Miu Miu/Core Collection MU 59US</a></h6>
                                <p class="mb-0 text-muted">$388.00</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <h5 class="widget-title mb-4">RECENT ITEMS</h5>
                    <div class="vstack gap-3">
                        <div class="d-flex align-items-center gap-3">
                            <img src="assets/images/home-glasses/thumb-07.jpg" alt="" class="img-fluid flex-shrink-0">
                            <div class="flex-grow-1 overflow-hidden">
                                <h6 class="font-montserrat text-truncate mb-1"><a href="javascript:void(0);" class="main_link_mustard">Miu Miu/NOIR Glasses</a></h6>
                                <p class="mb-0 text-muted">$205.00</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center gap-3">
                            <img src="assets/images/home-glasses/thumb-08.jpg" alt="" class="img-fluid flex-shrink-0">
                            <div class="flex-grow-1 overflow-hidden">
                                <h6 class="font-montserrat text-truncate mb-1"><a href="javascript:void(0);" class="main_link_mustard">Miu Miu/Core Collection MU 59US</a></h6>
                                <p class="mb-0 text-muted">$388.00</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center gap-3">
                            <img src="assets/images/home-glasses/thumb-09.jpg" alt="" class="img-fluid flex-shrink-0">
                            <div class="flex-grow-1 overflow-hidden">
                                <h6 class="font-montserrat text-truncate mb-1"><a href="javascript:void(0);" class="main_link_mustard">Ray-ban/Hexagonal Flat Lenses</a></h6>
                                <p class="mb-0 text-muted">$205.00 - $259.00</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <h5 class="widget-title mb-4">POPULAR ITEMS</h5>
                    <div class="vstack gap-3">
                        <div class="d-flex align-items-center gap-3">
                            <img src="assets/images/home-glasses/thumb-10.jpg" alt="" class="img-fluid flex-shrink-0">
                            <div class="flex-grow-1 overflow-hidden">
                                <h6 class="font-montserrat text-truncate mb-1"><a href="javascript:void(0);" class="main_link_mustard">Ray-ban/Hexagonal Flat Lenses</a></h6>
                                <p class="mb-0 text-muted">$205.00 - $259.00</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center gap-3">
                            <img src="assets/images/home-glasses/thumb-11.jpg" alt="" class="img-fluid flex-shrink-0">
                            <div class="flex-grow-1 overflow-hidden">
                                <h6 class="font-montserrat text-truncate mb-1"><a href="javascript:void(0);" class="main_link_mustard">Miu Miu/Core Collection MU 59US</a></h6>
                                <p class="mb-0 text-muted">$450.00</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center gap-3">
                            <img src="assets/images/home-glasses/thumb-12.jpg" alt="" class="img-fluid flex-shrink-0">
                            <div class="flex-grow-1 overflow-hidden">
                                <h6 class="font-montserrat text-truncate mb-1"><a href="javascript:void(0);" class="main_link_mustard">Ray-ban/Hexagonal Flat Lenses</a></h6>
                                <p class="mb-0 text-muted">$320.00</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-footer-dark></app-footer-dark>
    <app-popup></app-popup>
</div>
<app-card-model></app-card-model>