<app-top-banner></app-top-banner>
<app-header2></app-header2>
<div>
    <div class="kalles-home-section swiper mySwiper">
        <div class="swiper-wrapper">
            <div *ngFor="let slide of slides" class="slideshow__slide w-100 swiper-slide" [ngStyle]="{'background-image': 'url(' + slide.imageUrl + ')'}">
                <div class="container">
                    <div class="row" [ngClass]="{'justify-content-end': slide.title === 'NEW SEASON'}">
                        <div class="col-lg-6" *ngIf="slide.title === 'NEW SEASON' else leftAlign">
                            <div class="text-end" data-aos="fade-right" data-aos-delay="300">
                                <h4 class="fs-18 fw-medium">{{ slide.title }}</h4>
                                <h3 class="display-4 fw-semibold mb-3">{{ slide.subtitle }}</h3>
                                <a class="btn btn-dark rounded-0 min-w-150 text-white" [href]="slide.link">{{ slide.buttonText }}</a>
                            </div>
                        </div>
                        <ng-template #leftAlign>
                            <div class="col-lg-7">
                                <div data-aos="fade-right" data-aos-delay="300">
                                    <h4 class="fs-18 fw-medium">{{ slide.title }}</h4>
                                    <h1 class="display-4 fw-semibold mb-3">{{ slide.subtitle }}</h1>
                                    <a class="btn btn-dark rounded-0 min-w-150 text-white" [href]="slide.link">{{ slide.buttonText }}</a>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>

        <div class="swiper-pagination"></div>
    </div>


    <section class="cat-section">
        <div class="container">
            <div class="row g-xl-4 g-2">
                <div class="col-md-6">
                    <a routerLink="/shop-left-sidebar" class="d-block position-relative cat_grid_item overflow-hidden h-570">
                        <div class="h-100 w-100 cat-grid-img" style="background-image: url('assets/images/home-classic/cat-women.jpg');"></div>
                        <div class="cat-grid-button text-body">
                            <div class="cat_grid_item__title">Women</div>
                        </div>
                    </a>
                    <div class="row gx-xl-4 gx-2 mt-xl-4 mt-2">
                        <div class="col-6">
                            <a routerLink="/shop-left-sidebar" class="d-block position-relative cat_grid_item overflow-hidden h-300">
                                <div class="h-100 w-100 cat-grid-img" style="background-image: url('assets/images/home-classic/cat-bags.jpg');"></div>
                                <div class="cat-grid-button text-body">
                                    <div class="cat_grid_item__title">Bags</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-6">
                            <a routerLink="/shop-left-sidebar" class="d-block position-relative cat_grid_item overflow-hidden h-300">
                                <div class="h-100 w-100 cat-grid-img" style="background-image: url('assets/images/home-classic/cat-footerwear.jpg');">
                                </div>
                                <div class="cat-grid-button text-body">
                                    <div class="cat_grid_item__title">Footwear</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <a routerLink="/shop-left-sidebar" class="d-block position-relative cat_grid_item overflow-hidden h-300 mb-xl-4 mb-2">
                        <div class="h-100 w-100 cat-grid-img" style="background-image: url('assets/images/home-classic/cat-men.jpg');background-position: center;">
                        </div>
                        <div class="cat-grid-button text-body">
                            <div class="cat_grid_item__title">Men</div>
                        </div>
                    </a>
                    <a routerLink="/shop-left-sidebar" class="d-block position-relative cat_grid_item overflow-hidden h-570">
                        <div class="h-100 w-100 cat-grid-img" style="background-image: url('assets/images/home-classic/cat-watch.jpg'); background-position: center;">
                        </div>
                        <div class="cat-grid-button text-body">
                            <div class="cat_grid_item__title">Watch</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <app-trending-card></app-trending-card>

    <section>
        <div class="container">
            <div class="row g-lg-4 g-3 gy-md-0 gy-4 align-items-center">
                <div class="col-md-4">
                    <a routerLink="/shop-right-sidebar" class="kalles-banner-promotion d-block">
                        <img src="assets/images/home-classic/pr-big-23.jpg" alt="" class="img-fluid">
                        <div class="p-20 position-absolute bottom-0 left-0 text-body">
                            <p class="text-uppercase fw-medium fs-14 mb-1">View Collections</p>
                            <h3 class="fs-35">LOOKBOOK</h3>
                            <p class="text-muted mb-0">your world of fashion in numbers</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <div class="kalles-banner-promotion topbar-product-card">
                        <div class="position-relative overflow-hidden">
                            <span class="new-label bg-danger text-white rounded-circle"> -34% </span>
                            <img src="assets/images/home-classic/pr-big-24.jpg" alt="" class="img-fluid">
                            <a href="javascript:void(0);" class="d-lg-none position-absolute " style="z-index: 1; top:10px; left:10px;" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add to Wishlist"><i class="facl facl-heart-o text-white"></i></a>
                            <a href="javascript:void(0);" class="wishlistadd d-none d-lg-flex position-absolute" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add to Wishlist"><i class="facl facl-heart-o text-white"></i></a>

                            <div class="product-button d-none d-lg-flex flex-column gap-2">
                                <a href="javascript:void(0);" (click)="openModal('exampleModal')" class="btn rounded-pill fs-14"><span>Quick View</span> <i class="iccl iccl-eye"></i></a>
                                <button type="button" class="btn rounded-pill fs-14" (click)="openModal('cardModal')" class="btn rounded-pill fs-14"><span>Quick Shop</span>
                                    <i class="iccl iccl-cart"></i></button>
                            </div>
                            <div class="position-absolute d-lg-none bottom-0 end-0 d-flex flex-column bg-white rounded-pill m-2" style="z-index: 1;">
                                <a href="javascript:void(0);" (click)="openModal('exampleModal')" class="btn responsive-cart rounded-pill fs-14 p-2" style="width:36px; height: 36px;"><i class="iccl iccl-eye fw-semibold"></i></a>
                                <button type="button" class="btn responsive-cart rounded-pill fs-14 p-2" style="width:36px; height: 36px;" (click)="openModal('cardModal')" class="btn rounded-pill fs-14">
                                    <i class="iccl iccl-cart fw-semibold"></i></button>
                            </div>
                            <div class="product-size text-center d-none d-lg-block">
                                <h6 class="mb-1"><a routerLink="/product-detail-layout-01" class="main_link">La Bohème
                                        Rose Gold</a></h6>
                                <p class="mb-0 fs-14 text-muted">
                                    <del>$60.00</del>
                                    <span class="text-danger">$45.00</span>
                                </p>
                                <div class="product-color-list mt-1 gap-2 d-flex align-items-center justify-content-center p-2">
                                    <a href="javascript:void(0);" x-on:mouseover="imageUrl = 'assets/images/home-classic/pr-big-24.jpg'" x-on:click.prevent="imageUrl = 'assets/images/home-classic/pr-big-24.jpg'" class="d-inline-block bg_color_pink rounded-circle"></a>
                                    <a href="javascript:void(0);" x-on:mouseover="imageUrl = 'assets/images/home-classic/pr-big-25.jpg'" x-on:click.prevent="imageUrl = 'assets/images/home-classic/pr-big-25.jpg'" class="d-inline-block bg-dark rounded-circle"></a>
                                </div>
                            </div>
                            <div class="count-time d-none d-lg-block" data-date="10-10-2028">
                                <ul class="list-unstyled d-flex gap-2 align-items-center text-center justify-content-center mb-0">
                                    <li class="bg-dark text-white text-white-50 fs-12 rounded"><span class="days text-white fs-14">0</span>days</li>
                                    <li class="bg-dark text-white text-white-50 fs-12 rounded"><span class="text-white fs-14">00</span>Hours</li>
                                    <li class="bg-dark text-white text-white-50 fs-12 rounded"><span class="min text-white fs-14">00</span>Minutes</li>
                                    <li class="bg-dark text-white text-white-50 fs-12 rounded"><span class="sc text-white fs-14">00</span>Seconds</li>
                                </ul>
                            </div>
                        </div>
                        <div class="d-lg-none">
                            <div class="text-center mt-3">
                                <h6 class="mb-1"><a routerLink="/product-detail-layout-01" class="main_link">La Bohème
                                        Rose Gold</a></h6>
                                <p class="mb-0 fs-14 text-muted">
                                    <del>$60.00</del>
                                    <span class="text-danger">$45.00</span>
                                </p>
                                <div class="product-color-list mt-1 gap-2 d-flex align-items-center justify-content-center p-2">
                                    <a href="javascript:void(0);" x-on:mouseover="imageUrl = 'assets/images/home-classic/pr-big-24.jpg'" x-on:click.prevent="imageUrl = 'assets/images/home-classic/pr-big-24.jpg'" class="d-inline-block bg_color_pink rounded-circle"></a>
                                    <a href="javascript:void(0);" x-on:mouseover="imageUrl = 'assets/images/home-classic/pr-big-25.jpg'" x-on:click.prevent="imageUrl = 'assets/images/home-classic/pr-big-25.jpg'" class="d-inline-block bg-dark rounded-circle"></a>
                                </div>
                            </div>
                            <div class="count-time position-relative mt-4 d-lg-block d-none" data-date="10-10-2028">
                                <ul class="list-unstyled d-flex gap-2 align-items-center text-center justify-content-center mb-0">
                                    <li class="bg-dark text-white text-white-50 fs-12 rounded" style="min-width: 50px;"><span class="days text-white fs-14">0</span>days</li>
                                    <li class="bg-dark text-white text-white-50 fs-12 rounded" style="min-width: 50px;"><span class=" text-white fs-14">00</span>Hours</li>
                                    <li class="bg-dark text-white text-white-50 fs-12 rounded" style="min-width: 50px;"><span class="min text-white fs-14">00</span>Minutes</li>
                                    <li class="bg-dark text-white text-white-50 fs-12 rounded" style="min-width: 50px;"><span class="sc text-white fs-14">00</span>Seconds</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <a routerLink="/shop" class="kalles-banner-promotion d-block">
                        <img src="assets/images/home-classic/pr-big-26.jpg" alt="" class="img-fluid">
                        <div class="p-20 position-absolute top-50 end-0 text-body start-0 content-position text-center">
                            <p class="text-uppercase fw-medium fs-18 mb-1">Men Collection</p>
                            <h3 class="fs-50">SALE 70%</h3>
                            <button class="btn btn-custom-dark fw-medium min-w-150 rounded-pill">Shop Now</button>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <app-our-product></app-our-product>

    <app-latest-blog></app-latest-blog>

    <app-follow-instagram></app-follow-instagram>

    <app-shipping></app-shipping>

    <app-footer></app-footer>

    <app-popup></app-popup>

</div>
<app-card-model></app-card-model>