<div class="banner-section position-relative">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-6">
                <a href="javascript:void(0);" class="position-relative hover-zoom d-block">
                    <img src="assets/images/home-01/bn-05.jpg" alt="" class="img-fluid hover-zoom-img">
                    <div class="position-absolute start-0 start-0 end-0 top-0 bottom-0 d-flex align-items-center justify-content-center">
                        <div class="text-center text-white">
                            <h4 class="fs-24">LOOKBOOK 2021</h4>
                            <h6 class="mb-0">MAKE LOVE THIS LOOK</h6>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6">
                <a href="javascript:void(0);" class="position-relative hover-zoom d-block">
                    <img src="assets/images/home-01/bn-06.jpg" alt="" class="img-fluid hover-zoom-img">
                    <div class="position-absolute start-0 start-0 end-0 top-0 bottom-0 d-flex align-items-center justify-content-center">
                        <div class="text-center text-white">
                            <h6 class="text-capitalize mb-2">Summer Sale</h6>
                            <h1 class="mb-0" style="font-size: 50px;">UP TO 70%</h1>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>