<app-top-banner [className]="'navbar-green'"></app-top-banner>

<app-header-flower [className]="'navbar-green'"></app-header-flower>

<div>

    <div class="kalles-home-section type_slideshow swiper kalles-flower">
        <div class="slideshow swiper-wrapper">

            <div class="slideshow__slide swiper-slide">
                <img src="assets/images/home-flower/slide-01.jpg" alt="" class="position-absolute w-100 h-100 object-fit-cover">
                <div class="container position-relative">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="content">
                                <h5 class="text-green2 fs-18 fw-medium">Honor your moment!</h5>
                                <h1 class="fs-55 fw-semibold text-pink2 mb-3">Flower Shop & Florist</h1>
                                <p class="fs-16 text-muted me-xl-5">Floral Hair Few things like flowers in your hair
                                    to make you feel like a goddess during quarantine.</p>
                                <a routerLink="/shop">
                                    <div class="btn btn-success bg-green2 border-0 text-white rounded-pill min-w-150 min-h-45 d-inline-flex align-items-center justify-content-center fw-semibold">
                                        Explore Now</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="slideshow__slide swiper-slide">
                <img src="assets/images/home-flower/slide-02.png" alt="" class="position-absolute w-100 h-100">
                <div class="container position-relative">
                    <div class="row justify-content-end">
                        <div class="col-lg-6">
                            <div class="content text-end">
                                <h5 class="text-green2 fs-18 fw-medium">Wedding Decor</h5>
                                <h1 class="fs-55 fw-semibold text-pink2 mb-3">Floral Arrangment</h1>
                                <p class="fs-16 text-muted ms-xl-5">When presented with this event, we're given the
                                    creative freedom with flower selection and color palette.</p>
                                <a routerLink="/shop">
                                    <div class="btn btn-success bg-green2 border-0 text-white rounded-pill min-w-150 min-h-45 d-inline-flex align-items-center justify-content-center fw-semibold">
                                        Discovery</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="slideshow__slide swiper-slide">
                <img src="assets/images/home-flower/slide-03.jpg" alt="" class="position-absolute w-100 h-100 object-fit-cover">
                <div class="container position-relative">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="content">
                                <h5 class="text-green2 fs-18 fw-medium">Flashback Friday</h5>
                                <h1 class="fs-55 fw-semibold text-pink2 mb-3">Daydream Bouquet</h1>
                                <p class="fs-16 text-muted me-xl-5">The bridal bouquet featured three types of
                                    Protea and two types of roses. Come by and say Hi!</p>
                                <a routerLink="/shop">
                                    <div class="btn btn-success bg-green2 border-0 text-white rounded-pill min-w-150 min-h-45 d-inline-flex align-items-center justify-content-center fw-semibold">
                                        Explore Now</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <section class="kalles-flower-type-section cat-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="text-center">
                        <img src="assets/images/home-flower/who-we-are.png" alt="" class="img-fluid d-block mx-auto">
                        <p class="text-muted mt-2">Kalles landscape is a full service design studio based in Studio
                            City (California) offering landscape, planting, material, and layout plans.
                            We focus on the spatial relations created in our designs so they are functional,
                            meaningful, and aesthetically appealing
                            to both the architectural style of the property and end user. </p>
                        <img src="assets/images/home-flower/we-sign.png" alt="" class="img-fluid d-block mx-auto">
                        <p class="text-muted mt-3">Camila Menson, owner of Kalles Flowers shop.</p>
                    </div>
                </div>
            </div>
            <div class="row g-lg-4 g-2 mt-2">
                <div class="col-md-6">
                    <a routerLink="/shop-left-sidebar" class="d-block position-relative cat_grid_item overflow-hidden h-624">
                        <div class="h-100 w-100 cat-grid-img" style="background-image: url('assets/images/home-flower/cat-01.png');"></div>
                        <div class="cat-grid-button text-body">
                            <div class="cat_grid_item__title">Events</div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-6">
                    <a routerLink="/shop-left-sidebar" class="d-block position-relative cat_grid_item overflow-hidden h-300 mb-lg-4 mb-2">
                        <div class="h-100 w-100 cat-grid-img" style="background-image: url('assets/images/home-flower/cat-02.jpg');"></div>
                        <div class="cat-grid-button text-body">
                            <div class="cat_grid_item__title">Accessories</div>
                        </div>
                    </a>
                    <a routerLink="/shop-left-sidebar" class="d-block position-relative cat_grid_item overflow-hidden h-300">
                        <div class="h-100 w-100 cat-grid-img" style="background-image: url('assets/images/home-flower/cat-03.jpg');"></div>
                        <div class="cat-grid-button text-body">
                            <div class="cat_grid_item__title">Wedding Decor</div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-6">
                    <a routerLink="/shop-left-sidebar" class="d-block position-relative cat_grid_item overflow-hidden h-624">
                        <div class="h-100 w-100 cat-grid-img" style="background-image: url('assets/images/home-flower/cat-04.jpg');"></div>
                        <div class="cat-grid-button text-body">
                            <div class="cat_grid_item__title">Home Decor</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="mt-40 pt-30">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="text-center">
                        <div class="mb-2">
                            <h3 class="section-title position-relative flex">
                                <span>TRENDING</span>
                            </h3>
                        </div>
                        <span class="section-subtitle sub-title font-secondary fst-italic fs-14 text-muted">Top view
                            in this week</span>
                    </div>
                </div>
            </div>
            <div class="row g-lg-4 g-3 mt-4">
                <div class="col-md-3 col-6" *ngFor="let product of products">
                    <div class="topbar-product-card" (mouseenter)="product.isHovered = true" (mouseleave)="product.isHovered = false
                    ">
                        <div class="position-relative overflow-hidden">
                            <span *ngIf="product.discount" class="new-label bg-success text-white rounded-circle text-center">{{ product.discount }}</span>
                            <img [src]="product.isHovered ? product.hoverImageUrl : product.imageUrl" alt="" class="img-fluid">
                            <a href="javascript:void(0);" class="d-lg-none position-absolute" style="z-index: 1; top:10px; left:10px;" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add to Wishlist">
                                <i class="facl facl-heart-o text-white"></i>
                            </a>
                            <a href="javascript:void(0);" class="wishlistadd d-none d-lg-flex position-absolute" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add to Wishlist">
                                <i class="facl facl-heart-o text-white"></i>
                            </a>
                            <div class="product-button d-none d-lg-flex flex-column gap-2">
                                <a href="javascript:void(0);" (click)="openModal('exampleModal')" class="btn rounded-pill bg-pink2 text-white fs-14">
                                    <span>Quick View</span> <i class="iccl iccl-eye"></i>
                                </a>
                                <button type="button" class="btn bg-pink2 text-white rounded-pill fs-14" (click)="openModal('cardModal')">
                                    <span>Quick Shop</span> <i class="iccl iccl-cart"></i>
                                </button>
                            </div>
                            <div class="position-absolute d-lg-none bottom-0 end-0 d-flex flex-column bg-white rounded-pill m-2" style="z-index: 1;">
                                <a href="javascript:void(0);" (click)="openModal('exampleModal')" class="btn bg-pink2 text-white responsive-cart rounded-pill fs-14 p-2" style="width:36px; height: 36px;">
                                    <i class="iccl iccl-eye fw-semibold text-white"></i>
                                </a>
                                <button type="button" class="btn responsive-cart bg-pink2 rounded-pill fs-14 p-2" style="width:36px; height: 36px;" (click)="openModal('cardModal')">
                                    <i class="iccl iccl-cart fw-semibold text-white"></i>
                                </button>
                            </div>
                        </div>
                        <div class="mt-3">
                            <h6 class="mb-2 fw-normal text-pink2">
                                <a routerLink="/product-detail-layout-01" class="text-pink2">{{ product.title }}</a>
                            </h6>
                            <p class="mb-0 fs-14 text-muted">
                                <span *ngIf="product.salePrice" class="text-danger">{{ product.salePrice | currency }}</span>
                                <span *ngIf="!product.salePrice">{{ product.price | currency }}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <div class="banner-section position-relative">
        <div class="container">
            <div class="row g-0">
                <div class="col-md-6">
                    <div class="position-relative overflow-hidden img-zoom">
                        <img src="assets/images/home-flower/card-info-01.jpg" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="position-relative overflow-hidden img-zoom">
                        <img src="assets/images/home-flower/card-info-02.jpg" alt="" class="img-fluid">
                        <div class="position-absolute top-0 start-0 end-0 bottom-0 p-4 text-center d-flex align-items-center justify-content-center">
                            <div>
                                <h2 class=" mb-4">Fall Floral Arranging Workshop</h2>
                                <p class="text-muted pb-2">Flowers look great in a vase, but if you've got a little
                                    extra time at home these days and need a fun project, here are five great ways
                                    to play with your flowers! Floral things like flowers in your hair to make you
                                    feel like a goddess. </p>
                                <a href="javascript:void(0);" class="btn btn-custom-dark fw-medium rounded-pill min-w-150">Shop
                                    Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="text-center">
                        <div class="mb-2">
                            <h3 class="section-title position-relative flex text-uppercase">
                                <span>Best Seller</span>
                            </h3>
                        </div>
                        <span class="section-subtitle sub-title font-secondary fst-italic fs-14 text-muted">Top sale
                            in this week</span>
                    </div>
                </div>
            </div>
            <div class="row g-lg-4 g-3 mt-4">
                <div *ngFor="let product of products2" class="col-md-3 col-6">
                    <div class="topbar-product-card" (mouseenter)="product.isHovered = true" (mouseleave)="product.isHovered = false">
                        <div class="position-relative overflow-hidden">
                            <img [src]="product.isHovered ? product.hoverImageUrl : product.imageUrl" alt="" class="img-fluid">
                            <a href="javascript:void(0);" class="d-lg-none position-absolute " style="z-index: 1; top:10px; left:10px;" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add to Wishlist">
                                <i class="facl facl-heart-o text-white"></i>
                            </a>
                            <a href="javascript:void(0);" class="wishlistadd d-none d-lg-flex position-absolute" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add to Wishlist">
                                <i class="facl facl-heart-o text-white"></i>
                            </a>

                            <div class="product-button d-none d-lg-flex flex-column gap-2">
                                <a href="javascript:void(0);" (click)="openModal('exampleModal')" class="btn rounded-pill bg-pink2 text-white fs-14"><span>Quick View</span> <i class="iccl iccl-eye"></i></a>
                                <button type="button" class="btn bg-pink2 text-white rounded-pill fs-14" (click)="openModal('cardModal')">
                                    <span>Quick Shop</span>
                                    <i class="iccl iccl-cart"></i>
                                </button>
                            </div>
                            <div class="position-absolute d-lg-none bottom-0 end-0 d-flex flex-column bg-white rounded-pill m-2" style="z-index: 1;">
                                <a href="javascript:void(0);" (click)="openModal('exampleModal')" class="btn bg-pink2 text-white responsive-cart rounded-pill fs-14 p-2" style="width:36px; height: 36px;">
                                    <i class="iccl iccl-eye fw-semibold text-white"></i>
                                </a>
                                <button type="button" class="btn responsive-cart bg-pink2 rounded-pill fs-14 p-2" style="width:36px; height: 36px;" (click)="openModal('cardModal')">
                                    <i class="iccl iccl-cart fw-semibold text-white"></i>
                                </button>
                            </div>
                        </div>
                        <div class="mt-3">
                            <h6 class="mb-2 fw-normal"><a routerLink="/product-detail-layout-01" class="text-pink2">{{ product.title }}</a></h6>
                            <p class="mb-0 fs-14 text-muted">
                                <span>{{ product.price | currency }}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="kalles-section_type_featured_blog">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="text-center mb-4 pb-2">
                        <div class="mb-2">
                            <h3 class="section-title position-relative flex text-uppercase">
                                <span style="white-space: nowrap;">Lates from Blog</span>
                            </h3>
                        </div>
                        <span class="section-subtitle sub-title font-secondary fst-italic fs-14 text-muted">The
                            freshest and most exciting news</span>
                    </div>
                </div>
            </div>
            <div class="row g-4 blog-arrow swiper flowerSwiper" dir="ltr">
                <div class="swiper-wrapper">
                    <div class="col-md-4 swiper-slide">
                        <div class="blog-card">
                            <a routerLink="/blog-left-sidebar" class="overflow-hidden d-block blog-wrap">
                                <img src="assets/images/home-flower/blog-01.jpg" alt="" class="img-fluid">
                            </a>
                            <h6 class="fs-16 mt-3 main_link_primary mb-2"><a routerLink="/blog-post-with-instagram-shop" class="text-reset">5 Ways to Play: Florals at home!</a></h6>
                            <div class="post-content text-muted">Dried flower straw wreathes are super fun and easy to
                                make. Don't have dried flowers? We couldn’t be more thrilled ...</div>
                        </div>
                    </div>
                    <div class="col-md-4 swiper-slide">
                        <div class="blog-card">
                            <a routerLink="/blog-left-sidebar" class="overflow-hidden d-block blog-wrap">
                                <img src="assets/images/home-flower/blog-02.jpg" alt="" class="img-fluid">
                            </a>
                            <h6 class="fs-16 mt-3 main_link_primary mb-2"><a routerLink="/blog-post-with-instagram-shop" class="text-reset">Ed Alfrey and Warner Brothers Event</a></h6>
                            <div class="post-content text-muted">Flowers look great in a vase, but if you've got a
                                little extra time at home these days and need a fun project, here...</div>
                        </div>
                    </div>
                    <div class="col-md-4 swiper-slide">
                        <div class="blog-card">
                            <a routerLink="/blog-left-sidebar" class="overflow-hidden d-block blog-wrap">
                                <img src="assets/images/home-flower/blog-03.jpg" alt="" class="img-fluid">
                            </a>
                            <h6 class="fs-16 mt-3 main_link_primary mb-2"><a routerLink="/blog-post-with-instagram-shop" class="text-reset">A Wanderlust Wedding</a></h6>
                            <div class="post-content text-muted">In January, WildFlora got the opportunity to once again
                                work with Fundamental Events Catering (always a pleasure!) ...</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="text-center mb-4">
                        <div>
                            <h3 class="section-title position-relative flex text-uppercase">
                                <span>&#64; Follow us on Instagram</span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row swiper flower-insta">
                <div class=" swiper-wrapper">
                    <div class="col-lg-2 col-md-3 col-6 swiper-slide">
                        <div class="insta-card position-relative">
                            <img src="assets/images/home-flower/instagram-01.png" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-6 swiper-slide">
                        <div class="insta-card position-relative">
                            <img src="assets/images/home-flower/instagram-04.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-6 swiper-slide">
                        <div class="insta-card position-relative">
                            <img src="assets/images/home-flower/instagram-05.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-6 swiper-slide">
                        <div class="insta-card position-relative">
                            <img src="assets/images/home-flower/instagram-06.png" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-6 swiper-slide">
                        <div class="insta-card position-relative">
                            <img src="assets/images/home-flower/instagram-07.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-6 swiper-slide">
                        <div class="insta-card position-relative">
                            <img src="assets/images/home-flower/instagram-08.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-6 swiper-slide">
                        <div class="insta-card position-relative">
                            <img src="assets/images/home-flower/instagram-02.png" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-6 swiper-slide">
                        <div class="insta-card position-relative">
                            <img src="assets/images/home-flower/instagram-01.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <app-shipping></app-shipping>

    <app-footer-flower></app-footer-flower>

    <app-popup></app-popup>

</div>

<app-card-model></app-card-model>