<div class="responsive-footer d-lg-none position-fixed bottom-0 start-0 end-0 d-flex align-items-center justify-content-around gap-3 py-2 z-2">
    <a routerLink="/shop-filter-sidebar">
        <div class="toolbar_icon text-center"></div>
        <h6 class="fw-medium fs-12 pt-2 mb-0">Shop</h6>
    </a>
    <a routerLink="/wishlist">
        <div class="toolbar_icon text-center icon3 position-relative">
            <span class="position-absolute top-0 tag">3</span>
        </div>
        <h6 class="fw-medium fs-12 pt-2 mb-0">Wishlist</h6>
    </a>
    <a (click)="openOffcanvas('shoppingCartOffcanvas')" aria-controls="shoppingCartOffcanvas">
        <div class="toolbar_icon text-center icon4">
            <span class="position-absolute top-0 tag">5</span>
        </div>
        <h6 class="fw-medium fs-12 pt-2 ms-2 mb-0">Cart</h6>
    </a>
    <a (click)="openOffcanvas('accountOffcanvas')">
        <div class="toolbar_icon text-center icon5"></div>
        <h6 class="fw-medium fs-12 pt-2 mb-0">Account</h6>
    </a>
    <a (click)="openOffcanvas('searchOffcanvas')" aria-controls="searchOffcanvas">
        <div class="toolbar_icon text-center icon6"></div>
        <h6 class="fw-medium fs-12 pt-2 mb-0">Search</h6>
    </a>
</div>