<app-top-banner></app-top-banner>
<app-header></app-header>
<div>
    <div style="background-image: url('assets/images/portfolio/p-04.jpg'); " class="position-relative">
        <div class="position-absolute top-0 start-0 right-0 bottom-0 bg-dark w-100 opacity-50"></div>
        <div class="px-4">
            <div class="text-white text-center py-5 position-relative">
                <h4 class="fs-20 fw-medium"> BRANDING DESIGN MOCKUP</h4>
                <p class="fs-14 section-subtitle sub-title font-secondary fst-italic">April 5, 2020</p>
            </div>
        </div>
    </div>
    <section>
        <div class="container">
            <div class="my-4 text-muted">
                <p>
                    Typography is the work of <b class="fw-semibold">typesetters, compositors, typographers, graphic
                        designers, art directors, manga artists, comic book artists, graffiti artists,</b> and
                    now—anyone
                    who arranges words, letters, numbers, and symbols for publication, display, or distribution—from
                    clerical workers and newsletter writers to anyone self-publishing materials.
                </p>
                <p class="sub-title font-secondary my-3 fst-italic py-4 px-5" style="background-color: #f1f1f1;">
                    Sed utgio perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                    laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
                    beatae vitae dicta sunt explicabo.
                </p>
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
                    magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                <div class="row row-cols-2 row-cols-md-3 g-2">
                    <div class="col">
                        <a routerLink="/shop" class="db">
                            <img src="assets/images/portfolio/gallery-full-size-01.jpg" class="img-fluid h-100" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink="/shop" class="db">
                            <img src="assets/images/portfolio/gallery-02.jpg" class="img-fluid h-100" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink="/shop" class="db">
                            <img src="assets/images/portfolio/gallery-03.jpg" class="img-fluid h-100" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink="/shop" class="db">
                            <img src="assets/images/portfolio/gallery-04.jpg" class="img-fluid h-100" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink="/shop" class="db">
                            <img src="assets/images/portfolio/gallery-05.jpg" class="img-fluid h-100" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink="/shop" class="db">
                            <img src="assets/images/portfolio/gallery-06.jpg" class="img-fluid h-100" alt="">
                        </a>
                    </div>
                </div>
                <p class="py-3">Typography is the work of
                    <strong>typesetters, compositors, typographers, graphic designers, art directors, manga artists,
                        comic book artists, graffiti artists,</strong> and now—anyone who arranges words, letters,
                    numbers, and symbols for publication, display, or distribution—from clerical workers and newsletter
                    writers to anyone self-publishing materials.
                </p>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="py-3">
                <div class="d-flex justify-content-center mb-5">
                    <h3 class="section-title position-relative">
                        Shop The Look
                    </h3>
                </div>
                <div class="row swiper shopSwiper">
                    <div class="swiper-wrapper">
                        <div class="col-md-3 col-6 swiper-slide">
                            <div class="insta-card position-relative">
                                <img src="assets/images/instagram/ins1_14.jpg" alt="" class="img-fluid">
                                <a href="javascript:void(0);" (click)="openModal()" class="card-spin position-01 position-absolute fs-14 bg-dark text-white rounded-circle fw-semibold">1</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-6 swiper-slide">
                            <div class="insta-card position-relative">
                                <img src="assets/images/instagram/ins1_8.jpg" alt="" class="img-fluid">
                                <a href="javascript:void(0);" (click)="openModal()" class="card-spin position-02 position-absolute fs-14 bg-dark text-white rounded-circle fw-semibold">1</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-6 swiper-slide">
                            <div class="insta-card position-relative">
                                <img src="assets/images/instagram/ins1_1.jpg" alt="" class="img-fluid">
                                <a href="javascript:void(0);" (click)="openModal()" class="card-spin position-03 position-absolute fs-14 bg-dark text-white rounded-circle fw-semibold">1</a>
                                <a href="javascript:void(0);" (click)="openModal()" class="card-spin position-04 position-absolute fs-14 bg-dark text-white rounded-circle fw-semibold">2</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-6 swiper-slide">
                            <div class="insta-card position-relative">
                                <img src="assets/images/instagram/ins1_6.jpg" alt="" class="img-fluid">
                                <a href="javascript:void(0);" (click)="openModal()" class="card-spin position-05 position-absolute fs-14 bg-dark text-white rounded-circle fw-semibold">1</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-6 swiper-slide">
                            <div class="insta-card position-relative">
                                <img src="assets/images/instagram/ins1_5.jpg" alt="" class="img-fluid">
                                <a href="javascript:void(0);" (click)="openModal()" class="card-spin position-06 position-absolute fs-14 bg-dark text-white rounded-circle fw-semibold">1</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-6 swiper-slide">
                            <div class="insta-card position-relative">
                                <img src="assets/images/instagram/ins1_4.jpg" alt="" class="img-fluid">
                                <a href="javascript:void(0);" (click)="openModal()" class="card-spin position-07 position-absolute fs-14 bg-dark text-white rounded-circle fw-semibold">1</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-6 swiper-slide">
                            <div class="insta-card position-relative">
                                <img src="assets/images/instagram/ins1_2.jpg" alt="" class="img-fluid">
                                <a href="javascript:void(0);" (click)="openModal()" class="card-spin position-02 position-absolute fs-14 bg-dark text-white rounded-circle fw-semibold">1</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-6 swiper-slide">
                            <div class="insta-card position-relative">
                                <img src="assets/images/instagram/ins1_13.jpg" alt="" class="img-fluid">
                                <a href="javascript:void(0);" (click)="openModal()" class="card-spin position-02 position-absolute fs-14 bg-dark text-white rounded-circle fw-semibold">1</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row my-4 my-md-5 g-3">
                    <div class="col-md-6 col-lg-4 text-center border-end">
                        <h6>CATEGORY:</h6>
                        <p class="text-muted">Portfolio</p>
                    </div>
                    <div class="col-md-6 col-lg-4 text-center border-end">
                        <h6>AUTHOR:</h6>
                        <p class="text-muted">Admin</p>
                    </div>
                    <div class="col-md-6 col-lg-4 text-center">
                        <h6>TAGS:</h6>
                        <p class="text-muted">Accessories, Diy, Handmade</p>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <a href="https://www.facebook.com" class="facebook social-icon d-flex justify-content-center align-items-center" data-bs-toggle="tooltip" title=" Share on Facebook">
                        <i class="facl facl-facebook"></i>
                    </a>
                    <a href="https://twitter.com" class="twitter social-icon d-flex justify-content-center align-items-center " data-bs-toggle="tooltip" title=" Share on Twitter">
                        <i class="facl facl-twitter"></i>
                    </a>
                    <a href="https://www.facebook.com" class="facebook social-icon d-flex justify-content-center align-items-center " data-bs-toggle="tooltip" title=" Share on Email">
                        <i class="facl facl-facebook"></i>
                    </a>
                    <a href="https://www.pinterest.com" class="pinterest social-icon d-flex justify-content-center align-items-center " data-bs-toggle="tooltip" title=" Share on Pinterest">
                        <i class="facl facl-pinterest"></i>
                    </a>
                    <a href="javascript:void(0);" class="tumblr social-icon d-flex justify-content-center align-items-center " data-bs-toggle="tooltip" title=" Share on tumblr">
                        <i class="facl facl-tumblr"></i>
                    </a>
                    <a href="javascript:void(0);" class="telegram social-icon d-flex justify-content-center align-items-center " data-bs-toggle="tooltip" title=" Share on Telegram">
                        <i class="facl facl-telegram"></i>
                    </a>
                </div>
                <div class="py-5 tooltip-back d-flex justify-content-center mt-4">
                    <a routerLink="/single-portfolio-with-shop">
                        <h1>
                            <i class="pegk pe-7s-angle-left text-muted" data-toggle="tooltip" title=" Handmade Candle "></i>
                        </h1>
                    </a>
                    <a routerLink="/single-portfolio-with-shop">
                        <i class="pegk pe-7s-keypad text-muted mx-5" style="font-size: 40px;" data-toggle="tooltip" title="Back to Portfolio "></i>
                    </a>
                    <a routerLink="/single-portfolio-with-shop">
                        <h1>
                            <i class="pegk pe-7s-angle-right text-muted" data-toggle="tooltip" title="Handmade Craft "></i>
                        </h1>
                    </a>
                </div>
            </div>
            <div>
                <div class="d-flex justify-content-center mb-4">
                    <h4 class="fw-bold">
                        RELATED PORTFOLIO
                    </h4>
                </div>
                <div class="row py-2 blog-arrow kalles-blog-grid pb-5 mb-4 swiper SwiperInsta">
                    <div class="swiper-wrapper">
                        <div class="col-md-4 col-sm-6 px-2 slideshow__slide swiper-slide">
                            <a routerLink="/shop" class="d-lg-block portfolio-img text-black text-center">
                                <img src="assets/images/portfolio/p-01.jpg" class="img-fluid" alt="">
                                <div class="position-absolute start-50 translate-middle portfolio-card-detail" style="z-index: 2;">
                                    <h6>WOMEN SHOES</h6>
                                    <p class="text-muted">Accessories, DIY, Handmade</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 px-2 slideshow__slide swiper-slide">
                            <a routerLink="/shop" class="d-lg-block portfolio-img text-black text-center">
                                <img src="assets/images/portfolio/p-02.jpg" class="img-fluid" alt="">
                                <div class="position-absolute start-50 translate-middle portfolio-card-detail" style="z-index: 2;">
                                    <h6>KALLES WATCH</h6>
                                    <p class="text-muted">Accessories, DIY, Handmade</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 px-2 slideshow__slide swiper-slide">
                            <a routerLink="/shop" class="d-lg-block portfolio-img text-black text-center">
                                <img src="assets/images/portfolio/p-03.jpg" class="img-fluid" alt="">
                                <div class="position-absolute start-50 translate-middle portfolio-card-detail" style="z-index: 2;">
                                    <h6>HANDMADE CRAFT</h6>
                                    <p class="text-muted">Accessories, DIY, Handmade</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
    <app-popup></app-popup>
</div>
<app-card-model></app-card-model>