<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <a href="javascript:void(0);">
                    <img src="assets/images/svg/kalles.svg" alt="" height="29">
                </a>

                <div class="mt-4 pt-2">
                    <p class="d-flex align-items-start text-muted gap-2">
                        <i class="pegk pe-7s-map-marker fs-24"></i>
                        <span>184 Main Rd E, St Albans <br> <span class="pl__30">VIC 3021, Australia</span></span>
                    </p>
                    <p class="d-flex align-items-start text-muted gap-2">
                        <i class="pegk pe-7s-mail fs-24"></i>
                        <a href="mailto:contact&#64;company.com" class="text-reset">contact&#64;company.com</a>
                    </p>
                    <p class="d-flex align-items-start text-muted gap-2">
                        <i class="pegk pe-7s-call fs-24"></i>
                        <span>+001 2233 456 </span>
                    </p>
                    <div class="footer-social d-flex align-items-center gap-4 mt-4">
                        <a href="https://www.facebook.com" class="d-inline-block">
                            <i class="facl facl-facebook"></i>
                        </a>
                        <a href="https://twitter.com" class="d-inline-block">
                            <i class="facl facl-twitter"></i>
                        </a>
                        <a href="https://www.instagram.com" class="d-inline-block">
                            <i class="facl facl-instagram"></i>
                        </a>
                        <a href="https://www.linkedin.com" class="d-inline-block">
                            <i class="facl facl-linkedin"></i>
                        </a>
                        <a href="https://www.pinterest.com" class="d-inline-block">
                            <i class="facl facl-pinterest"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <h6 class="fs-16">Categories</h6>
                <div class="mt-4 pt-2">
                    <ul class="menu list-unstyled">
                        <li class="menu-item">
                            <a routerLink="/shop-filter-sidebar">Men</a>
                        </li>
                        <li class="menu-item">
                            <a routerLink="/shop-filter-sidebar">Women</a>
                        </li>
                        <li class="menu-item">
                            <a routerLink="/shop-1600px-layout">Accessories</a>
                        </li>
                        <li class="menu-item">
                            <a routerLink="/shop-1600px-layout">Shoes</a>
                        </li>
                        <li class="menu-item">
                            <a routerLink="/shop-1600px-layout">Denim</a>
                        </li>
                        <li class="menu-item">
                            <a routerLink="/shop-1600px-layout">Dress</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2">
                <h6 class="fs-16">Infomation</h6>
                <div class="mt-4 pt-2">
                    <ul class="menu list-unstyled">
                        <li class="menu-item">
                            <a href="javascript:void(0);">About Us</a>
                        </li>
                        <li class="menu-item">
                            <a href="javascript:void(0);">Contact Us</a>
                        </li>
                        <li class="menu-item">
                            <a href="javascript:void(0);">Terms &amp; Conditions</a>
                        </li>
                        <li class="menu-item">
                            <a href="javascript:void(0);">Returns &amp; Exchanges</a>
                        </li>
                        <li class="menu-item">
                            <a href="javascript:void(0);">Shipping &amp; Delivery</a>
                        </li>
                        <li class="menu-item">
                            <a href="javascript:void(0);">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2">
                <h6 class="fs-16">Useful links</h6>
                <div class="mt-4 pt-2">
                    <ul class="menu list-unstyled">
                        <li class="menu-item">
                            <a href="javascript:void(0);">Store Location</a>
                        </li>
                        <li class="menu-item">
                            <a href="javascript:void(0);">Latest News</a>
                        </li>
                        <li class="menu-item">
                            <a href="javascript:void(0);">My Account</a>
                        </li>
                        <li class="menu-item">
                            <a href="javascript:void(0);">Size Guide</a>
                        </li>
                        <li class="menu-item">
                            <a href="javascript:void(0);">FAQs 2</a>
                        </li>
                        <li class="menu-item">
                            <a href="javascript:void(0);">FAQs</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2">
                <h6 class="fs-16">Quick links</h6>
                <div class="mt-4 pt-2">
                    <ul class="menu list-unstyled">
                        <li class="menu-item">
                            <a href="javascript:void(0);">About Us</a>
                        </li>
                        <li class="menu-item">
                            <a href="javascript:void(0);">Contact Us</a>
                        </li>
                        <li class="menu-item">
                            <a href="javascript:void(0);">Terms & Conditions</a>
                        </li>
                        <li class="menu-item">
                            <a href="javascript:void(0);">Returns & Exchanges</a>
                        </li>
                        <li class="menu-item">
                            <a href="javascript:void(0);">Shipping & Delivery</a>
                        </li>
                        <li class="menu-item">
                            <a href="javascript:void(0);">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="footer-alt mb-5 mb-lg-0 py-4">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 text-muted">
                Copyright ©
                <script>document.write(new Date().getFullYear())</script> <a href="javascript:void(0);" class="link-info">Kalles</a> all
                rights reserved. Powered by <span class="text-dark">The4</span>
            </div>
            <div class="col-sm-6">
                <ul id="footer-menu" class="list-unstyled d-flex align-items-center mb-0 justify-content-end">
                    <li class="menu-item ">
                        <a routerLink="/shop-filter-sidebar" class="text-muted mx-2">Shop</a>
                    </li>
                    <li class="menu-item ">
                        <a href="javascript:void(0);" class="text-muted mx-2">About Us</a>
                    </li>
                    <li class="menu-item ">
                        <a href="javascript:void(0);" class="text-muted mx-2">Contact</a>
                    </li>
                    <li class="menu-item ">
                        <a href="javascript:void(0);" class="text-muted mx-2">Blog</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<app-responsive-footer></app-responsive-footer>
<a href="javascript:void(0);" (click)="scrollToTop()" class="position-fixed bg-white border rounded d-flex align-items-center justify-content-center shadow" id="nt_backtop">
    <i class="pr pegk pe-7s-angle-up"></i>
</a>



<div class="backdrop-shadow d-none"></div>