<app-top-banner></app-top-banner>
<app-header></app-header>
<div>
    <div class="d-none d-lg-block navbar navbar-expand-lg py-1 border-top">
        <ul class=" list-unstyled navbar-nav justify-content-center ">
            <li class="nav-item">
                <a class="nav-link px-3" routerLink="/shop-full-width-layout">Accessories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-3" routerLink="/shop-1600px-layout">Bottom</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-3" routerLink="/shop-filter-sidebar">Denim</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-3" routerLink="/shop-right-sidebar">Dress</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-3" routerLink="/shop-filter-sidebar">Jackets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-3" routerLink="/shop-left-sidebar">Jewellery</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-3" routerLink="/shop-filter-sidebar">Men</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-3" routerLink="/shop-left-sidebar">Shoes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-3" routerLink="/shop-filter-sidebar">T-Shirt</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-3" routerLink="/shop-right-sidebar">Tops</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-3 text-teal" routerLink="/shop-filter-sidebar">Women</a>
            </li>
        </ul>
    </div>

    <div style="background-image: url('assets/images/shop/shop-banner.jpg'); background-position: center;" class="position-relative">
        <div class="position-absolute top-0 start-0 right-0 bottom-0 bg-dark w-100 opacity-50"></div>
        <div class="px-4">
            <div class="text-white text-center py-5 position-relative">
                <h4 class="fs-20 fw-medium">Women</h4>
                <p class="fs-14">Shop through our latest selection of Women’s Clothing and Accessories.</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class=" mt-5 d-flex justify-content-between align-items-center">
            <a href="javascript:void(0);" class="text-muted fs-16 align-items-center d-none d-lg-flex" id="filter-icon">
                <i class="iccl fwb iccl-filter fwb me-2 fw-medium" id="icon-filter"></i>
                <i class="pe-7s-close pegk d-none me-2 fw-medium fw-semibold" id="icon-close" style="font-size: 24px;"></i>
                <p class="mb-0">Filter</p>
            </a>
            <div class="d-flex align-items-center d-lg-none fs-16 text-muted" (click)="openOffcanvas('filterOffcanvas')">
                <i class="iccl fwb iccl-filter fwb me-2 fw-medium" id="icon-filter"></i>
                <i class="pe-7s-close pegk d-none me-2 fw-medium fw-semibold" id="icon-close" style="font-size: 24px;"></i>
                <p class="mb-0">Filter</p>
            </div>
            <ul class=" nav tab_header tab_filter gap-2 justify-content-end justify-content-sm-center" id="pills-tab" role="tablist">
                <li class="nav-item d-sm-none" role="presentation">
                    <button class="nav-link" id="best-pan1-tab" data-bs-toggle="pill" data-bs-target="#best-pan1" type="button" role="tab" aria-controls="best-pan1" aria-selected="true">
                        <div class="filter-option d-flex">
                            <div class="grid1"></div>
                        </div>
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link " id="best-seller-tab" data-bs-toggle="pill" data-bs-target="#best-seller" type="button" role="tab" aria-controls="best-seller" aria-selected="true">
                        <div class="filter-option d-flex">
                            <div class="grid1"></div>
                            <div class="grid1"></div>
                        </div>
                    </button>
                </li>
                <li class="nav-item d-none d-sm-block" role="presentation">
                    <button class="nav-link " id="featured-tab" data-bs-toggle="pill" data-bs-target="#featured" type="button" role="tab" aria-controls="featured" aria-selected="false">
                        <div class="filter-option d-flex">
                            <div class="grid1"></div>
                            <div class="grid1"></div>
                            <div class="grid1"></div>
                        </div>
                    </button>
                </li>
                <li class="nav-item d-none d-md-block" role="presentation">
                    <button class="nav-link active" id="sale-tab" data-bs-toggle="pill" data-bs-target="#sale" type="button" role="tab" aria-controls="sale" aria-selected="false">
                        <div class="filter-option d-flex">
                            <div class="grid1"></div>
                            <div class="grid1"></div>
                            <div class="grid1"></div>
                            <div class="grid1"></div>
                        </div>
                    </button>
                </li>
            </ul>
            <div class="dropdown">
                <button class="btn d-flex align-items-center justify-content-between featurnBtn rounded-pill dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Feature
                </button>
                <ul class="dropdown-menu filter-dropdown">
                    <li><a class="dropdown-item" href="javascript:void(0);">Feature</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Best selling</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Alphabetically, A-Z</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Alphabetically, Z-A</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Price, low to high</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Date, old to new</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Date, new to old</a></li>
                </ul>
            </div>
        </div>

        <div class="p-4 filter-box d-none mt-4">
            <div class="row m-sm-2 g-4 g-sm-2">

                <div class=" col-sm-6 col-lg-3">
                    <h5 class="mb-1 fw-medium"> By Vendor </h5>
                    <div class="filter-title"></div>
                    <div class="mt-3 filter-category">
                        <div class="round d-flex align-items-center pt-2 mb-2 gap-1">
                            <input class="form-check-input bg-black border-black p-1" type="checkbox" value="" id="colo1">
                            <label class="form-check-label ms-1" style="cursor: pointer;" for="color1">
                                Black
                            </label>
                        </div>
                        <div class="round d-flex align-items-center pt-2 mb-2 gap-1">
                            <input class="form-check-input bg-teal border-teal p-1" type="checkbox" value="" id="color2">
                            <label class="form-check-label ms-1" style="cursor: pointer;" for="color2">
                                Cyan
                            </label>
                        </div>
                        <div class="round d-flex align-items-center pt-2 mb-2 gap-1">
                            <input class="form-check-input bg-green2 p-1" type="checkbox" value="" id="color3">
                            <label class="form-check-label ms-1" style="cursor: pointer;" for="color3">
                                Green
                            </label>
                        </div>
                        <div class="round d-flex align-items-center pt-2 mb-2 gap-1">
                            <input class="form-check-input bg-cid-green border-cid-green p-1" type="checkbox" value="" id="color4">
                            <label class="form-check-label ms-1" style="cursor: pointer;" for="color4">
                                Gray
                            </label>
                        </div>
                        <div class="round d-flex align-items-center pt-2 mb-2 gap-1">
                            <input class="form-check-input bg-pink2 border-pink2 p-1" type="checkbox" value="" id="color5">
                            <label class="form-check-label ms-1" style="cursor: pointer;" for="color5">
                                Pink
                            </label>
                        </div>
                        <div class="round d-flex align-items-center pt-2 mb-2 gap-1">
                            <input class="form-check-input bg-sea border-sea p-1" type="checkbox" value="" id="color6">
                            <label class="form-check-label ms-1" style="cursor: pointer;" for="color6">
                                Sea
                            </label>
                        </div>
                        <div class="round d-flex align-items-center pt-2 mb-2 gap-1">
                            <input class="form-check-input bg-blue-dark border-blue-dark p-1" type="checkbox" value="" id="color7">
                            <label class="form-check-label ms-1" style="cursor: pointer;" for="color7">
                                Blue
                            </label>
                        </div>
                        <div class="round d-flex align-items-center pt-2 mb-2 gap-1">
                            <input class="form-check-input bg-red border-red p-1" type="checkbox" value="" id="color8">
                            <label class="form-check-label ms-1" style="cursor: pointer;" for="color8">
                                red
                            </label>
                        </div>
                        <div class="round d-flex align-items-center pt-2 mb-2 gap-1">
                            <input class="form-check-input bg-orange p-1 border-orange" type="checkbox" value="" id="color9">
                            <label class="form-check-label ms-1" style="cursor: pointer;" for="color9">
                                Orange
                            </label>
                        </div>
                    </div>
                </div>
                <div class=" col-sm-6 col-lg-3">
                    <h5 class="mb-1 fw-medium"> By Price </h5>
                    <div class="filter-title"></div>
                    <div class="mt-3">
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheck1">
                            <label class="form-check-label" for="flexCheck1">
                                $50-$100
                            </label>
                        </div>
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheck2">
                            <label class="form-check-label" for="flexCheck2">
                                $100-$150
                            </label>
                        </div>
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheck3">
                            <label class="form-check-label" for="flexCheck3">
                                $150-$200
                            </label>
                        </div>
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheck4">
                            <label class="form-check-label" for="flexCheck4">
                                $250-$300
                            </label>
                        </div>
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheck5">
                            <label class="form-check-label" for="flexCheck5">
                                $350-$400
                            </label>
                        </div>
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheck6">
                            <label class="form-check-label" for="flexCheck6">
                                $450-$500
                            </label>
                        </div>
                    </div>
                </div>
                <div class=" col-sm-6 col-lg-3">
                    <h5 class="mb-1 fw-medium"> By Size </h5>
                    <div class="filter-title"></div>
                    <div class="mt-3">
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked11">
                            <label class="form-check-label" for="flexCheckChecked11" style="cursor: pointer;">
                                L
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked21">
                            <label class="form-check-label" for="flexCheckChecked21" style="cursor: pointer;">
                                M
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked31">
                            <label class="form-check-label" for="flexCheckChecked31" style="cursor: pointer;">
                                S
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked41" style="cursor: pointer;">
                            <label class="form-check-label" for="flexCheckChecked41" style="cursor: pointer;">
                                Xl
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked51" style="cursor: pointer;">
                            <label class="form-check-label" for="flexCheckChecked51" style="cursor: pointer;">
                                Xs
                            </label>
                        </div>
                    </div>
                </div>

                <div class=" col-sm-6 col-lg-3 ">
                    <h5 class="mb-1 fw-medium"> By Brand </h5>
                    <div class="filter-title"></div>
                    <div class="mt-3">
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" value="" id="flex23">
                            <label class="form-check-label" for="flex23">
                                Ck
                            </label>
                        </div>
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" value="" id="flex22">
                            <label class="form-check-label" for="flex22">
                                H&M
                            </label>
                        </div>
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" value="" id="">
                            <label class="form-check-label" for="flex21">
                                Kalles
                            </label>
                        </div>
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" value="" id="flex11">
                            <label class="form-check-label" for="flex11">
                                Levi's
                            </label>
                        </div>
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" value="" id="flex12">
                            <label class="form-check-label" for="flex12">
                                Monki
                            </label>
                        </div>
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" value="" id="flex13">
                            <label class="form-check-label" for="flex13">
                                Nike
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-9">
                <div class="tab-content my-3 my-md-4" id="pills-tabContent">
                    <div class="tab-pane fade" id="best-pan1" role="tabpanel" aria-labelledby="best-pan1-tab" tabindex="0">
                        <div class="row g-lg-4 g-3">
                            <div class="col-12" *ngFor="let product of products">
                                <div [ngClass]="{'w-100': true, 'h-100': true}" class="topbar-product-card pb-3 w-100">
                                    <div class="position-relative overflow-hidden">
                                        <span *ngIf="product.isNew" class="new-label bg-success text-white rounded-circle"> New </span>
                                        <img [src]="product.imageUrl" alt="" class="img-fluid w-100" />

                                        <a href="javascript:void(0);" class="d-lg-none position-absolute" style="z-index: 1; top:10px; left:10px;" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add to Wishlist">
                                            <i class="facl facl-heart-o text-white"></i>
                                        </a>

                                        <a href="javascript:void(0);" class="wishlistadd d-none d-lg-flex position-absolute" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add to Wishlist">
                                            <i class="facl facl-heart-o text-white"></i>
                                        </a>

                                        <div class="product-button d-none d-lg-flex flex-column gap-2">
                                            <a href="javascript:void(0);" (click)="openModal('exampleModal')" class="btn rounded-pill fs-14">
                                                <span>Quick View</span> <i class="iccl iccl-eye"></i>
                                            </a>
                                            <button type="button" class="btn rounded-pill fs-14" (click)="openModal('cardModal')">
                                                <span>Quick Shop</span> <i class="iccl iccl-cart"></i>
                                            </button>
                                        </div>

                                        <div class="position-absolute d-lg-none bottom-0 end-0 d-flex flex-column bg-white rounded-pill m-2" style="z-index: 1;">
                                            <a href="javascript:void(0);" (click)="openModal('exampleModal')" class="btn responsive-cart rounded-pill fs-14 p-2" style="width:36px; height: 36px;">
                                                <i class="iccl iccl-eye fw-semibold"></i>
                                            </a>
                                            <button type="button" class="btn responsive-cart rounded-pill fs-14 p-2" style="width:36px; height: 36px;" (click)="openModal('cardModal')">
                                                <i class="iccl iccl-cart fw-semibold"></i>
                                            </button>
                                        </div>

                                        <p class="product-size mb-0 text-center text-white fw-medium">{{ product.sizes }}</p>
                                    </div>

                                    <div class="mt-3">
                                        <h6 class="mb-1">
                                            <a [routerLink]="['/product-detail', product.id]" class="product-title">{{ product.title }}</a>
                                        </h6>
                                        <p class="mb-0 fs-14 text-muted">
                                            <del *ngIf="product.discount">{{ product.oldPrice }}</del>
                                            <span>{{ product.price }}</span>
                                        </p>

                                        <div *ngIf="product.discount" class="product-color-list mt-2 gap-2 d-flex align-items-center">
                                            <a *ngFor="let color of product.colors" href="javascript:void(0);" (mouseover)="imageUrl = color.imageUrl" (click)="imageUrl = color.imageUrl" class="rounded-circle d-inline-block" [ngClass]="{'bg_color_pink': color.name === 'pink', 'bg-black': color.name === 'black'}">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade " id="best-seller" role="tabpanel" aria-labelledby="best-seller-tab" tabindex="0">
                        <div class="row g-lg-4 g-3">
                            <div class="col-6" *ngFor="let product of products">
                                <div [ngClass]="{'w-100': true, 'h-100': true}" class="topbar-product-card pb-3 w-100">
                                    <div class="position-relative overflow-hidden">
                                        <span *ngIf="product.isNew" class="new-label bg-success text-white rounded-circle"> New </span>
                                        <img [src]="product.imageUrl" alt="" class="img-fluid w-100" />

                                        <a href="javascript:void(0);" class="d-lg-none position-absolute" style="z-index: 1; top:10px; left:10px;" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add to Wishlist">
                                            <i class="facl facl-heart-o text-white"></i>
                                        </a>

                                        <a href="javascript:void(0);" class="wishlistadd d-none d-lg-flex position-absolute" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add to Wishlist">
                                            <i class="facl facl-heart-o text-white"></i>
                                        </a>

                                        <div class="product-button d-none d-lg-flex flex-column gap-2">
                                            <a href="javascript:void(0);" (click)="openModal('exampleModal')" class="btn rounded-pill fs-14">
                                                <span>Quick View</span> <i class="iccl iccl-eye"></i>
                                            </a>
                                            <button type="button" class="btn rounded-pill fs-14" (click)="openModal('cardModal')">
                                                <span>Quick Shop</span> <i class="iccl iccl-cart"></i>
                                            </button>
                                        </div>

                                        <div class="position-absolute d-lg-none bottom-0 end-0 d-flex flex-column bg-white rounded-pill m-2" style="z-index: 1;">
                                            <a href="javascript:void(0);" (click)="openModal('exampleModal')" class="btn responsive-cart rounded-pill fs-14 p-2" style="width:36px; height: 36px;">
                                                <i class="iccl iccl-eye fw-semibold"></i>
                                            </a>
                                            <button type="button" class="btn responsive-cart rounded-pill fs-14 p-2" style="width:36px; height: 36px;" (click)="openModal('cardModal')">
                                                <i class="iccl iccl-cart fw-semibold"></i>
                                            </button>
                                        </div>

                                        <p class="product-size mb-0 text-center text-white fw-medium">{{ product.sizes }}</p>
                                    </div>

                                    <div class="mt-3">
                                        <h6 class="mb-1">
                                            <a [routerLink]="['/product-detail', product.id]" class="product-title">{{ product.title }}</a>
                                        </h6>
                                        <p class="mb-0 fs-14 text-muted">
                                            <del *ngIf="product.discount">{{ product.oldPrice }}</del>
                                            <span>{{ product.price }}</span>
                                        </p>

                                        <div *ngIf="product.discount" class="product-color-list mt-2 gap-2 d-flex align-items-center">
                                            <a *ngFor="let color of product.colors" href="javascript:void(0);" (mouseover)="imageUrl = color.imageUrl" (click)="imageUrl = color.imageUrl" class="rounded-circle d-inline-block" [ngClass]="{'bg_color_pink': color.name === 'pink', 'bg-black': color.name === 'black'}">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="featured" role="tabpanel" aria-labelledby="featured-tab" tabindex="0">
                        <div class="row g-lg-4 g-3">
                            <div class="col-md-4 col-6" *ngFor="let product of products">
                                <div [ngClass]="{'w-100': true, 'h-100': true}" class="topbar-product-card pb-3 w-100">
                                    <div class="position-relative overflow-hidden">
                                        <span *ngIf="product.isNew" class="new-label bg-success text-white rounded-circle"> New </span>
                                        <img [src]="product.imageUrl" alt="" class="img-fluid w-100" />

                                        <a href="javascript:void(0);" class="d-lg-none position-absolute" style="z-index: 1; top:10px; left:10px;" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add to Wishlist">
                                            <i class="facl facl-heart-o text-white"></i>
                                        </a>

                                        <a href="javascript:void(0);" class="wishlistadd d-none d-lg-flex position-absolute" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add to Wishlist">
                                            <i class="facl facl-heart-o text-white"></i>
                                        </a>

                                        <div class="product-button d-none d-lg-flex flex-column gap-2">
                                            <a href="javascript:void(0);" (click)="openModal('exampleModal')" class="btn rounded-pill fs-14">
                                                <span>Quick View</span> <i class="iccl iccl-eye"></i>
                                            </a>
                                            <button type="button" class="btn rounded-pill fs-14" (click)="openModal('cardModal')">
                                                <span>Quick Shop</span> <i class="iccl iccl-cart"></i>
                                            </button>
                                        </div>

                                        <div class="position-absolute d-lg-none bottom-0 end-0 d-flex flex-column bg-white rounded-pill m-2" style="z-index: 1;">
                                            <a href="javascript:void(0);" (click)="openModal('exampleModal')" class="btn responsive-cart rounded-pill fs-14 p-2" style="width:36px; height: 36px;">
                                                <i class="iccl iccl-eye fw-semibold"></i>
                                            </a>
                                            <button type="button" class="btn responsive-cart rounded-pill fs-14 p-2" style="width:36px; height: 36px;" (click)="openModal('cardModal')">
                                                <i class="iccl iccl-cart fw-semibold"></i>
                                            </button>
                                        </div>

                                        <p class="product-size mb-0 text-center text-white fw-medium">{{ product.sizes }}</p>
                                    </div>

                                    <div class="mt-3">
                                        <h6 class="mb-1">
                                            <a [routerLink]="['/product-detail', product.id]" class="product-title">{{ product.title }}</a>
                                        </h6>
                                        <p class="mb-0 fs-14 text-muted">
                                            <del *ngIf="product.discount">{{ product.oldPrice }}</del>
                                            <span>{{ product.price }}</span>
                                        </p>

                                        <div *ngIf="product.discount" class="product-color-list mt-2 gap-2 d-flex align-items-center">
                                            <a *ngFor="let color of product.colors" href="javascript:void(0);" (mouseover)="imageUrl = color.imageUrl" (click)="imageUrl = color.imageUrl" class="rounded-circle d-inline-block" [ngClass]="{'bg_color_pink': color.name === 'pink', 'bg-black': color.name === 'black'}">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade show active" id="sale" role="tabpanel" aria-labelledby="sale-tab" tabindex="0">
                        <div class="row g-lg-4 g-3">
                            <div class="col-md-3 col-6" *ngFor="let product of products">
                                <div [ngClass]="{'w-100': true, 'h-100': true}" class="topbar-product-card pb-3 w-100">
                                    <div class="position-relative overflow-hidden">
                                        <span *ngIf="product.isNew" class="new-label bg-success text-white rounded-circle"> New </span>
                                        <img [src]="product.imageUrl" alt="" class="img-fluid w-100" />

                                        <a href="javascript:void(0);" class="d-lg-none position-absolute" style="z-index: 1; top:10px; left:10px;" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add to Wishlist">
                                            <i class="facl facl-heart-o text-white"></i>
                                        </a>

                                        <a href="javascript:void(0);" class="wishlistadd d-none d-lg-flex position-absolute" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add to Wishlist">
                                            <i class="facl facl-heart-o text-white"></i>
                                        </a>

                                        <div class="product-button d-none d-lg-flex flex-column gap-2">
                                            <a href="javascript:void(0);" (click)="openModal('exampleModal')" class="btn rounded-pill fs-14">
                                                <span>Quick View</span> <i class="iccl iccl-eye"></i>
                                            </a>
                                            <button type="button" class="btn rounded-pill fs-14" (click)="openModal('cardModal')">
                                                <span>Quick Shop</span> <i class="iccl iccl-cart"></i>
                                            </button>
                                        </div>

                                        <div class="position-absolute d-lg-none bottom-0 end-0 d-flex flex-column bg-white rounded-pill m-2" style="z-index: 1;">
                                            <a href="javascript:void(0);" (click)="openModal('exampleModal')" class="btn responsive-cart rounded-pill fs-14 p-2" style="width:36px; height: 36px;">
                                                <i class="iccl iccl-eye fw-semibold"></i>
                                            </a>
                                            <button type="button" class="btn responsive-cart rounded-pill fs-14 p-2" style="width:36px; height: 36px;" (click)="openModal('cardModal')">
                                                <i class="iccl iccl-cart fw-semibold"></i>
                                            </button>
                                        </div>

                                        <p class="product-size mb-0 text-center text-white fw-medium">{{ product.sizes }}</p>
                                    </div>

                                    <div class="mt-3">
                                        <h6 class="mb-1">
                                            <a [routerLink]="['/product-detail', product.id]" class="product-title">{{ product.title }}</a>
                                        </h6>
                                        <p class="mb-0 fs-14 text-muted">
                                            <del *ngIf="product.discount">{{ product.oldPrice }}</del>
                                            <span>{{ product.price }}</span>
                                        </p>

                                        <div *ngIf="product.discount" class="product-color-list mt-2 gap-2 d-flex align-items-center">
                                            <a *ngFor="let color of product.colors" href="javascript:void(0);" (mouseover)="imageUrl = color.imageUrl" (click)="imageUrl = color.imageUrl" class="rounded-circle d-inline-block" [ngClass]="{'bg_color_pink': color.name === 'pink', 'bg-black': color.name === 'black'}">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="filter-pagination">
                    <ul class="pagination py-4 d-flex justify-content-center">
                        <li class="active"><a href="javascript:void(0);" class="text-danger">1</a></li>
                        <li><a href="javascript:void(0);">2</a></li>
                        <li><a href="javascript:void(0);">3</a></li>
                        <li><a href="javascript:void(0);">4</a></li>
                        <li><a href="javascript:void(0);">Next</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 d-none d-lg-block filter-box border-0" style="box-shadow: none;">
                <div>
                    <h5 class="mb-2 mt-3"> Product Categories </h5>
                    <div class="filter-title mb-4"></div>
                    <ul class=" list-unstyled mb-4 navbar-nav justify-content-center ">
                        <li class="nav-item">
                            <a class="nav-link pt-0 pe-3 d-flex" routerLink="/shop-full-width-layout">
                                <span><i class="close_pp  pegk pe-7s-close ts__03 cd fs-20 fw-bold filter-close" style="transform: rotate(45deg);"></i></span>
                                Accessories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pt-0 pe-3" routerLink="/shop-1600px-layout">
                                <span class="d-inline-flex"><i class="close_pp  pegk pe-7s-close ts__03 cd fs-20 fw-bold filter-close" style="transform: rotate(45deg);"></i>Bottom</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pt-0 pe-3" routerLink="/shop-filter-sidebar">
                                <span class="d-inline-flex"><i class="close_pp  pegk pe-7s-close ts__03 cd fs-20 fw-bold filter-close" style="transform: rotate(45deg);"></i>Denim</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pt-0 pe-3" routerLink="/shop-right-sidebar">
                                <span class="d-inline-flex"><i class="close_pp  pegk pe-7s-close ts__03 cd fs-20 fw-bold filter-close" style="transform: rotate(45deg);"></i>Dress</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pt-0 pe-3" routerLink="/shop-filter-sidebar">
                                <span class="d-inline-flex"><i class="close_pp  pegk pe-7s-close ts__03 cd fs-20 fw-bold filter-close" style="transform: rotate(45deg);"></i>Jackets</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pt-0 pe-3" routerLink="/shop-left-sidebar">
                                <span class="d-inline-flex"><i class="close_pp  pegk pe-7s-close ts__03 cd fs-20 fw-bold filter-close" style="transform: rotate(45deg);"></i>Jewellery</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pt-0 pe-3" routerLink="/shop-filter-sidebar">
                                <span class="d-inline-flex"><i class="close_pp  pegk pe-7s-close ts__03 cd fs-20 fw-bold filter-close" style="transform: rotate(45deg);"></i>Men</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pt-0 pe-3" routerLink="/shop-left-sidebar">
                                <span class="d-inline-flex"><i class="close_pp  pegk pe-7s-close ts__03 cd fs-20 fw-bold filter-close" style="transform: rotate(45deg);"></i>Shoes</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pt-0 pe-3" routerLink="/shop-right-sidebar">
                                <span class="d-inline-flex"><i class="close_pp  pegk pe-7s-close ts__03 cd fs-20 fw-bold filter-close" style="transform: rotate(45deg);"></i>Tops</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pt-0 pe-3 text-teal" routerLink="/shop-filter-sidebar">
                                <span class="d-inline-flex"><i class="close_pp  pegk pe-7s-close ts__03 cd fs-20 fw-bold filter-close" style="transform: rotate(45deg);"></i>Women</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pt-0 pe-3" routerLink="/shop-filter-sidebar">
                                <span class="d-inline-flex"><i class="close_pp  pegk pe-7s-close ts__03 cd fs-20 fw-bold filter-close" style="transform: rotate(45deg);"></i>T-Shirt</span></a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h5 class="mb-2 mt-3">Filter by price </h5>
                    <div class="filter-title mb-4"></div>
                    <div class="mt-3">
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">
                                $50-$100
                            </label>
                        </div>
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">
                                $100-$150
                            </label>
                        </div>
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">
                                $150-$200
                            </label>
                        </div>
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">
                                $250-$300
                            </label>
                        </div>
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">
                                $350-$400
                            </label>
                        </div>
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">
                                $450-$500
                            </label>
                        </div>
                    </div>
                </div>
                <div>
                    <h5 class="mb-2 mt-4"> Filter by color </h5>
                    <div class="filter-title mb-4"></div>
                    <div class="mt-3 filter-category">
                        <div class="round d-flex align-items-center pt-2 mb-2 gap-1">
                            <input class="form-check-input bg-black border-black p-1" type="checkbox" value="" id="colo1">
                            <label class="form-check-label ms-1" style="cursor: pointer;" for="color1">
                                Black
                            </label>
                        </div>
                        <div class="round d-flex align-items-center pt-2 mb-2 gap-1">
                            <input class="form-check-input bg-teal border-teal p-1" type="checkbox" value="" id="color2">
                            <label class="form-check-label ms-1" style="cursor: pointer;" for="color2">
                                Cyan
                            </label>
                        </div>
                        <div class="round d-flex align-items-center pt-2 mb-2 gap-1">
                            <input class="form-check-input bg-green2 p-1" type="checkbox" value="" id="color3">
                            <label class="form-check-label ms-1" style="cursor: pointer;" for="color3">
                                Green
                            </label>
                        </div>
                        <div class="round d-flex align-items-center pt-2 mb-2 gap-1">
                            <input class="form-check-input bg-cid-green border-cid-green p-1" type="checkbox" value="" id="color4">
                            <label class="form-check-label ms-1" style="cursor: pointer;" for="color4">
                                Gray
                            </label>
                        </div>
                        <div class="round d-flex align-items-center pt-2 mb-2 gap-1">
                            <input class="form-check-input bg-pink2 border-pink2 p-1" type="checkbox" value="" id="color5">
                            <label class="form-check-label ms-1" style="cursor: pointer;" for="color5">
                                Pink
                            </label>
                        </div>
                        <div class="round d-flex align-items-center pt-2 mb-2 gap-1">
                            <input class="form-check-input bg-sea border-sea p-1" type="checkbox" value="" id="color6">
                            <label class="form-check-label ms-1" style="cursor: pointer;" for="color6">
                                Sea
                            </label>
                        </div>
                        <div class="round d-flex align-items-center pt-2 mb-2 gap-1">
                            <input class="form-check-input bg-blue-dark border-blue-dark p-1" type="checkbox" value="" id="color7">
                            <label class="form-check-label ms-1" style="cursor: pointer;" for="color7">
                                Blue
                            </label>
                        </div>
                        <div class="round d-flex align-items-center pt-2 mb-2 gap-1">
                            <input class="form-check-input bg-red border-red p-1" type="checkbox" value="" id="color8">
                            <label class="form-check-label ms-1" style="cursor: pointer;" for="color8">
                                red
                            </label>
                        </div>
                        <div class="round d-flex align-items-center pt-2 mb-2 gap-1">
                            <input class="form-check-input bg-orange p-1 border-orange" type="checkbox" value="" id="color9">
                            <label class="form-check-label ms-1" style="cursor: pointer;" for="color9">
                                Orange
                            </label>
                        </div>
                    </div>
                </div>
                <div>
                    <h5 class="mb-2 mt-4"> By Size </h5>
                    <div class="filter-title mb-4"></div>
                    <div class="mt-3">
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked11">
                            <label class="form-check-label" for="flexCheckChecked11" style="cursor: pointer;">
                                L
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked21">
                            <label class="form-check-label" for="flexCheckChecked21" style="cursor: pointer;">
                                M
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked31">
                            <label class="form-check-label" for="flexCheckChecked31" style="cursor: pointer;">
                                S
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked41" style="cursor: pointer;">
                            <label class="form-check-label" for="flexCheckChecked41" style="cursor: pointer;">
                                Xl
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked51" style="cursor: pointer;">
                            <label class="form-check-label" for="flexCheckChecked51" style="cursor: pointer;">
                                Xs
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
    <app-popup></app-popup>
</div>
<app-card-model></app-card-model>