<app-top-banner></app-top-banner>
<app-header></app-header>
<div>
    <div class="d-none d-lg-block navbar navbar-expand-lg py-1 border-top">
        <ul class=" list-unstyled navbar-nav justify-content-center ">
            <li class="nav-item">
                <a class="nav-link px-3" routerLink="/shop-full-width-layout">Accessories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-3" routerLink="/shop-1600px-layout">Bottom</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-3" routerLink="/shop-filter-sidebar">Denim</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-3" routerLink="/shop-right-sidebar">Dress</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-3" routerLink="/shop-filter-sidebar">Jackets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-3" routerLink="/shop-left-sidebar">Jewellery</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-3" routerLink="/shop-filter-sidebar">Men</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-3" routerLink="/shop-left-sidebar">Shoes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-3" routerLink="/shop-filter-sidebar">T-Shirt</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-3" routerLink="/shop-right-sidebar">Tops</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-3 text-teal" routerLink="/shop-filter-sidebar">Women</a>
            </li>
        </ul>
    </div>
    <div style="background-image: url('assets/images/shop/shop-banner.jpg'); background-position: center;" class="position-relative">
        <div class="position-absolute top-0 start-0 right-0 bottom-0 bg-dark w-100 opacity-50"></div>
        <div class=" container">
            <div class="text-white text-center py-5 position-relative">
                <h4 class="fs-20 fw-medium">Women</h4>
                <p class="fs-14">Shop through our latest selection of Women’s Clothing and Accessories.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class=" mt-5 d-flex justify-content-between align-items-center">
            <a href="javascript:void(0);" class="text-muted fs-16 d-flex align-items-center" id="filter-icon">
                <i class="iccl fwb iccl-filter fwb me-2 fw-medium" id="icon-filter"></i>
                <i class="pe-7s-close pegk d-none me-2 fw-medium fs-20 fw-semibold" id="icon-close"></i>
                <p class="mb-0">Filter</p>
            </a>
            <ul class=" nav tab_header tab_filter gap-2 justify-content-end justify-content-sm-center" id="pills-tab" role="tablist">
                <li class="nav-item d-sm-none" role="presentation">
                    <button class="nav-link" id="best-pan1-tab" data-bs-toggle="pill" data-bs-target="#best-pan1" type="button" role="tab" aria-controls="best-pan1" aria-selected="true">
                        <div class="filter-option d-flex">
                            <div class="grid1"></div>
                        </div>
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link " id="best-seller-tab" data-bs-toggle="pill" data-bs-target="#best-seller" type="button" role="tab" aria-controls="best-seller" aria-selected="true">
                        <div class="filter-option d-flex">
                            <div class="grid1"></div>
                            <div class="grid1"></div>
                        </div>
                    </button>
                </li>
                <li class="nav-item d-none d-sm-block" role="presentation">
                    <button class="nav-link " id="featured-tab" data-bs-toggle="pill" data-bs-target="#featured" type="button" role="tab" aria-controls="featured" aria-selected="false">
                        <div class="filter-option d-flex">
                            <div class="grid1"></div>
                            <div class="grid1"></div>
                            <div class="grid1"></div>
                        </div>
                    </button>
                </li>
                <li class="nav-item d-none d-md-block" role="presentation">
                    <button class="nav-link active" id="sale-tab" data-bs-toggle="pill" data-bs-target="#sale" type="button" role="tab" aria-controls="sale" aria-selected="false">
                        <div class="filter-option d-flex">
                            <div class="grid1"></div>
                            <div class="grid1"></div>
                            <div class="grid1"></div>
                            <div class="grid1"></div>
                        </div>
                    </button>
                </li>
                <li class="nav-item d-none d-lg-block" role="presentation">
                    <button class="nav-link" id="top-sale-tab" data-bs-toggle="pill" data-bs-target="#top-sale" type="button" role="tab" aria-controls="top-sale" aria-selected="false">
                        <div class="filter-option d-flex">
                            <div class="grid1"></div>
                            <div class="grid1"></div>
                            <div class="grid1"></div>
                            <div class="grid1"></div>
                            <div class="grid1"></div>
                        </div>
                    </button>
                </li>
                <li class="nav-item d-none d-xl-block" role="presentation">
                    <button class="nav-link" id="top-product-tab" data-bs-toggle="pill" data-bs-target="#top-product" type="button" role="tab" aria-controls="top-product" aria-selected="false">
                        <div class="filter-option d-flex">
                            <div class="grid1"></div>
                            <div class="grid1"></div>
                            <div class="grid1"></div>
                            <div class="grid1"></div>
                            <div class="grid1"></div>
                            <div class="grid1"></div>
                        </div>
                    </button>
                </li>
            </ul>
            <div class="dropdown">
                <button class="btn d-flex align-items-center justify-content-between featurnBtn rounded-pill dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Feature
                </button>
                <ul class="dropdown-menu filter-dropdown">
                    <li><a class="dropdown-item" href="javascript:void(0);">Feature</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Best selling</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Alphabetically, A-Z</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Alphabetically, Z-A</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Price, low to high</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Date, old to new</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Date, new to old</a></li>
                </ul>
            </div>
        </div>
        <div class="p-4 filter-box d-none">
            <div class="row m-sm-2 g-4 g-sm-2">
                <div class=" col-sm-6 col-lg-3">
                    <h5 class="mb-1 fw-medium"> By Vendor </h5>
                    <div class="filter-title"></div>
                    <div class="mt-3">
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                                Ck
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                                H&M
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                                Kalles
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">
                                Lavi's
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">
                                Monki
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">
                                Nike
                            </label>
                        </div>
                    </div>
                </div>
                <div class=" col-sm-6 col-lg-3">
                    <h5 class="mb-1 fw-medium"> By Size </h5>
                    <div class="filter-title"></div>
                    <div class="mt-3">
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                                S <span class="ms-1 text-muted">(9)</span>
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">
                                M <span class="ms-1 text-muted">(12)</span>
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">
                                L <span class="ms-1 text-muted">(6)</span>
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">
                                Xs <span class="ms-1 text-muted">(8)</span>
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">
                                Xl <span class="ms-1 text-muted">(25)</span>
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">
                                Xxl <span class="ms-1 text-muted">(16)</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class=" col-sm-6 col-lg-3">
                    <h5 class="mb-1 fw-medium"> By Vendor </h5>
                    <div class="filter-title"></div>
                    <div class="mt-3 filter-category">
                        <div class="round d-flex align-items-center mb-2">
                            <input class="form-check-input bg-black p-1" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label ms-1" for="flexCheckChecked">
                                Black
                            </label>
                        </div>
                        <div class="round d-flex align-items-center mb-2">
                            <input class="form-check-input bg-teal p-1" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label ms-1" for="flexCheckChecked">
                                Cyan
                            </label>
                        </div>
                        <div class="round d-flex align-items-center mb-2">
                            <input class="form-check-input bg-green2 p-1" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label ms-1" for="flexCheckChecked">
                                Green
                            </label>
                        </div>
                        <div class="round d-flex align-items-center mb-2">
                            <input class="form-check-input bg-cid-green: p-1" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label ms-1" for="flexCheckChecked">
                                Gray
                            </label>
                        </div>
                        <div class="round d-flex align-items-center mb-2">
                            <input class="form-check-input bg-pink2 p-1" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label ms-1" for="flexCheckChecked">
                                Pink
                            </label>
                        </div>
                        <div class="round d-flex align-items-center mb-2">
                            <input class="form-check-input bg-sea p-1" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label ms-1" for="flexCheckChecked">
                                Sea
                            </label>
                        </div>
                        <div class="round d-flex align-items-center mb-2">
                            <input class="form-check-input bg-blue-dark p-1" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label ms-1" for="flexCheckChecked">
                                Blue
                            </label>
                        </div>
                        <div class="round d-flex align-items-center mb-2">
                            <input class="form-check-input bg-red p-1" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label ms-1" for="flexCheckChecked">
                                red
                            </label>
                        </div>
                        <div class="round d-flex align-items-center mb-2">
                            <input class="form-check-input bg-orange p-1" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label ms-1" for="flexCheckChecked">
                                Orange
                            </label>
                        </div>
                    </div>
                </div>
                <div class=" col-sm-6 col-lg-3 ">
                    <h5 class="mb-1 fw-medium"> By Category </h5>
                    <div class="filter-title"></div>
                    <div class="mt-3 filter-category">
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">
                                Accessories
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">
                                Men
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                                Women
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">
                                Shoes
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">
                                T-Shirt
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">
                                Dress
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">
                                Jackets
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">
                                Boots
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">
                                Jewellery
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">
                                Tops
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">
                                Wallet
                            </label>
                        </div>
                    </div>
                </div>
                <div class=" col-sm-6 col-lg-3">
                    <h5 class="mb-1 fw-medium"> By Title </h5>
                    <div class="filter-title"></div>
                    <form class="form-inline my-2 my-lg-4 filter-search me-3">
                        <input class="form-control fs-12" type="search" placeholder="Search for product title" aria-label="Search">
                        <button class="btn btn-custom-dark  fw-medium min-w-150 mt-3">FILTER</button>
                    </form>
                </div>
                <div class=" col-sm-6 col-lg-3">
                    <h5 class="mb-1 fw-medium"> By Price </h5>
                    <div class="filter-title"></div>
                    <form action="" class="mt-5">
                        <div class="slider-area">
                            <div class="slider-area">
                                <div id="slider-snap" class="slider"></div>
                                <div class="d-flex align-items-center mt-4 py-2">
                                    <span class="text-muted">Price: </span>
                                    <h6 class="mb-0 mx-2">
                                        <span id="slider-snap-value-lower"></span>
                                    </h6>
                                    -
                                    <h6 class="mb-0 ms-2">
                                        <span id="slider-snap-value-upper"></span>
                                    </h6>
                                    <span id="range" class="d-none"></span>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-custom-dark  fw-medium min-w-150 ">FILTER</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="tab-content my-3 my-md-4" id="pills-tabContent">
            <div class="tab-pane fade" id="best-pan1" role="tabpanel" aria-labelledby="best-pan1-tab" tabindex="0">
                <div class="row g-lg-4 g-3">
                    <div class="col-12" *ngFor="let product of products">
                        <div [ngClass]="{'w-100': true, 'h-100': true}" class="topbar-product-card pb-3 w-100">
                            <div class="position-relative overflow-hidden">
                                <span *ngIf="product.isNew" class="new-label bg-success text-white rounded-circle"> New </span>
                                <img [src]="product.imageUrl" alt="" class="img-fluid w-100" />

                                <a href="javascript:void(0);" class="d-lg-none position-absolute" style="z-index: 1; top:10px; left:10px;" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add to Wishlist">
                                    <i class="facl facl-heart-o text-white"></i>
                                </a>

                                <a href="javascript:void(0);" class="wishlistadd d-none d-lg-flex position-absolute" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add to Wishlist">
                                    <i class="facl facl-heart-o text-white"></i>
                                </a>

                                <div class="product-button d-none d-lg-flex flex-column gap-2">
                                    <a href="javascript:void(0);" (click)="openModal('exampleModal')" class="btn rounded-pill fs-14">
                                        <span>Quick View</span> <i class="iccl iccl-eye"></i>
                                    </a>
                                    <button type="button" class="btn rounded-pill fs-14" (click)="openModal('cardModal')">
                                        <span>Quick Shop</span> <i class="iccl iccl-cart"></i>
                                    </button>
                                </div>

                                <div class="position-absolute d-lg-none bottom-0 end-0 d-flex flex-column bg-white rounded-pill m-2" style="z-index: 1;">
                                    <a href="javascript:void(0);" (click)="openModal('exampleModal')" class="btn responsive-cart rounded-pill fs-14 p-2" style="width:36px; height: 36px;">
                                        <i class="iccl iccl-eye fw-semibold"></i>
                                    </a>
                                    <button type="button" class="btn responsive-cart rounded-pill fs-14 p-2" style="width:36px; height: 36px;" (click)="openModal('cardModal')">
                                        <i class="iccl iccl-cart fw-semibold"></i>
                                    </button>
                                </div>

                                <p class="product-size mb-0 text-center text-white fw-medium">{{ product.sizes }}</p>
                            </div>

                            <div class="mt-3">
                                <h6 class="mb-1">
                                    <a [routerLink]="['/product-detail', product.id]" class="product-title">{{ product.title }}</a>
                                </h6>
                                <p class="mb-0 fs-14 text-muted">
                                    <del *ngIf="product.discount">{{ product.oldPrice }}</del>
                                    <span>{{ product.price }}</span>
                                </p>

                                <div *ngIf="product.discount" class="product-color-list mt-2 gap-2 d-flex align-items-center">
                                    <a *ngFor="let color of product.colors" href="javascript:void(0);" (mouseover)="imageUrl = color.imageUrl" (click)="imageUrl = color.imageUrl" class="d-inline-block" [ngClass]="{'bg_color_pink': color.name === 'pink', 'bg-black': color.name === 'black'}">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade " id="best-seller" role="tabpanel" aria-labelledby="best-seller-tab" tabindex="0">
                <div class="row g-lg-4 g-3">
                    <div class="col-6" *ngFor="let product of products">
                        <div [ngClass]="{'w-100': true, 'h-100': true}" class="topbar-product-card pb-3 w-100">
                            <div class="position-relative overflow-hidden">
                                <span *ngIf="product.isNew" class="new-label bg-success text-white rounded-circle"> New </span>
                                <img [src]="product.imageUrl" alt="" class="img-fluid w-100" />

                                <a href="javascript:void(0);" class="d-lg-none position-absolute" style="z-index: 1; top:10px; left:10px;" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add to Wishlist">
                                    <i class="facl facl-heart-o text-white"></i>
                                </a>

                                <a href="javascript:void(0);" class="wishlistadd d-none d-lg-flex position-absolute" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add to Wishlist">
                                    <i class="facl facl-heart-o text-white"></i>
                                </a>

                                <div class="product-button d-none d-lg-flex flex-column gap-2">
                                    <a href="javascript:void(0);" (click)="openModal('exampleModal')" class="btn rounded-pill fs-14">
                                        <span>Quick View</span> <i class="iccl iccl-eye"></i>
                                    </a>
                                    <button type="button" class="btn rounded-pill fs-14" (click)="openModal('cardModal')">
                                        <span>Quick Shop</span> <i class="iccl iccl-cart"></i>
                                    </button>
                                </div>

                                <div class="position-absolute d-lg-none bottom-0 end-0 d-flex flex-column bg-white rounded-pill m-2" style="z-index: 1;">
                                    <a href="javascript:void(0);" (click)="openModal('exampleModal')" class="btn responsive-cart rounded-pill fs-14 p-2" style="width:36px; height: 36px;">
                                        <i class="iccl iccl-eye fw-semibold"></i>
                                    </a>
                                    <button type="button" class="btn responsive-cart rounded-pill fs-14 p-2" style="width:36px; height: 36px;" (click)="openModal('cardModal')">
                                        <i class="iccl iccl-cart fw-semibold"></i>
                                    </button>
                                </div>

                                <p class="product-size mb-0 text-center text-white fw-medium">{{ product.sizes }}</p>
                            </div>

                            <div class="mt-3">
                                <h6 class="mb-1">
                                    <a [routerLink]="['/product-detail', product.id]" class="product-title">{{ product.title }}</a>
                                </h6>
                                <p class="mb-0 fs-14 text-muted">
                                    <del *ngIf="product.discount">{{ product.oldPrice }}</del>
                                    <span>{{ product.price }}</span>
                                </p>

                                <div *ngIf="product.discount" class="product-color-list mt-2 gap-2 d-flex align-items-center">
                                    <a *ngFor="let color of product.colors" href="javascript:void(0);" (mouseover)="imageUrl = color.imageUrl" (click)="imageUrl = color.imageUrl" class="d-inline-block" [ngClass]="{'bg_color_pink': color.name === 'pink', 'bg-black': color.name === 'black'}">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="featured" role="tabpanel" aria-labelledby="featured-tab" tabindex="0">
                <div class="row g-lg-4 g-3">
                    <div class="col-md-4 col-6" *ngFor="let product of products">
                        <div [ngClass]="{'w-100': true, 'h-100': true}" class="topbar-product-card pb-3 w-100">
                            <div class="position-relative overflow-hidden">
                                <span *ngIf="product.isNew" class="new-label bg-success text-white rounded-circle"> New </span>
                                <img [src]="product.imageUrl" alt="" class="img-fluid w-100" />

                                <a href="javascript:void(0);" class="d-lg-none position-absolute" style="z-index: 1; top:10px; left:10px;" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add to Wishlist">
                                    <i class="facl facl-heart-o text-white"></i>
                                </a>

                                <a href="javascript:void(0);" class="wishlistadd d-none d-lg-flex position-absolute" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add to Wishlist">
                                    <i class="facl facl-heart-o text-white"></i>
                                </a>

                                <div class="product-button d-none d-lg-flex flex-column gap-2">
                                    <a href="javascript:void(0);" (click)="openModal('exampleModal')" class="btn rounded-pill fs-14">
                                        <span>Quick View</span> <i class="iccl iccl-eye"></i>
                                    </a>
                                    <button type="button" class="btn rounded-pill fs-14" (click)="openModal('cardModal')">
                                        <span>Quick Shop</span> <i class="iccl iccl-cart"></i>
                                    </button>
                                </div>

                                <div class="position-absolute d-lg-none bottom-0 end-0 d-flex flex-column bg-white rounded-pill m-2" style="z-index: 1;">
                                    <a href="javascript:void(0);" (click)="openModal('exampleModal')" class="btn responsive-cart rounded-pill fs-14 p-2" style="width:36px; height: 36px;">
                                        <i class="iccl iccl-eye fw-semibold"></i>
                                    </a>
                                    <button type="button" class="btn responsive-cart rounded-pill fs-14 p-2" style="width:36px; height: 36px;" (click)="openModal('cardModal')">
                                        <i class="iccl iccl-cart fw-semibold"></i>
                                    </button>
                                </div>

                                <p class="product-size mb-0 text-center text-white fw-medium">{{ product.sizes }}</p>
                            </div>

                            <div class="mt-3">
                                <h6 class="mb-1">
                                    <a [routerLink]="['/product-detail', product.id]" class="product-title">{{ product.title }}</a>
                                </h6>
                                <p class="mb-0 fs-14 text-muted">
                                    <del *ngIf="product.discount">{{ product.oldPrice }}</del>
                                    <span>{{ product.price }}</span>
                                </p>

                                <div *ngIf="product.discount" class="product-color-list mt-2 gap-2 d-flex align-items-center">
                                    <a *ngFor="let color of product.colors" href="javascript:void(0);" (mouseover)="imageUrl = color.imageUrl" (click)="imageUrl = color.imageUrl" class="d-inline-block" [ngClass]="{'bg_color_pink': color.name === 'pink', 'bg-black': color.name === 'black'}">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade show active" id="sale" role="tabpanel" aria-labelledby="sale-tab" tabindex="0">
                <div class="row g-lg-4 g-3">
                    <div class="col-md-3 col-6" *ngFor="let product of products">
                        <div [ngClass]="{'w-100': true, 'h-100': true}" class="topbar-product-card pb-3 w-100">
                            <div class="position-relative overflow-hidden">
                                <span *ngIf="product.isNew" class="new-label bg-success text-white rounded-circle"> New </span>
                                <img [src]="product.imageUrl" alt="" class="img-fluid w-100" />

                                <a href="javascript:void(0);" class="d-lg-none position-absolute" style="z-index: 1; top:10px; left:10px;" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add to Wishlist">
                                    <i class="facl facl-heart-o text-white"></i>
                                </a>

                                <a href="javascript:void(0);" class="wishlistadd d-none d-lg-flex position-absolute" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add to Wishlist">
                                    <i class="facl facl-heart-o text-white"></i>
                                </a>

                                <div class="product-button d-none d-lg-flex flex-column gap-2">
                                    <a href="javascript:void(0);" (click)="openModal('exampleModal')" class="btn rounded-pill fs-14">
                                        <span>Quick View</span> <i class="iccl iccl-eye"></i>
                                    </a>
                                    <button type="button" class="btn rounded-pill fs-14" (click)="openModal('cardModal')">
                                        <span>Quick Shop</span> <i class="iccl iccl-cart"></i>
                                    </button>
                                </div>

                                <div class="position-absolute d-lg-none bottom-0 end-0 d-flex flex-column bg-white rounded-pill m-2" style="z-index: 1;">
                                    <a href="javascript:void(0);" (click)="openModal('exampleModal')" class="btn responsive-cart rounded-pill fs-14 p-2" style="width:36px; height: 36px;">
                                        <i class="iccl iccl-eye fw-semibold"></i>
                                    </a>
                                    <button type="button" class="btn responsive-cart rounded-pill fs-14 p-2" style="width:36px; height: 36px;" (click)="openModal('cardModal')">
                                        <i class="iccl iccl-cart fw-semibold"></i>
                                    </button>
                                </div>

                                <p class="product-size mb-0 text-center text-white fw-medium">{{ product.sizes }}</p>
                            </div>

                            <div class="mt-3">
                                <h6 class="mb-1">
                                    <a [routerLink]="['/product-detail', product.id]" class="product-title">{{ product.title }}</a>
                                </h6>
                                <p class="mb-0 fs-14 text-muted">
                                    <del *ngIf="product.discount">{{ product.oldPrice }}</del>
                                    <span>{{ product.price }}</span>
                                </p>

                                <div *ngIf="product.discount" class="product-color-list mt-2 gap-2 d-flex align-items-center">
                                    <a *ngFor="let color of product.colors" href="javascript:void(0);" (mouseover)="imageUrl = color.imageUrl" (click)="imageUrl = color.imageUrl" class="d-inline-block" [ngClass]="{'bg_color_pink': color.name === 'pink', 'bg-black': color.name === 'black'}">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="top-sale" role="tabpanel" aria-labelledby="top-sale-tab" tabindex="0">
                <div class="row g-3 row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5">
                    <div class="col" *ngFor="let product of products">
                        <div [ngClass]="{'w-100': true, 'h-100': true}" class="topbar-product-card pb-3 w-100">
                            <div class="position-relative overflow-hidden">
                                <span *ngIf="product.isNew" class="new-label bg-success text-white rounded-circle"> New </span>
                                <img [src]="product.imageUrl" alt="" class="img-fluid w-100" />

                                <a href="javascript:void(0);" class="d-lg-none position-absolute" style="z-index: 1; top:10px; left:10px;" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add to Wishlist">
                                    <i class="facl facl-heart-o text-white"></i>
                                </a>

                                <a href="javascript:void(0);" class="wishlistadd d-none d-lg-flex position-absolute" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add to Wishlist">
                                    <i class="facl facl-heart-o text-white"></i>
                                </a>

                                <div class="product-button d-none d-lg-flex flex-column gap-2">
                                    <a href="javascript:void(0);" (click)="openModal('exampleModal')" class="btn rounded-pill fs-14">
                                        <span>Quick View</span> <i class="iccl iccl-eye"></i>
                                    </a>
                                    <button type="button" class="btn rounded-pill fs-14" (click)="openModal('cardModal')">
                                        <span>Quick Shop</span> <i class="iccl iccl-cart"></i>
                                    </button>
                                </div>

                                <div class="position-absolute d-lg-none bottom-0 end-0 d-flex flex-column bg-white rounded-pill m-2" style="z-index: 1;">
                                    <a href="javascript:void(0);" (click)="openModal('exampleModal')" class="btn responsive-cart rounded-pill fs-14 p-2" style="width:36px; height: 36px;">
                                        <i class="iccl iccl-eye fw-semibold"></i>
                                    </a>
                                    <button type="button" class="btn responsive-cart rounded-pill fs-14 p-2" style="width:36px; height: 36px;" (click)="openModal('cardModal')">
                                        <i class="iccl iccl-cart fw-semibold"></i>
                                    </button>
                                </div>

                                <p class="product-size mb-0 text-center text-white fw-medium">{{ product.sizes }}</p>
                            </div>

                            <div class="mt-3">
                                <h6 class="mb-1">
                                    <a [routerLink]="['/product-detail', product.id]" class="product-title">{{ product.title }}</a>
                                </h6>
                                <p class="mb-0 fs-14 text-muted">
                                    <del *ngIf="product.discount">{{ product.oldPrice }}</del>
                                    <span>{{ product.price }}</span>
                                </p>

                                <div *ngIf="product.discount" class="product-color-list mt-2 gap-2 d-flex align-items-center">
                                    <a *ngFor="let color of product.colors" href="javascript:void(0);" (mouseover)="imageUrl = color.imageUrl" (click)="imageUrl = color.imageUrl" class="d-inline-block" [ngClass]="{'bg_color_pink': color.name === 'pink', 'bg-black': color.name === 'black'}">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="top-product" role="tabpanel" aria-labelledby="top-product-tab" tabindex="0">
                <div class="row g-lg-4 g-3">
                    <div class="col-md-3 col-6 col-lg-2" *ngFor="let product of products">
                        <div [ngClass]="{'w-100': true, 'h-100': true}" class="topbar-product-card pb-3 w-100">
                            <div class="position-relative overflow-hidden">
                                <span *ngIf="product.isNew" class="new-label bg-success text-white rounded-circle"> New </span>
                                <img [src]="product.imageUrl" alt="" class="img-fluid w-100" />

                                <a href="javascript:void(0);" class="d-lg-none position-absolute" style="z-index: 1; top:10px; left:10px;" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add to Wishlist">
                                    <i class="facl facl-heart-o text-white"></i>
                                </a>

                                <a href="javascript:void(0);" class="wishlistadd d-none d-lg-flex position-absolute" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add to Wishlist">
                                    <i class="facl facl-heart-o text-white"></i>
                                </a>

                                <div class="product-button d-none d-lg-flex flex-column gap-2">
                                    <a href="javascript:void(0);" (click)="openModal('exampleModal')" class="btn rounded-pill fs-14">
                                        <span>Quick View</span> <i class="iccl iccl-eye"></i>
                                    </a>
                                    <button type="button" class="btn rounded-pill fs-14" (click)="openModal('cardModal')">
                                        <span>Quick Shop</span> <i class="iccl iccl-cart"></i>
                                    </button>
                                </div>

                                <div class="position-absolute d-lg-none bottom-0 end-0 d-flex flex-column bg-white rounded-pill m-2" style="z-index: 1;">
                                    <a href="javascript:void(0);" (click)="openModal('exampleModal')" class="btn responsive-cart rounded-pill fs-14 p-2" style="width:36px; height: 36px;">
                                        <i class="iccl iccl-eye fw-semibold"></i>
                                    </a>
                                    <button type="button" class="btn responsive-cart rounded-pill fs-14 p-2" style="width:36px; height: 36px;" (click)="openModal('cardModal')">
                                        <i class="iccl iccl-cart fw-semibold"></i>
                                    </button>
                                </div>

                                <p class="product-size mb-0 text-center text-white fw-medium">{{ product.sizes }}</p>
                            </div>

                            <div class="mt-3">
                                <h6 class="mb-1">
                                    <a [routerLink]="['/product-detail', product.id]" class="product-title">{{ product.title }}</a>
                                </h6>
                                <p class="mb-0 fs-14 text-muted">
                                    <del *ngIf="product.discount">{{ product.oldPrice }}</del>
                                    <span>{{ product.price }}</span>
                                </p>

                                <div *ngIf="product.discount" class="product-color-list mt-2 gap-2 d-flex align-items-center">
                                    <a *ngFor="let color of product.colors" href="javascript:void(0);" (mouseover)="imageUrl = color.imageUrl" (click)="imageUrl = color.imageUrl" class="d-inline-block" [ngClass]="{'bg_color_pink': color.name === 'pink', 'bg-black': color.name === 'black'}">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mb-5">
            <button type="submit" class="btn-load btn btn-custom-dark fw-semibold min-w-150 rounded-pill">
                Lorn more
            </button>
        </div>
    </div>
    <app-footer></app-footer>
    <app-popup></app-popup>
</div>
<app-card-model></app-card-model>