<div class="kalles-section-type-shipping">
    <div class="container">
        <div class="row g-4">
            <div class="col-xl-3 col-md-6">
                <div class="d-flex gap-3">
                    <i class="pegk pe-7s-car fs-36 text-muted flex-shrink-0"></i>
                    <div class="flex-grow-1">
                        <h6 class="text-uppercase">Free Shipping</h6>
                        <p class="text-muted mb-0">Free shipping on all US order or order above $100</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="d-flex gap-3">
                    <i class="pegk pe-7s-help2 fs-36 text-muted flex-shrink-0"></i>
                    <div class="flex-grow-1">
                        <h6 class="text-uppercase">Support 24/7</h6>
                        <p class="text-muted mb-0">Contact us 24 hours a day, 7 days a week</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="d-flex gap-3">
                    <i class="pegk pe-7s-refresh fs-36 text-muted flex-shrink-0"></i>
                    <div class="flex-grow-1">
                        <h6 class="text-uppercase">30 Days Return</h6>
                        <p class="text-muted mb-0">Simply return it within 30 days for an exchange.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="d-flex gap-3">
                    <i class="pegk pe-7s-door-lock fs-36 text-muted flex-shrink-0"></i>
                    <div class="flex-grow-1">
                        <h6 class="text-uppercase">100% Payment Secure</h6>
                        <p class="text-muted mb-0">We ensure secure payment with PEV</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>