<section class="type_tab_collection">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="text-center">
                    <div class="mb-2">
                        <h3 class="section-title position-relative text-uppercase">
                            <span>OUR PRODUCTS</span>
                        </h3>
                    </div>
                    <span class="section-subtitle sub-title font-secondary fst-italic fs-14 text-muted">Top sale in
                        this week</span>
                </div>
            </div>
        </div>
        <div class="mt-4">
            <ul class="nav tab_header gap-lg-4 justify-content-center mt-4 mb-0" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link rounded-pill active" id="best-seller-tab" data-bs-toggle="pill" data-bs-target="#best-seller" type="button" role="tab" aria-controls="best-seller" aria-selected="true">Best Seller</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link rounded-pill" id="featured-tab" data-bs-toggle="pill" data-bs-target="#featured" type="button" role="tab" aria-controls="featured" aria-selected="false">Featured</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link rounded-pill" id="sale-tab" data-bs-toggle="pill" data-bs-target="#sale" type="button" role="tab" aria-controls="sale" aria-selected="false">Sale</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link rounded-pill" id="top-sale-tab" data-bs-toggle="pill" data-bs-target="#top-sale" type="button" role="tab" aria-controls="top-sale" aria-selected="false">Top Sale</button>
                </li>
            </ul>
            <div class="tab-content mt-4" id="pills-tabContent">

                <div class="tab-pane fade show active" id="best-seller" role="tabpanel" aria-labelledby="best-seller-tab" tabindex="0">
                    <div class="row g-4">
                        <div class="col-md-3 col-6" *ngFor="let product of products">
                            <div class="topbar-product-card pb-3" (mouseenter)="product.isHovered = true" (mouseleave)="product.isHovered = false">
                                <div class="position-relative overflow-hidden">
                                    <img [src]="product.isHovered ? product.hoverImage : product.defaultImage" alt="" class="img-fluid object-fit-cover w-100">

                                    <a href="javascript:void(0);" class="d-lg-none position-absolute" style="z-index: 1; top:10px; left:10px;" data-bs-toggle="tooltip" data-bs-placement="top" title="Add to Wishlist">
                                        <i class="facl facl-heart-o text-white"></i>
                                    </a>
                                    <a href="javascript:void(0);" class="wishlistadd d-none d-lg-flex position-absolute" data-bs-toggle="tooltip" data-bs-placement="top" title="Add to Wishlist">
                                        <i class="facl facl-heart-o text-white"></i>
                                    </a>

                                    <div class="product-button d-none d-lg-flex flex-column gap-2">
                                        <a href="javascript:void(0);" (click)="openModal('exampleModal')" class="btn rounded-pill fs-14">
                                            <span>Quick View</span> <i class="iccl iccl-eye"></i>
                                        </a>
                                        <button type="button" class="btn rounded-pill fs-14" (click)="openModal('cardModal')">
                                            <span>Quick Shop</span> <i class="iccl iccl-cart"></i>
                                        </button>
                                    </div>

                                    <div class="position-absolute d-lg-none bottom-0 end-0 d-flex flex-column bg-white rounded-pill m-2" style="z-index: 1;">
                                        <a href="javascript:void(0);" (click)="openModal('exampleModal')" class="btn responsive-cart rounded-pill fs-14 p-2" style="width:36px; height: 36px;">
                                            <i class="iccl iccl-eye fw-semibold"></i>
                                        </a>
                                        <button type="button" class="btn responsive-cart rounded-pill fs-14 p-2" style="width:36px; height: 36px;" (click)="openModal('cardModal')">
                                            <i class="iccl iccl-cart fw-semibold"></i>
                                        </button>
                                    </div>
                                </div>

                                <a [href]="product.detailUrl" class="mt-3 d-block">
                                    <h6 class="mb-1">{{ product.name }}</h6>
                                    <p class="mb-0 fs-14 text-muted"><span>{{ product.price }}</span></p>
                                </a>

                                <div *ngIf="product.colorOptions" class="product-color-list mt-2 gap-2 d-flex align-items-center">
                                    <a *ngFor="let color of product.colorOptions" href="javascript:void(0);" (click)="$event.preventDefault(); product.defaultImage = color.image" [style.background]=" 'url(' + color.image + ')'" class="d-inline-block rounded-circle"></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade" id="featured" role="tabpanel" aria-labelledby="featured-tab" tabindex="0">
                    <div class="row g-4">
                        <div class="col-md-3 col-6" *ngFor="let product of products2">
                            <div class="topbar-product-card pb-3" [ngClass]="{ 'position-relative overflow-hidden': true }">
                                <div class="position-relative overflow-hidden">
                                    <span *ngIf="product.label" class="new-label text-white rounded-circle text-center" [ngClass]="product.labelClass">
                                        {{ product.label }}
                                    </span>
                                    <img [src]="product.imageUrl" alt="" class="img-fluid object-fit-cover w-100">

                                    <a href="javascript:void(0);" class="d-lg-none position-absolute" style="z-index: 1; top:10px; left:10px;" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add to Wishlist">
                                        <i class="facl facl-heart-o text-white"></i>
                                    </a>
                                    <a href="javascript:void(0);" class="wishlistadd d-none d-lg-flex position-absolute" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add to Wishlist">
                                        <i class="facl facl-heart-o text-white"></i>
                                    </a>

                                    <div class="product-button d-none d-lg-flex flex-column gap-2">
                                        <a href="javascript:void(0);" (click)="openModal('exampleModal')" class="btn rounded-pill fs-14">
                                            <span>Quick View</span> <i class="iccl iccl-eye"></i>
                                        </a>
                                        <button type="button" class="btn rounded-pill fs-14" (click)="openModal('cardModal')">
                                            <span>Quick Shop</span> <i class="iccl iccl-cart"></i>
                                        </button>
                                    </div>

                                    <div class="position-absolute d-lg-none bottom-0 end-0 d-flex flex-column bg-white rounded-pill m-2" style="z-index: 1;">
                                        <a href="javascript:void(0);" (click)="openModal('exampleModal')" class="btn responsive-cart rounded-pill fs-14 p-2" style="width:36px; height: 36px;">
                                            <i class="iccl iccl-eye fw-semibold"></i>
                                        </a>
                                        <button type="button" class="btn responsive-cart rounded-pill fs-14 p-2" style="width:36px; height: 36px;" (click)="openModal('cardModal')">
                                            <i class="iccl iccl-cart fw-semibold"></i>
                                        </button>
                                    </div>

                                    <p class="product-size mb-0 text-center text-white fw-medium">
                                        {{ product.sizes }}
                                    </p>
                                </div>

                                <div class="mt-3">
                                    <h6 class="mb-1">
                                        <a href="javascript:void(0);" class="product-title">{{ product.title }}</a>
                                    </h6>
                                    <p class="mb-0 fs-14 text-muted">
                                        <del *ngIf="product.oldPrice">{{ product.oldPrice }}</del>
                                        <span [ngClass]="{ 'text-danger': product.oldPrice }">{{ product.price }}</span>
                                    </p>

                                    <div *ngIf="product.colorOptions" class="product-color-list mt-2 gap-2 d-flex align-items-center">
                                        <a *ngFor="let color of product.colorOptions" href="javascript:void(0);" [ngClass]="color.colorClass" class="d-inline-block rounded-circle"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade" id="sale" role="tabpanel" aria-labelledby="sale-tab" tabindex="0">
                    <div class="row g-4">
                        <div class="col-md-3 col-6" *ngFor="let product of products3">
                            <div class="topbar-product-card pb-3">
                                <div class="position-relative overflow-hidden">
                                    <span *ngIf="product.label" class="new-label bg-success text-white rounded-circle text-center">{{ product.label }}</span>
                                    <img [src]="product.isHovered ? product.hoverImage : product.image" alt="" class="img-fluid object-fit-cover w-100">

                                    <a href="javascript:void(0);" class="d-lg-none position-absolute" style="z-index: 1; top:10px; left:10px;" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add to Wishlist">
                                        <i class="facl facl-heart-o text-white"></i>
                                    </a>
                                    <a href="javascript:void(0);" class="wishlistadd d-none d-lg-flex position-absolute" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add to Wishlist">
                                        <i class="facl facl-heart-o text-white"></i>
                                    </a>

                                    <div class="product-button d-none d-lg-flex flex-column gap-2">
                                        <a href="javascript:void(0);" (click)="openModal('exampleModal')" class="btn rounded-pill fs-14">
                                            <span>Quick View</span> <i class="iccl iccl-eye"></i>
                                        </a>
                                        <button type="button" class="btn rounded-pill fs-14" (click)="openModal('cardModal')">
                                            <span>Quick Shop</span> <i class="iccl iccl-cart"></i>
                                        </button>
                                    </div>

                                    <p class="product-size mb-0 text-center text-white fw-medium">{{ product.sizes }}</p>
                                </div>

                                <a [href]="product.detailLink" class="mt-3 d-block">
                                    <h6 class="mb-1">{{ product.title }}</h6>
                                    <p class="mb-0 fs-14 text-muted">
                                        <span *ngIf="product.discountPrice; else regularPrice">${{ product.discountPrice }}</span>
                                        <ng-template #regularPrice>${{ product.price }}</ng-template>
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="tab-pane fade" id="top-sale" role="tabpanel" aria-labelledby="top-sale-tab" tabindex="0">
                    <div class="row g-4">
                        <div class="col-md-3 col-6" *ngFor="let product of products4">
                            <div class="topbar-product-card pb-3" (mouseenter)="product.isHovered = true" (mouseleave)="product.isHovered = false">
                                <div class="position-relative overflow-hidden">
                                    <img [src]="product.isHovered ? product.hoverImage : product.imageUrl" alt="" class="img-fluid object-fit-cover w-100">

                                    <a href="javascript:void(0);" class="d-lg-none position-absolute" style="z-index: 1; top:10px; left:10px;" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add to Wishlist"><i class="facl facl-heart-o text-white"></i></a>

                                    <a href="javascript:void(0);" class="wishlistadd d-none d-lg-flex position-absolute" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add to Wishlist"><i class="facl facl-heart-o text-white"></i></a>

                                    <div class="product-button d-none d-lg-flex flex-column gap-2">
                                        <a href="javascript:void(0);" (click)="openModal('exampleModal')" class="btn rounded-pill fs-14"><span>Quick View</span> <i class="iccl iccl-eye"></i></a>
                                        <button type="button" class="btn rounded-pill fs-14" (click)="openModal('cardModal')">
                                            <span>Quick Shop</span> <i class="iccl iccl-cart"></i>
                                        </button>
                                    </div>

                                    <div class="position-absolute d-lg-none bottom-0 end-0 d-flex flex-column bg-white rounded-pill m-2" style="z-index: 1;">
                                        <a href="javascript:void(0);" (click)="openModal('exampleModal')" class="btn responsive-cart rounded-pill fs-14 p-2" style="width:36px; height: 36px;">
                                            <i class="iccl iccl-eye fw-semibold"></i>
                                        </a>
                                        <button type="button" class="btn responsive-cart rounded-pill fs-14 p-2" style="width:36px; height: 36px;" (click)="openModal('cardModal')">
                                            <i class="iccl iccl-cart fw-semibold"></i>
                                        </button>
                                    </div>
                                </div>

                                <div class="mt-3">
                                    <h6 class="mb-1"><a [href]="product.detailLink" class="product-title">{{ product.title }}</a></h6>
                                    <p class="mb-0 fs-14 text-muted"><span>{{ product.price }}</span></p>

                                    <div class="product-color-list mt-2 gap-2 d-flex align-items-center" *ngIf="product.colors.length > 0">
                                        <a *ngFor="let color of product.colors" href="javascript:void(0);" (click)="product.imageUrl = color.image; product.isHovered = false" [style.background]="color.image" class="d-inline-block rounded-circle"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>