<app-top-banner></app-top-banner>
<app-header></app-header>
<div id="nt_content">
    <div class="kalles-blog-grid swiper gridSwiper">
        <div class="slideshow swiper-wrapper">
            <div class="slideshow__slide swiper-slide" style="width: 33.33%; ">
                <a href="javascript:void(0);" class="blog_grid">
                    <div class="blog_grid_img w-100 h-100" style="background: url('assets/images/blog-page/blog-slide-01.jpg') center no-repeat; background-size: cover;">
                    </div>
                </a>
                <div class="card rounded-0 border-0 bg-black bg-opacity-75 position-absolute w-100 bottom-0 start-0 end-0 z-3">
                    <div class="card-body text-center">
                        <div>
                            <span class="fs-12 text-white-50">By <span class="text-white">admin</span></span>
                            <span class="fs-12 text-white-50">In <a href="javascript:void(0);" class="text-white">Beauty</a>,
                                <a href="javascript:void(0);" class="text-white">Fashion</a>
                            </span>
                        </div>
                        <h2 class="fs-14 text-uppercase blog_grid_img_heading">
                            <a class="text-white" routerLink="$2">Spring – Summer Trending
                                2020</a>
                        </h2>
                        <span>
                            <time class="text-white-50" datetime="2020-04-06T02:22:00Z">April 6, 2020</time>
                        </span>
                    </div>
                </div>
            </div>
            <div class="slideshow__slide swiper-slide" style="width: 33.33%; ">
                <a href="javascript:void(0);" class="blog_grid">
                    <div class="blog_grid_img w-100 h-100" style="background: url('assets/images/blog-page/blog-slide-02.jpg') center no-repeat; background-size: cover;">
                    </div>
                </a>
                <div class="card rounded-0 border-0 bg-black bg-opacity-75 position-absolute w-100 bottom-0 start-0 end-0 z-3">
                    <div class="card-body text-center">
                        <div>
                            <span class="fs-12 text-white-50">By <span class="text-white">admin</span></span>
                            <span class="fs-12 text-white-50">In <a href="javascript:void(0);" class="text-white">Life
                                    Style</a>,
                                <a href="javascript:void(0);" class="text-white">Travel</a>
                            </span>
                        </div>
                        <h2 class="fs-14 text-uppercase blog_grid_img_heading">
                            <a class="text-white" routerLink="$2">The Easiest Way to Break Out
                                on Top</a>
                        </h2>
                        <span>
                            <time class="text-white-50" datetime="2020-04-06T02:22:00Z">April 6, 2020</time>
                        </span>
                    </div>
                </div>
            </div>
            <div class="slideshow__slide swiper-slide" style="width: 33.33%; ">
                <a href="javascript:void(0);" class="blog_grid">
                    <div class="blog_grid_img w-100 h-100" style="background: url('assets/images/blog-page/blog-slide-03.jpg') center no-repeat; background-size: cover;">
                    </div>
                </a>
                <div class="card rounded-0 border-0 bg-black bg-opacity-75 position-absolute w-100 bottom-0 start-0 end-0 z-3">
                    <div class="card-body text-center">
                        <div>
                            <span class="fs-12 text-white-50">By <span class="text-white">admin</span></span>
                            <span class="fs-12 text-white-50">In <a href="javascript:void(0);" class="text-white">Fashion</a>,
                                <a href="javascript:void(0);" class="text-white">Travel</a>
                            </span>
                        </div>
                        <h2 class="fs-14 text-uppercase blog_grid_img_heading">
                            <a class="text-white" routerLink="$2">Style for couple in Weeding
                                season</a>
                        </h2>
                        <span>
                            <time class="text-white-50" datetime="2020-04-06T02:22:00Z">April 6, 2020</time>
                        </span>
                    </div>
                </div>
            </div>
            <div class="slideshow__slide swiper-slide" style="width: 33.33%; ">
                <a href="javascript:void(0);" class="blog_grid">
                    <div class="blog_grid_img w-100 h-100" style="background: url('assets/images/blog-page/blog-slide-04.jpg') center no-repeat; background-size: cover;">
                    </div>
                </a>
                <div class="card rounded-0 border-0 bg-black bg-opacity-75 position-absolute w-100 bottom-0 start-0 end-0 z-3">
                    <div class="card-body text-center">
                        <div>
                            <span class="fs-12 text-white-50">By <span class="text-white">admin</span></span>
                            <span class="fs-12 text-white-50">In <a href="javascript:void(0);" class="text-white">Food</a>,
                                <a href="javascript:void(0);" class="text-white">Life Style</a>
                            </span>
                        </div>
                        <h2 class="fs-14 text-uppercase blog_grid_img_heading">
                            <a class="text-white" routerLink="$2">Cool Spring Street Style
                                Looks</a>
                        </h2>
                        <span>
                            <time class="text-white-50" datetime="2020-04-06T02:22:00Z">April 6, 2020</time>
                        </span>
                    </div>
                </div>
            </div>
            <div class="slideshow__slide swiper-slide" style="width: 33.33%; ">
                <a href="javascript:void(0);" class="blog_grid">
                    <div class="blog_grid_img w-100 h-100" style="background: url('assets/images/blog-page/blog-slide-05.jpg') center no-repeat; background-size: cover;">
                    </div>
                </a>
                <div class="card rounded-0 border-0 bg-black bg-opacity-75 position-absolute w-100 bottom-0 start-0 end-0 z-3">
                    <div class="card-body text-center">
                        <div>
                            <span class="fs-12 text-white-50">By <span class="text-white">admin</span></span>
                            <span class="fs-12 text-white-50">In <a href="javascript:void(0);" class="text-white">Fashion</a>,
                                <a href="javascript:void(0);" class="text-white">Life Style</a>,
                                <a href="javascript:void(0);" class="text-white">Travel</a>
                            </span>
                        </div>
                        <h2 class="fs-14 text-uppercase blog_grid_img_heading">
                            <a class="text-white" routerLink="$2">Style Advice All Men Should
                                Hear</a>
                        </h2>
                        <span>
                            <time class="text-white-50" datetime="2020-04-06T02:22:00Z">April 6, 2020</time>
                        </span>
                    </div>
                </div>
            </div>
            <div class="slideshow__slide swiper-slide" style="width: 33.33%; ">
                <a href="javascript:void(0);" class="blog_grid">
                    <div class="blog_grid_img w-100 h-100" style="background: url('assets/images/blog-page/blog-slide-06.jpg') center no-repeat; background-size: cover;">
                    </div>
                </a>
                <div class="card rounded-0 border-0 bg-black bg-opacity-75 position-absolute w-100 bottom-0 start-0 end-0 z-3">
                    <div class="card-body text-center">
                        <div>
                            <span class="fs-12 text-white-50">By <span class="text-white">admin</span></span>
                            <span class="fs-12 text-white-50">In <a href="javascript:void(0);" class="text-white">Beauty</a>,
                                <a href="javascript:void(0);" class="text-white">Food</a>
                            </span>
                        </div>
                        <h2 class="fs-14 text-uppercase blog_grid_img_heading">
                            <a class="text-white" routerLink="$2">101 Beauty Tips Every Girl
                                Should Know</a>
                        </h2>
                        <span>
                            <time class="text-white-50" datetime="2020-04-06T02:22:00Z">April 6, 2020</time>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section>
        <div class="container">
            <div class="row kalles-blog-grid my-4 g-4">
                <div class="col-md-6 slideshow__slide " style="height:max-content !important ;">
                    <div class="blog_grid overflow-hidden">
                        <div class=" blog_grid_img w-100 position-relative" style="background: url('assets/images/blog-page/blog-slide-05.jpg') center no-repeat; background-size: cover; height: 400px;">
                        </div>
                        <div class="card rounded-0 border-0 bg-black position-absolute m-4 bottom-0 start-0 end-0 z-3">
                            <div class="card-body text-center">
                                <div>
                                    <span class="fs-12 text-white-50">By <span class="text-white">admin</span></span>
                                    <span class="fs-12 text-white-50">In <a href="javascript:void(0);" class="text-white">Beauty</a>,
                                        <a href="javascript:void(0);" class="text-white">Food</a>
                                    </span>
                                </div>
                                <h2 class="fs-14 text-uppercase blog_grid_img_heading my-2">
                                    <a class="text-white" routerLink="$2">STYLE ADVICE ALL
                                        MEN
                                        SHOULD HEAR</a>
                                </h2>
                                <span>
                                    <time class="text-white-50" datetime="2020-04-06T02:22:00Z">April 6, 2020</time>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="p-4 text-center blog-grid-contain">
                        <p class="text-muted">Typography is the work of typesetters, compositors, typographers, graphic
                            designers, art directors, manga artists, ...</p>
                        <button class="btn btn-outline-dark rounded-pill px-4 fw-semibold mx-auto mb-3">Continue
                            Reading</button>
                    </div>
                </div>
                <div class="col-md-6 slideshow__slide" style="height:max-content !important ;">
                    <div class="blog_grid overflow-hidden">
                        <div class="blog_grid_img w-100 position-relative" style="background: url('assets/images/blog-page/blog-slide-06.jpg') center no-repeat; background-size: cover; height: 400px;">
                        </div>
                        <div class="card rounded-0 border-0 bg-black position-absolute m-4 bottom-0 start-0 end-0 z-3">
                            <div class="card-body text-center">
                                <div>
                                    <span class="fs-12 text-white-50">By <span class="text-white">admin</span></span>
                                    <span class="fs-12 text-white-50">In <a href="javascript:void(0);" class="text-white">Beauty</a>,
                                        <a href="javascript:void(0);" class="text-white">Food</a>
                                    </span>
                                </div>
                                <h2 class="fs-14 text-uppercase blog_grid_img_heading my-2">
                                    <a class="text-white" routerLink="$2">101 BEAUTY TIPS
                                        EVERY GIRL SHOULD KNOW</a>
                                </h2>
                                <span>
                                    <time class="text-white-50" datetime="2020-04-06T02:22:00Z">April 6, 2020</time>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="p-4 text-center blog-grid-contain">
                        <p class="text-muted">Typography is the work of typesetters, compositors, typographers, graphic
                            designers, art directors, manga artists, ...</p>
                        <button class="btn btn-outline-dark rounded-pill px-4 fw-semibold mx-auto mb-3">Continue
                            Reading</button>
                    </div>
                </div>
                <div class="col-md-6 slideshow__slide" style="height:max-content !important ;">
                    <div class="blog_grid overflow-hidden">
                        <div class="blog_grid_img w-100 position-relative" style="background: url('assets/images/blog-page/blog-slide-07.jpg') center no-repeat; background-size: cover; height: 400px;">
                        </div>
                        <div class="card rounded-0 border-0 bg-black position-absolute m-4 bottom-0 start-0 end-0 z-3">
                            <div class="card-body text-center">
                                <div>
                                    <span class="fs-12 text-white-50">By <span class="text-white">admin</span></span>
                                    <span class="fs-12 text-white-50">In <a href="javascript:void(0);" class="text-white">Beauty</a>,
                                        <a href="javascript:void(0);" class="text-white">Food</a>
                                    </span>
                                </div>
                                <h2 class="fs-14 text-uppercase blog_grid_img_heading my-2">
                                    <a class="text-white" routerLink="$2">7 THINGS YOU CAN’T
                                        WEAR AFTER LABOR DAY READ</a>
                                </h2>
                                <span>
                                    <time class="text-white-50" datetime="2020-04-06T02:22:00Z">April 6, 2020</time>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="p-4 text-center blog-grid-contain">
                        <p class="text-muted">Typography is the work of typesetters, compositors, typographers, graphic
                            designers, art directors, manga artists, ...</p>
                        <button class="btn btn-outline-dark rounded-pill px-4 fw-semibold mx-auto mb-3">Continue
                            Reading</button>
                    </div>
                </div>
                <div class="col-md-6 slideshow__slide" style="height:max-content !important ;">
                    <div class="blog_grid overflow-hidden">
                        <div class="blog_grid_img w-100 position-relative" style="background: url('assets/images/blog-page/blog-slide-08.jpg') center no-repeat; background-size: cover; height: 400px;">
                        </div>
                        <div class="card rounded-0 border-0 bg-black position-absolute m-4 bottom-0 start-0 end-0 z-3">
                            <div class="card-body text-center">
                                <div>
                                    <span class="fs-12 text-white-50">By <span class="text-white">admin</span></span>
                                    <span class="fs-12 text-white-50">In <a href="javascript:void(0);" class="text-white">Beauty</a>,
                                        <a href="javascript:void(0);" class="text-white">Food</a>
                                    </span>
                                </div>
                                <h2 class="fs-14 text-uppercase blog_grid_img_heading my-2">
                                    <a class="text-white" routerLink="$2">HOW TO WEAR PAINFUL
                                        HEELS WITHOUT DYING</a>
                                </h2>
                                <span>
                                    <time class="text-white-50" datetime="2020-04-06T02:22:00Z">April 6, 2020</time>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="p-4 text-center blog-grid-contain">
                        <p class="text-muted">Typography is the work of typesetters, compositors, typographers, graphic
                            designers, art directors, manga artists, ...</p>
                        <button class="btn btn-outline-dark rounded-pill px-4 fw-semibold mx-auto mb-3">Continue
                            Reading</button>
                    </div>
                </div>
            </div>
            <div class="filter-pagination">
                <ul class="pagination py-4 d-flex justify-content-center">
                    <li><a href="javascript:void(0);">1</a></li>
                    <li class="active text-danger"><a href="javascript:void(0);" class="text-danger">2</a></li>
                    <li><a href="javascript:void(0);">3</a></li>
                    <li><a href="javascript:void(0);">Next</a></li>
                </ul>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
    <app-popup></app-popup>
</div>
<app-card-model></app-card-model>