<app-top-banner className="navbar-dark"></app-top-banner>
<app-header-bag className="navbar-dark"></app-header-bag>
<div>
    <div class="kalles-home-section type_slideshow type_carousel kalles-bags swiper bagSwiper">
        <div class="slideshow swiper-wrapper">
            <div class="swiper-slide">
                <img src="assets/images/home-bags/main-slide-01.jpg" alt="" class="position-absolute w-100 h-100 object-fit-cover">
                <div class="container position-relative">
                    <div class="row justify-content-end">
                        <div class="col-lg-6">
                            <div class="content text-end">
                                <h5 class="text-white fs-18 fw-medium">MEMBERS GET</h5>
                                <h1 class="display-3 fw-bold text-white mb-1">20% OFF</h1>
                                <h1 class="fs-50 fw-bold text-white mb-3">ONE FULL PRICE ITEM</h1>
                                <a routerLink="/shop" class="btn text-white btn-custom-white-red btn_icon_true fw-medium min-w-150 rounded-0 py-3 px-5 text-uppercase fs-17">Register Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="assets/images/home-bags/main-slide-02.jpg" alt="" class="position-absolute w-100 h-100 object-fit-cover">
                <div class="container position-relative">
                    <div class="row justify-content-end">
                        <div class="col-lg-6">
                            <div class="content">
                                <h5 class="text-white fs-18 fw-medium">WE ARE KALLES</h5>
                                <h1 class="display-3 fw-bold text-white mb-4">No Matter What Lifestyle You Live</h1>
                                <a routerLink="/shop" class="btn text-white btn-custom-white-red btn_icon_true fw-medium min-w-150 rounded-0 py-3 px-5 text-uppercase fs-17">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="pt-5 mt-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="text-center">
                        <div class="mb-2">
                            <h1>POWERPLATE COLLECTION</h1>
                        </div>
                        <span class="fs-14 text-uppercase ls-normal text-muted">DISCOVER OUR BEST PRODUCTS</span>
                    </div>
                </div>
            </div>
            <div class="row g-4 mt-4">
                <div class="col-md-3 col-6" *ngFor="let product of products">
                    <div class="topbar-product-card" (mouseenter)="product.isHovered = true" (mouseleave)="product.isHovered = false">
                        <div class="position-relative overflow-hidden">
                            <img [src]="product.isHovered ? product.hoverImage : product.imageUrl" alt="" class="img-fluid">
                            <a href="javascript:void(0);" class="wishlistadd position-absolute" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add to Wishlist">
                                <i class="facl facl-heart-o"></i>
                            </a>
                            <div class="product-button d-none d-lg-flex flex-column gap-2">
                                <a [href]="product.quickViewId" data-bs-toggle="modal" class="btn rounded-pill fs-14">
                                    <span>Quick View</span> <i class="iccl iccl-eye"></i>
                                </a>
                                <button type="button" class="btn rounded-pill fs-14" [attr.data-bs-target]="product.quickShopId" data-bs-toggle="modal">
                                    <span>Quick Shop</span> <i class="iccl iccl-cart"></i>
                                </button>
                            </div>
                            <div class="position-absolute d-lg-none bottom-0 end-0 d-flex flex-column bg-white rounded-pill m-2" style="z-index: 1; box-shadow: 1px 1px 1px rgba(0, 0, 0, .1);">
                                <a [href]="product.quickViewId" data-bs-toggle="modal" class="btn responsive-cart rounded-pill fs-14 p-2" style="width:36px; height: 36px;">
                                    <i class="iccl iccl-eye fw-semibold"></i>
                                </a>
                                <button type="button" class="btn responsive-cart rounded-pill fs-14 p-2" style="width:36px; height: 36px;" [attr.data-bs-target]="product.quickShopId" data-bs-toggle="modal">
                                    <i class="iccl iccl-cart fw-semibold"></i>
                                </button>
                            </div>
                        </div>
                        <div class="mt-3">
                            <h6 class="mb-1 fs-16 fw-medium text-capitalize">
                                <a [href]="product.productUrl" class="main_link_red">{{ product.name }}</a>
                            </h6>
                            <p class="mb-0 fs-14 text-muted">
                                <span>{{ product.price }}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-4 text-center pt-3">
                <button class="btn btn-custom-dark-red btn-load rounded-0">Load More <i class="las la-arrow-down"></i></button>
            </div>
        </div>
    </section>
    <section class="cat-section pt-5 mt-5">
        <div class="container-fluid">
            <div class="row g-2">
                <div class="col-md-8">
                    <div class="row g-2">
                        <div class="col-md-6">
                            <a routerLink="/shop-left-sidebar" class="d-block position-relative cat_grid_item overflow-hidden h-410">
                                <div class="h-100 w-100 cat-grid-img" style="background-image: url('assets/images/home-bags/messengers-cat.jpg');"></div>
                                <div class="cat-grid-button text-body">
                                    <div class="cat_grid_item__title">Messengers</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a routerLink="/shop-left-sidebar" class="d-block position-relative cat_grid_item overflow-hidden h-410">
                                <div class="h-100 w-100 cat-grid-img" style="background-image: url('assets/images/home-bags/travel-luggage-cat.jpg');">
                                </div>
                                <div class="cat-grid-button text-body">
                                    <div class="cat_grid_item__title">Travel & Luggage</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-12">
                            <a routerLink="/shop-left-sidebar" class="d-block position-relative cat_grid_item overflow-hidden h-410">
                                <div class="h-100 w-100 cat-grid-img" style="background-image: url('assets/images/home-bags/laptop-bags-cat.jpg');"></div>
                                <div class="cat-grid-button text-body">
                                    <div class="cat_grid_item__title">Laptop Bags</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 h-100">
                    <a href="javascript:void(0);" class="d-block position-relative cat_grid_item overflow-hidden h-844">
                        <div class="h-100 w-100 cat-grid-img" style="background-image: url('assets/images/home-bags/backpack-cat.jpg');background-position: center;">
                        </div>
                        <div class="cat-grid-button text-body">
                            <div class="cat_grid_item__title">Backpack</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="text-center pb-3">
                        <div class="mb-2">
                            <h1>BEST SELLER PRODUCTS</h1>
                        </div>
                        <span class="fs-14 text-uppercase ls-normal text-muted">BEST SELLING PRODUCTS THIS SEASON</span>
                    </div>
                </div>
            </div>
            <div class="card border-0 mt-4 overflow-hidden">
                <div class="row g-4 align-items-center">
                    <div class="col-lg-6 order-1 order-md-0">
                        <div class="card-body">
                            <div class="row g-4">
                                <div *ngFor="let product of products2" class="col-lg-6 col-md-3 col-6">
                                    <div class="topbar-product-card" (mouseenter)="product.isHovered = true" (mouseleave)="product.isHovered = false">
                                        <div class="position-relative overflow-hidden">
                                            <img [src]="product.isHovered ? product.hoverImage : product.imageUrl" alt="" class="img-fluid">
                                            <a href="javascript:void(0);" class="wishlistadd position-absolute" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add to Wishlist">
                                                <i class="facl facl-heart-o"></i>
                                            </a>
                                            <div class="product-button d-none d-lg-flex flex-column gap-2">
                                                <a href="javascript:void(0);" (click)="openModal('exampleModal')" class="btn rounded-pill fs-14"><span>Quick View</span> <i class="iccl iccl-eye"></i></a>
                                                <button type="button" class="btn rounded-pill fs-14" (click)="openModal('cardModal')">
                                                    <span>Quick Shop</span><i class="iccl iccl-cart"></i>
                                                </button>
                                            </div>
                                            <div class="position-absolute d-lg-none bottom-0 end-0 d-flex flex-column bg-white rounded-pill m-2" style="z-index: 1; box-shadow: 1px 1px 1px rgba(0, 0, 0, .1);">
                                                <a href="javascript:void(0);" (click)="openModal('exampleModal')" class="btn responsive-cart rounded-pill fs-14 p-2" style="width:36px; height: 36px;">
                                                    <i class="iccl iccl-eye fw-semibold"></i>
                                                </a>
                                                <button type="button" class="btn responsive-cart rounded-pill fs-14 p-2" style="width:36px; height: 36px;" (click)="openModal('cardModal')">
                                                    <i class="iccl iccl-cart fw-semibold"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="mt-3">
                                            <h6 class="mb-1 fs-16 fw-medium">
                                                <a routerLink="/product-detail-layout-01" class="main_link_red">{{ product.name }}</a>
                                            </h6>
                                            <p class="mb-0 fs-15 text-muted">
                                                <span>{{ product.price }}</span>
                                            </p>
                                            <div *ngIf="product.colors.length" class="product-color-list mt-2 gap-2 d-flex align-items-center">
                                                <a *ngFor="let color of product.colors" href="javascript:void(0)" (click)="updateImage(product, color.imageUrl)" class="d-inline-block bg_color_{{ color.color }} rounded-circle"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-6 order-md-1 order-0">
                        <div class="position-relative">
                            <img src="assets/images/home-bags/bestseller-product-banner.jpg" alt="" class="img-fluid w-100">
                            <div class="position-absolute bottom-0 start-0 text-white p-5">
                                <h6>FEATURED BACKPACK</h6>
                                <h2 class="fs-60 mb-2">Urban 80M</h2>
                                <a routerLink="/shop" class="btn text-white btn-custom-white-red btn_icon_true fw-medium min-w-150 rounded-0 py-3 px-5 text-uppercase fs-17">Learn
                                    More </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="kalles-bags-brand">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="text-center pb-3">
                        <div class="mb-2">
                            <h1>OUR PARTNERS</h1>
                        </div>
                        <span class="fs-14 text-uppercase ls-normal text-muted">WHO WE WORK WITH</span>
                    </div>
                </div>
            </div>
            <div class="row row-cols-2 row-cols-md-5 justify-content-center">
                <div class="col">
                    <a href="javascript:void(0);" class="text-center d-inline-block mt-4">
                        <img src="assets/images/home-bags/br1.png" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="col">
                    <a href="javascript:void(0);" class="text-center d-inline-block mt-4">
                        <img src="assets/images/home-bags/br2.png" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="col">
                    <a href="javascript:void(0);" class="text-center d-inline-block mt-4">
                        <img src="assets/images/home-bags/br3.png" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="col">
                    <a href="javascript:void(0);" class="text-center d-inline-block mt-4">
                        <img src="assets/images/home-bags/br4.png" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="col">
                    <a href="javascript:void(0);" class="text-center d-inline-block mt-4">
                        <img src="assets/images/home-bags/br5.png" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="col">
                    <a href="javascript:void(0);" class="text-center d-inline-block mt-4">
                        <img src="assets/images/home-bags/br6.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="col">
                    <a href="javascript:void(0);" class="text-center d-inline-block mt-4">
                        <img src="assets/images/home-bags/br7.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="col">
                    <a href="javascript:void(0);" class="text-center d-inline-block mt-4">
                        <img src="assets/images/home-bags/br8.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="col">
                    <a href="javascript:void(0);" class="text-center d-inline-block mt-4">
                        <img src="assets/images/home-bags/br9.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="col">
                    <a href="javascript:void(0);" class="text-center d-inline-block mt-4">
                        <img src="assets/images/home-bags/br10.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="kalles-furniture-testimonial pt-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="text-center">
                        <div class="mb-2">
                            <h1>HAPPY CUSTOMERS</h1>
                        </div>
                        <span class="fs-14 text-uppercase ls-normal text-muted">WHAT FOLKS ARE SAYING ABOUT US</span>
                    </div>
                </div>
            </div>
            <div class="quotes_wrapper row mt-30 g-0">
                <div class="col-lg-4">
                    <div class="quote_slide border">
                        <p class="text-muted fs-14">Amazing theme and top class support, as I’m a beginner, Luke helped
                            me above and beyond and was more than patient, his responses were quick and he has a genuine
                            care for you to enjoy and move forward with your theme!</p>
                        <div class="d-flex align-items-center gap-3 mt-4 pt-2">
                            <img src="assets/images/home-bags/avatar-01.jpg" alt="" class="square-md rounded-circle">
                            <div>
                                <h6 class="quote_author mb-0 text-uppercase">Chester Torres</h6>
                                <p class="text-muted mb-1">VP of Product / Local Inc</p>
                                <div class="text-warning fs-13">
                                    <i class="facl facl-star"></i>
                                    <i class="facl facl-star"></i>
                                    <i class="facl facl-star"></i>
                                    <i class="facl facl-star"></i>
                                    <i class="facl facl-star"></i>
                                    <i class="facl facl-stardn"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="quote_slide border">
                        <p class="text-muted fs-14">Amazing theme and top class support, as I’m a beginner, Luke helped
                            me above and beyond and was more than patient, his responses were quick and he has a genuine
                            care for you to enjoy and move forward with your theme!</p>
                        <div class="d-flex align-items-center gap-3 mt-4 pt-2">
                            <img src="assets/images/home-furniture/customer-02.jpg" alt="" class="square-md rounded-circle">
                            <div>
                                <h6 class="quote_author mb-0 text-uppercase">Annie Quinn</h6>
                                <p class="text-muted mb-1">Co-Founder / April Inc</p>
                                <div class="text-warning fs-13">
                                    <i class="facl facl-star"></i>
                                    <i class="facl facl-star"></i>
                                    <i class="facl facl-star"></i>
                                    <i class="facl facl-star"></i>
                                    <i class="facl facl-star"></i>
                                    <i class="facl facl-stardn"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="quote_slide border">
                        <p class="text-muted fs-14">Amazing theme and top class support, as I’m a beginner, Luke helped
                            me above and beyond and was more than patient, his responses were quick and he has a genuine
                            care for you to enjoy and move forward with your theme!</p>
                        <div class="d-flex align-items-center gap-3 mt-4 pt-2">
                            <img src="assets/images/home-bags/avatar-03.jpg" alt="" class="square-md rounded-circle">
                            <div>
                                <h6 class="quote_author mb-0 text-uppercase">Arthur Hansen</h6>
                                <p class="text-muted mb-1">CEO / Letters Inc</p>
                                <div class="text-warning fs-13">
                                    <i class="facl facl-star"></i>
                                    <i class="facl facl-star"></i>
                                    <i class="facl facl-star"></i>
                                    <i class="facl facl-star"></i>
                                    <i class="facl facl-star"></i>
                                    <i class="facl facl-stardn"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
    <app-popup></app-popup>
</div>
<app-card-model></app-card-model>