<section class="kalles-section_type_featured_blog latest-blogs">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="text-center mb-4 pb-2">
                    <div class="mb-2">
                        <h3 class="section-title position-relative flex text-uppercase ">
                            <span style="white-space: nowrap;">Lates from Blog</span>
                        </h3>
                    </div>
                    <span class="section-subtitle sub-title font-secondary fst-italic fs-14 text-muted">The freshest
                        and most exciting news</span>
                </div>
            </div>
        </div>
        <div class="row g-4 blog-arrow kalles-blog-grid swiper BlogSwiper" dir="ltr">
            <div class="swiper-wrapper">
                <div class="col-md-4 px-2 slideshow__slide swiper-slide ">
                    <a routerLink="/blog-left-sidebar" class="blog-card d-block blog-wrap">
                        <div class="blog_grid overflow-hidden">
                            <div class=" blog_grid_img w-100 position-relative" style="background: url('assets/images/blog/blog-01.jpg') center no-repeat; background-size: cover; height: 254px;">
                            </div>
                        </div>
                        <h6 class="fs-16 mt-3 main_link"><a routerLink="/blog-post-with-instagram-shop" class="text-reset">Spring – Summer Trending 2020</a></h6>
                        <div class="d-flex gap-1 align-items-center text-muted">
                            <span class="me-1">By <span class="text-body">admin</span></span>
                            On
                            <span class="text-body">April 6, 2020</span>
                        </div>
                        <div class="post-content text-muted mt-3">Typography is the work of typesetters, compositors,
                            typographers, graphic designers, art directors, manga artists, ...</div>
                    </a>
                </div>
                <div class="col-md-4 px-2 slideshow__slide swiper-slide">
                    <a routerLink="/blog-left-sidebar" class="blog-card d-block blog-wrap">
                        <div class="blog_grid overflow-hidden">
                            <div class=" blog_grid_img w-100 position-relative" style="background: url('assets/images/blog/blog-02.jpg') center no-repeat; background-size: cover; height: 254px;">
                            </div>
                        </div>
                        <h6 class="fs-16 mt-3 main_link"><a routerLink="/blog-post-with-instagram-shop" class="text-reset">The
                                Easiest Way to Break Out on Top</a></h6>
                        <div class="d-flex gap-1 align-items-center text-muted">
                            <span class="me-1">By <span class="text-body">admin</span></span>
                            On
                            <span class="text-body">April 6, 2020</span>
                        </div>
                        <div class="post-content text-muted mt-3">Typography is the work of typesetters, compositors,
                            typographers, graphic designers, art directors, manga artists, ...</div>
                    </a>
                </div>
                <div class="col-md-4 px-2 slideshow__slide swiper-slide">
                    <a routerLink="/blog-left-sidebar" class="blog-card d-block blog-wrap">
                        <div class="blog_grid overflow-hidden">
                            <div class="d-block blog_grid_img w-100 position-relative" style="background: url('assets/images/blog/blog-03.jpg') center no-repeat; background-size: cover; height: 254px;">
                            </div>
                        </div>
                        <h6 class="fs-16 mt-3 main_link"><a routerLink="/blog-post-with-instagram-shop" class="text-reset">Style for couple in Weeding season</a></h6>
                        <div class="d-flex gap-1 align-items-center text-muted">
                            <span class="me-1">By <span class="text-body">admin</span></span>
                            On
                            <span class="text-body">April 6, 2020</span>
                        </div>
                        <div class="post-content text-muted mt-3">Typography is the work of typesetters, compositors,
                            typographers, graphic designers, art directors, manga artists, ...</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>