<app-top-banner></app-top-banner>
<app-header></app-header>
<div>
    <div style="background-image: url('assets/images/shop/collection-list/bg-heading.jpg'); background-size: cover; background-position: left center;" class="position-relative">
        <div class="position-absolute top-0 start-0 right-0 bottom-0 bg-dark w-100 opacity-50"></div>
        <div class="px-4">
            <div class="text-white text-center py-5 position-relative">
                <h4 class="fs-20 fw-medium">PORTFOLIO</h4>
            </div>
        </div>
    </div>
    <section class="type_tab_collection pt-0">
        <div class="container">
            <div>
                <ul class="nav tab_header gap-lg-4 my-5 justify-content-center" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link pill-border rounded-pill active" id="best-seller-tab" data-bs-toggle="pill" data-bs-target="#best-seller" type="button" role="tab" aria-controls="best-seller" aria-selected="true">All</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link pill-border rounded-pill" id="featured-tab" data-bs-toggle="pill" data-bs-target="#featured" type="button" role="tab" aria-controls="featured" aria-selected="false">Accessories(7)</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link pill-border rounded-pill" id="sale-tab" data-bs-toggle="pill" data-bs-target="#sale" type="button" role="tab" aria-controls="sale" aria-selected="false">Clothing(3)</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link pill-border rounded-pill" id="top-sale-tab" data-bs-toggle="pill" data-bs-target="#top-sale" type="button" role="tab" aria-controls="top-sale" aria-selected="false">DIT(6)</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link pill-border rounded-pill" id="handmade-tab" data-bs-toggle="pill" data-bs-target="#handmade" type="button" role="tab" aria-controls="handmade" aria-selected="false">Clothing(3)</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link pill-border rounded-pill" id="top-jewellery-tab" data-bs-toggle="pill" data-bs-target="#top-jewellery" type="button" role="tab" aria-controls="top-jewellery" aria-selected="false">DIT(6)</button>
                    </li>
                </ul>
                <div class="tab-content mt-4" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="best-seller" role="tabpanel" aria-labelledby="best-seller-tab" tabindex="0">
                        <div class="row g-2 g-lg-4">
                            <div class="col-sm-6">
                                <div class="row g-2 g-lg-4">
                                    <div class="col-12">
                                        <a routerLink="/shop" class="d-lg-block portfolio-img text-black text-center">
                                            <img src="assets/images/portfolio/p-01.jpg" class="img-fluid" alt="">
                                            <div class="position-absolute start-50 translate-middle portfolio-card-detail" style="z-index: 2;">
                                                <h6>WOMEN SHOES</h6>
                                                <p class="text-muted">Accessories, DIY, Handmade</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-12">
                                        <a routerLink="/shop" class="d-lg-block portfolio-img text-black text-center">
                                            <img src="assets/images/portfolio/p-03.jpg" class="img-fluid w-100" alt="">
                                            <div class="position-absolute start-50 translate-middle portfolio-card-detail" style="z-index: 2;">
                                                <h6>HANDMADE CRAFT</h6>
                                                <p class="text-muted">DIY, Handmade</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-12">
                                        <a routerLink="/shop" class="d-lg-block portfolio-img text-black text-center">
                                            <img src="assets/images/portfolio/p-05.jpg" class="img-fluid w-100" alt="">
                                            <div class="position-absolute start-50 translate-middle portfolio-card-detail" style="z-index: 2;">
                                                <h6>WHITE SPORT SHOES</h6>
                                                <p class="text-muted">Accessories, Clothing, Jewellery</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-12">
                                        <a routerLink="/shop" class="d-lg-block portfolio-img text-black text-center">
                                            <img src="assets/images/portfolio/p-07.jpg" class="img-fluid w-100" alt="">
                                            <div class="position-absolute start-50 translate-middle portfolio-card-detail" style="z-index: 2;">
                                                <h6>WHITE SPORT SHOES</h6>
                                                <p class="text-muted">Accessories, Clothing, Jewellery</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-12">
                                        <a routerLink="/shop" class="d-lg-block portfolio-img text-black text-center">
                                            <img src="assets/images/portfolio/p-09.jpg" class="img-fluid" alt="">
                                            <div class="position-absolute start-50 translate-middle portfolio-card-detail" style="z-index: 2;">
                                                <h6>LEATHER BAG</h6>
                                                <p class="text-muted">Accessories, Clothing, Jewellery</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row g-2 g-lg-4">
                                    <div class="col-12">
                                        <a routerLink="/shop" class="d-lg-block portfolio-img text-black text-center">
                                            <img src="assets/images/portfolio/p-02.jpg" class="img-fluid" alt="">
                                            <div class="position-absolute start-50 translate-middle portfolio-card-detail" style="z-index: 2;">
                                                <h6>KALLES WATCH</h6>
                                                <p class="text-muted">Accessories, Handmade, Jewellery</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-12">
                                        <a routerLink="/shop" class="d-lg-block portfolio-img text-black text-center">
                                            <img src="assets/images/portfolio/p-04.jpg" class="img-fluid" alt="">
                                            <div class="position-absolute start-50 translate-middle portfolio-card-detail" style="z-index: 2;">
                                                <h6>BRANDING DESIGN MOCKUP</h6>
                                                <p class="text-muted">Accessories, DIY, Handmade</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-12">
                                        <a routerLink="/shop" class="d-lg-block portfolio-img text-black text-center">
                                            <img src="assets/images/portfolio/p-06.jpg" class="img-fluid" alt="">
                                            <div class="position-absolute start-50 translate-middle portfolio-card-detail" style="z-index: 2;">
                                                <h6>SHOE CLEANER</h6>
                                                <p class="text-muted">Accessories, DIY</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-12">
                                        <a routerLink="/shop" class="d-lg-block portfolio-img text-black text-center">
                                            <img src="assets/images/portfolio/p-08.jpg" class="img-fluid" alt="">
                                            <div class="position-absolute start-50 translate-middle portfolio-card-detail" style="z-index: 2;">
                                                <h6>POSTER MOCKUP</h6>
                                                <p class="text-muted">Clothing, Jewellery</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="featured" role="tabpanel" aria-labelledby="featured-tab" tabindex="0">
                        <div class="row g-2 g-lg-4">
                            <div class="col-sm-6 col-md-4">
                                <div class="row g-2 g-lg-4">
                                    <div class="col-12">
                                        <a routerLink="/shop" class="d-lg-block portfolio-img text-black text-center">
                                            <img src="assets/images/portfolio/p-01.jpg" class="img-fluid" alt="">
                                            <div class="position-absolute start-50 translate-middle portfolio-card-detail" style="z-index: 2;">
                                                <h6>WOMEN SHOES</h6>
                                                <p class="text-muted">Accessories, DIY, Handmade</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-12">
                                        <a routerLink="/shop" class="d-lg-block portfolio-img text-black text-center">
                                            <img src="assets/images/portfolio/p-05.jpg" class="img-fluid w-100" alt="">
                                            <div class="position-absolute start-50 translate-middle portfolio-card-detail" style="z-index: 2;">
                                                <h6>HANDMADE CANDLE</h6>
                                                <p class="text-muted">DIY, Handmade</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-12">
                                        <a routerLink="/shop" class="d-lg-block portfolio-img text-black text-center">
                                            <img src="assets/images/portfolio/p-07.jpg" class="img-fluid w-100" alt="">
                                            <div class="position-absolute start-50 translate-middle portfolio-card-detail" style="z-index: 2;">
                                                <h6>WHITE SPORT SHOES</h6>
                                                <p class="text-muted">Accessories, Clothing, Jewellery</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="row g-2 g-lg-4">
                                    <div class="col-12">
                                        <a routerLink="/shop" class="d-lg-block portfolio-img text-black text-center">
                                            <img src="assets/images/portfolio/p-02.jpg" class="img-fluid" alt="">
                                            <div class="position-absolute start-50 translate-middle portfolio-card-detail" style="z-index: 2;">
                                                <h6>KALLES WATCH</h6>
                                                <p class="text-muted">Accessories, Handmade, Jewellery</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-12">
                                        <a routerLink="/shop" class="d-lg-block portfolio-img text-black text-center">
                                            <img src="assets/images/portfolio/p-06.jpg" class="img-fluid" alt="">
                                            <div class="position-absolute start-50 translate-middle portfolio-card-detail" style="z-index: 2;">
                                                <h6>SHOE CLEANER</h6>
                                                <p class="text-muted">Accessories, DIY</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-12">
                                        <a routerLink="/shop" class="d-lg-block portfolio-img text-black text-center">
                                            <img src="assets/images/portfolio/p-09.jpg" class="img-fluid" alt="">
                                            <div class="position-absolute start-50 translate-middle portfolio-card-detail" style="z-index: 2;">
                                                <h6>LEATHER BAG</h6>
                                                <p class="text-muted">Accessories, DIY, Handmade</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="row g-2 g-lg-4">
                                    <div class="col-12">
                                        <a routerLink="/shop" class="d-lg-block portfolio-img text-black text-center">
                                            <img src="assets/images/portfolio/p-03.jpg" class="img-fluid w-100" alt="">
                                            <div class="position-absolute start-50 translate-middle portfolio-card-detail" style="z-index: 2;">
                                                <h6>HANDMADE CRAFT</h6>
                                                <p class="text-muted">DIY, Handmade</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-12">
                                        <a routerLink="/shop" class="d-lg-block portfolio-img text-black text-center">
                                            <img src="assets/images/portfolio/p-04.jpg" class="img-fluid w-100" alt="">
                                            <div class="position-absolute start-50 translate-middle portfolio-card-detail" style="z-index: 2;">
                                                <h6>WHITE SPORT SHOES</h6>
                                                <p class="text-muted">Accessories, Clothing, Jewellery</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-12">
                                        <a routerLink="/shop" class="d-lg-block portfolio-img text-black text-center">
                                            <img src="assets/images/portfolio/p-08.jpg" class="img-fluid w-100" alt="">
                                            <div class="position-absolute start-50 translate-middle portfolio-card-detail" style="z-index: 2;">
                                                <h6>WHITE SPORT SHOES</h6>
                                                <p class="text-muted">Accessories, Clothing, Jewellery</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="sale" role="tabpanel" aria-labelledby="sale-tab" tabindex="0">
                        <div class="row g-2 g-lg-4">
                            <div class="col-sm-6 col-md-4">
                                <div class="row g-2 g-lg-4">
                                    <div class="col-12">
                                        <a routerLink="/shop" class="d-lg-block portfolio-img text-black text-center">
                                            <img src="assets/images/portfolio/p-01.jpg" class="img-fluid" alt="">
                                            <div class="position-absolute start-50 translate-middle portfolio-card-detail" style="z-index: 2;">
                                                <h6>WOMEN SHOES</h6>
                                                <p class="text-muted">Accessories, DIY, Handmade</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-12">
                                        <a routerLink="/shop" class="d-lg-block portfolio-img text-black text-center">
                                            <img src="assets/images/portfolio/p-05.jpg" class="img-fluid w-100" alt="">
                                            <div class="position-absolute start-50 translate-middle portfolio-card-detail" style="z-index: 2;">
                                                <h6>HANDMADE CANDLE</h6>
                                                <p class="text-muted">DIY, Handmade</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-12">
                                        <a routerLink="/shop" class="d-lg-block portfolio-img text-black text-center">
                                            <img src="assets/images/portfolio/p-07.jpg" class="img-fluid w-100" alt="">
                                            <div class="position-absolute start-50 translate-middle portfolio-card-detail" style="z-index: 2;">
                                                <h6>WHITE SPORT SHOES</h6>
                                                <p class="text-muted">Accessories, Clothing, Jewellery</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="row g-2 g-lg-4">
                                    <div class="col-12">
                                        <a routerLink="/shop" class="d-lg-block portfolio-img text-black text-center">
                                            <img src="assets/images/portfolio/p-02.jpg" class="img-fluid" alt="">
                                            <div class="position-absolute start-50 translate-middle portfolio-card-detail" style="z-index: 2;">
                                                <h6>KALLES WATCH</h6>
                                                <p class="text-muted">Accessories, Handmade, Jewellery</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-12">
                                        <a routerLink="/shop" class="d-lg-block portfolio-img text-black text-center">
                                            <img src="assets/images/portfolio/p-06.jpg" class="img-fluid" alt="">
                                            <div class="position-absolute start-50 translate-middle portfolio-card-detail" style="z-index: 2;">
                                                <h6>SHOE CLEANER</h6>
                                                <p class="text-muted">Accessories, DIY</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-12">
                                        <a routerLink="/shop" class="d-lg-block portfolio-img text-black text-center">
                                            <img src="assets/images/portfolio/p-09.jpg" class="img-fluid" alt="">
                                            <div class="position-absolute start-50 translate-middle portfolio-card-detail" style="z-index: 2;">
                                                <h6>LEATHER BAG</h6>
                                                <p class="text-muted">Accessories, DIY, Handmade</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="row g-2 g-lg-4">
                                    <div class="col-12">
                                        <a routerLink="/shop" class="d-lg-block portfolio-img text-black text-center">
                                            <img src="assets/images/portfolio/p-03.jpg" class="img-fluid w-100" alt="">
                                            <div class="position-absolute start-50 translate-middle portfolio-card-detail" style="z-index: 2;">
                                                <h6>HANDMADE CRAFT</h6>
                                                <p class="text-muted">DIY, Handmade</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-12">
                                        <a routerLink="/shop" class="d-lg-block portfolio-img text-black text-center">
                                            <img src="assets/images/portfolio/p-04.jpg" class="img-fluid w-100" alt="">
                                            <div class="position-absolute start-50 translate-middle portfolio-card-detail" style="z-index: 2;">
                                                <h6>WHITE SPORT SHOES</h6>
                                                <p class="text-muted">Accessories, Clothing, Jewellery</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-12">
                                        <a routerLink="/shop" class="d-lg-block portfolio-img text-black text-center">
                                            <img src="assets/images/portfolio/p-08.jpg" class="img-fluid w-100" alt="">
                                            <div class="position-absolute start-50 translate-middle portfolio-card-detail" style="z-index: 2;">
                                                <h6>WHITE SPORT SHOES</h6>
                                                <p class="text-muted">Accessories, Clothing, Jewellery</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="top-sale" role="tabpanel" aria-labelledby="top-sale-tab" tabindex="0">
                        <div class="row g-2 g-lg-4">
                            <div class="col-sm-6 col-md-3">
                                <div class="row g-2 g-lg-4">
                                    <div class="col-12">
                                        <a routerLink="/shop" class="d-lg-block portfolio-img text-black text-center">
                                            <img src="assets/images/portfolio/p-01.jpg" class="img-fluid" alt="">
                                            <div class="position-absolute start-50 translate-middle portfolio-card-detail" style="z-index: 2;">
                                                <h6>WOMEN SHOES</h6>
                                                <p class="text-muted">Accessories, DIY, Handmade</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-12">
                                        <a routerLink="/shop" class="d-lg-block portfolio-img text-black text-center">
                                            <img src="assets/images/portfolio/p-05.jpg" class="img-fluid w-100" alt="">
                                            <div class="position-absolute start-50 translate-middle portfolio-card-detail" style="z-index: 2;">
                                                <h6>HANDMADE CANDLE</h6>
                                                <p class="text-muted">DIY, Handmade</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-12">
                                        <a routerLink="/shop" class="d-lg-block portfolio-img text-black text-center">
                                            <img src="assets/images/portfolio/p-07.jpg" class="img-fluid w-100" alt="">
                                            <div class="position-absolute start-50 translate-middle portfolio-card-detail" style="z-index: 2;">
                                                <h6>WHITE SPORT SHOES</h6>
                                                <p class="text-muted">Accessories, Clothing, Jewellery</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="row g-2 g-lg-4">
                                    <div class="col-12">
                                        <a routerLink="/shop" class="d-lg-block portfolio-img text-black text-center">
                                            <img src="assets/images/portfolio/p-02.jpg" class="img-fluid" alt="">
                                            <div class="position-absolute start-50 translate-middle portfolio-card-detail" style="z-index: 2;">
                                                <h6>KALLES WATCH</h6>
                                                <p class="text-muted">Accessories, Handmade, Jewellery</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-12">
                                        <a routerLink="/shop" class="d-lg-block portfolio-img text-black text-center">
                                            <img src="assets/images/portfolio/p-06.jpg" class="img-fluid" alt="">
                                            <div class="position-absolute start-50 translate-middle portfolio-card-detail" style="z-index: 2;">
                                                <h6>SHOE CLEANER</h6>
                                                <p class="text-muted">Accessories, DIY</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-12">
                                        <a routerLink="/shop" class="d-lg-block portfolio-img text-black text-center">
                                            <img src="assets/images/portfolio/p-09.jpg" class="img-fluid" alt="">
                                            <div class="position-absolute start-50 translate-middle portfolio-card-detail" style="z-index: 2;">
                                                <h6>LEATHER BAG</h6>
                                                <p class="text-muted">Accessories, DIY, Handmade</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="row g-2 g-lg-4">
                                    <div class="col-12">
                                        <a routerLink="/shop" class="d-lg-block portfolio-img text-black text-center">
                                            <img src="assets/images/portfolio/p-03.jpg" class="img-fluid w-100" alt="">
                                            <div class="position-absolute start-50 translate-middle portfolio-card-detail" style="z-index: 2;">
                                                <h6>HANDMADE CRAFT</h6>
                                                <p class="text-muted">DIY, Handmade</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-12">
                                        <a routerLink="/shop" class="d-lg-block portfolio-img text-black text-center">
                                            <img src="assets/images/portfolio/p-04.jpg" class="img-fluid w-100" alt="">
                                            <div class="position-absolute start-50 translate-middle portfolio-card-detail" style="z-index: 2;">
                                                <h6>WHITE SPORT SHOES</h6>
                                                <p class="text-muted">Accessories, Clothing, Jewellery</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-12">
                                        <a routerLink="/shop" class="d-lg-block portfolio-img text-black text-center">
                                            <img src="assets/images/portfolio/p-08.jpg" class="img-fluid w-100" alt="">
                                            <div class="position-absolute start-50 translate-middle portfolio-card-detail" style="z-index: 2;">
                                                <h6>WHITE SPORT SHOES</h6>
                                                <p class="text-muted">Accessories, Clothing, Jewellery</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="row g-2 g-lg-4">
                                    <div class="col-12">
                                        <a routerLink="/shop" class="d-lg-block portfolio-img text-black text-center">
                                            <img src="assets/images/portfolio/p-02.jpg" class="img-fluid" alt="">
                                            <div class="position-absolute start-50 translate-middle portfolio-card-detail" style="z-index: 2;">
                                                <h6>KALLES WATCH</h6>
                                                <p class="text-muted">Accessories, Handmade, Jewellery</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-12">
                                        <a routerLink="/shop" class="d-lg-block portfolio-img text-black text-center">
                                            <img src="assets/images/portfolio/p-06.jpg" class="img-fluid" alt="">
                                            <div class="position-absolute start-50 translate-middle portfolio-card-detail" style="z-index: 2;">
                                                <h6>SHOE CLEANER</h6>
                                                <p class="text-muted">Accessories, DIY</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-12">
                                        <a routerLink="/shop" class="d-lg-block portfolio-img text-black text-center">
                                            <img src="assets/images/portfolio/p-09.jpg" class="img-fluid" alt="">
                                            <div class="position-absolute start-50 translate-middle portfolio-card-detail" style="z-index: 2;">
                                                <h6>LEATHER BAG</h6>
                                                <p class="text-muted">Accessories, DIY, Handmade</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="handmade" role="tabpanel" aria-labelledby="handmade-tab" tabindex="0">
                        <div class="row g-2 g-lg-4">
                            <div class="col-sm-6 col-md-4">
                                <div class="row g-2 g-lg-4">
                                    <div class="col-12">
                                        <a routerLink="/shop" class="d-lg-block portfolio-img text-black text-center">
                                            <img src="assets/images/portfolio/p-01.jpg" class="img-fluid" alt="">
                                            <div class="position-absolute start-50 translate-middle portfolio-card-detail" style="z-index: 2;">
                                                <h6>WOMEN SHOES</h6>
                                                <p class="text-muted">Accessories, DIY, Handmade</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-12">
                                        <a routerLink="/shop" class="d-lg-block portfolio-img text-black text-center">
                                            <img src="assets/images/portfolio/p-05.jpg" class="img-fluid w-100" alt="">
                                            <div class="position-absolute start-50 translate-middle portfolio-card-detail" style="z-index: 2;">
                                                <h6>HANDMADE CANDLE</h6>
                                                <p class="text-muted">DIY, Handmade</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-12">
                                        <a routerLink="/shop" class="d-lg-block portfolio-img text-black text-center">
                                            <img src="assets/images/portfolio/p-07.jpg" class="img-fluid w-100" alt="">
                                            <div class="position-absolute start-50 translate-middle portfolio-card-detail" style="z-index: 2;">
                                                <h6>WHITE SPORT SHOES</h6>
                                                <p class="text-muted">Accessories, Clothing, Jewellery</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="row g-2 g-lg-4">
                                    <div class="col-12">
                                        <a routerLink="/shop" class="d-lg-block portfolio-img text-black text-center">
                                            <img src="assets/images/portfolio/p-02.jpg" class="img-fluid" alt="">
                                            <div class="position-absolute start-50 translate-middle portfolio-card-detail" style="z-index: 2;">
                                                <h6>KALLES WATCH</h6>
                                                <p class="text-muted">Accessories, Handmade, Jewellery</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-12">
                                        <a routerLink="/shop" class="d-lg-block portfolio-img text-black text-center">
                                            <img src="assets/images/portfolio/p-06.jpg" class="img-fluid" alt="">
                                            <div class="position-absolute start-50 translate-middle portfolio-card-detail" style="z-index: 2;">
                                                <h6>SHOE CLEANER</h6>
                                                <p class="text-muted">Accessories, DIY</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-12">
                                        <a routerLink="/shop" class="d-lg-block portfolio-img text-black text-center">
                                            <img src="assets/images/portfolio/p-09.jpg" class="img-fluid" alt="">
                                            <div class="position-absolute start-50 translate-middle portfolio-card-detail" style="z-index: 2;">
                                                <h6>LEATHER BAG</h6>
                                                <p class="text-muted">Accessories, DIY, Handmade</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="row g-2 g-lg-4">
                                    <div class="col-12">
                                        <a routerLink="/shop" class="d-lg-block portfolio-img text-black text-center">
                                            <img src="assets/images/portfolio/p-03.jpg" class="img-fluid w-100" alt="">
                                            <div class="position-absolute start-50 translate-middle portfolio-card-detail" style="z-index: 2;">
                                                <h6>HANDMADE CRAFT</h6>
                                                <p class="text-muted">DIY, Handmade</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-12">
                                        <a routerLink="/shop" class="d-lg-block portfolio-img text-black text-center">
                                            <img src="assets/images/portfolio/p-04.jpg" class="img-fluid w-100" alt="">
                                            <div class="position-absolute start-50 translate-middle portfolio-card-detail" style="z-index: 2;">
                                                <h6>WHITE SPORT SHOES</h6>
                                                <p class="text-muted">Accessories, Clothing, Jewellery</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-12">
                                        <a routerLink="/shop" class="d-lg-block portfolio-img text-black text-center">
                                            <img src="assets/images/portfolio/p-08.jpg" class="img-fluid w-100" alt="">
                                            <div class="position-absolute start-50 translate-middle portfolio-card-detail" style="z-index: 2;">
                                                <h6>WHITE SPORT SHOES</h6>
                                                <p class="text-muted">Accessories, Clothing, Jewellery</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="top-jewellery" role="tabpanel" aria-labelledby="top-jewellery-tab" tabindex="0">
                        <div class="row g-2 g-lg-4">
                            <div class="col-sm-6 col-md-3">
                                <div class="row g-2 g-lg-4">
                                    <div class="col-12">
                                        <a routerLink="/shop" class="d-lg-block portfolio-img text-black text-center">
                                            <img src="assets/images/portfolio/p-04.jpg" class="img-fluid" alt="">
                                            <div class="position-absolute start-50 translate-middle portfolio-card-detail" style="z-index: 2;">
                                                <h6>WOMEN SHOES</h6>
                                                <p class="text-muted">Accessories, DIY, Handmade</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-12">
                                        <a routerLink="/shop" class="d-lg-block portfolio-img text-black text-center">
                                            <img src="assets/images/portfolio/p-06.jpg" class="img-fluid w-100" alt="">
                                            <div class="position-absolute start-50 translate-middle portfolio-card-detail" style="z-index: 2;">
                                                <h6>HANDMADE CANDLE</h6>
                                                <p class="text-muted">DIY, Handmade</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="row g-2 g-lg-4">
                                    <div class="col-12">
                                        <a routerLink="/shop" class="d-lg-block portfolio-img text-black text-center">
                                            <img src="assets/images/portfolio/p-08.jpg" class="img-fluid" alt="">
                                            <div class="position-absolute start-50 translate-middle portfolio-card-detail" style="z-index: 2;">
                                                <h6>KALLES WATCH</h6>
                                                <p class="text-muted">Accessories, Handmade, Jewellery</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-12">
                                        <a routerLink="/shop" class="d-lg-block portfolio-img text-black text-center">
                                            <img src="assets/images/portfolio/p-07.jpg" class="img-fluid" alt="">
                                            <div class="position-absolute start-50 translate-middle portfolio-card-detail" style="z-index: 2;">
                                                <h6>SHOE CLEANER</h6>
                                                <p class="text-muted">Accessories, DIY</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="row g-2 g-lg-4">
                                    <div class="col-12">
                                        <a routerLink="/shop" class="d-lg-block portfolio-img text-black text-center">
                                            <img src="assets/images/portfolio/p-03.jpg" class="img-fluid w-100" alt="">
                                            <div class="position-absolute start-50 translate-middle portfolio-card-detail" style="z-index: 2;">
                                                <h6>HANDMADE CRAFT</h6>
                                                <p class="text-muted">DIY, Handmade</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-12">
                                        <a routerLink="/shop" class="d-lg-block portfolio-img text-black text-center">
                                            <img src="assets/images/portfolio/p-05.jpg" class="img-fluid w-100" alt="">
                                            <div class="position-absolute start-50 translate-middle portfolio-card-detail" style="z-index: 2;">
                                                <h6>WHITE SPORT SHOES</h6>
                                                <p class="text-muted">Accessories, Clothing, Jewellery</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-12">
                                        <a routerLink="/shop" class="d-lg-block portfolio-img text-black text-center">
                                            <img src="assets/images/portfolio/p-09.jpg" class="img-fluid w-100" alt="">
                                            <div class="position-absolute start-50 translate-middle portfolio-card-detail" style="z-index: 2;">
                                                <h6>WHITE SPORT SHOES</h6>
                                                <p class="text-muted">Accessories, Clothing, Jewellery</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="row g-2 g-lg-4">
                                    <div class="col-12">
                                        <a routerLink="/shop" class="d-lg-block portfolio-img text-black text-center">
                                            <img src="assets/images/portfolio/p-02.jpg" class="img-fluid" alt="">
                                            <div class="position-absolute start-50 translate-middle portfolio-card-detail" style="z-index: 2;">
                                                <h6>KALLES WATCH</h6>
                                                <p class="text-muted">Accessories, Handmade, Jewellery</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-12">
                                        <a routerLink="/shop" class="d-lg-block portfolio-img text-black text-center">
                                            <img src="assets/images/portfolio/p-06.jpg" class="img-fluid" alt="">
                                            <div class="position-absolute start-50 translate-middle portfolio-card-detail" style="z-index: 2;">
                                                <h6>SHOE CLEANER</h6>
                                                <p class="text-muted">Accessories, DIY</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="py-3 my-3 my-lg-5 d-flex justify-content-center">
                    <button class="btn-load btn btn-custom-dark fw-semibold min-w-150 rounded-pill">Lord More
                        Posts</button>
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
    <app-popup></app-popup>
</div>
<app-card-model></app-card-model>