<app-top-banner></app-top-banner>
<app-header-01></app-header-01>
<div>
    <div class="kalles-home-section type_slideshow type_carousel header1Swiper">
        <div class="slideshow swiper-wrapper">
            <div class="slideshow__slide w-100 swiper-slide" style="background-image: url('assets/images/slide/slider-01.jpg');">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7">
                            <div data-aos="fade-right" data-aos-delay="300">
                                <h4 class="fs-18 fw-medium">SUMMER 2020</h4>
                                <h1 class="display-4 fw-semibold mb-3">New Arrival Collection</h1>
                                <a class="btn btn-dark rounded-0 min-w-150" routerLink="/shop-filter-sidebar">Explore
                                    Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slideshow__slide w-100 swiper-slide" style="background-image: url('assets/images/slide/slider-02.jpg');">
                <div class="container">
                    <div class="row justify-content-end">
                        <div class="col-lg-6">
                            <div class="text-end" data-aos="fade-right" data-aos-delay="300">
                                <h4 class="fs-18 fw-medium">NEW SEASON</h4>
                                <h3 class="display-4 fw-semibold mb-3">Lookbook Collection</h3>
                                <a class="btn btn-dark rounded-0 min-w-150" routerLink="/shop-filter-sidebar">Explore
                                    Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slideshow__slide w-100 swiper-slide" style="background-image: url('assets/images/slide/slider-03.jpg');">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div data-aos="fade-right" data-aos-delay="300">
                                <h4 class="fs-18 fw-medium">SUMMER SALE</h4>
                                <h1 class="display-4 fw-semibold mb-3">Save up to 70%</h1>
                                <a class="btn btn-dark rounded-0 min-w-150" routerLink="/shop-filter-sidebar">Explore
                                    Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="cat-section">
        <div class="container">
            <div class="row g-4 g-2">
                <div class="col-md-6">
                    <a routerLink="/shop-right-sidebar" class="d-block position-relative cat_grid_item overflow-hidden h-100">
                        <div class="h-100 w-100 cat-grid-img" style="background-image: url('assets/images/home-header-01/women-cat.jpg');"></div>
                        <div class="cat-grid-button text-body">
                            <div class="cat_grid_item__title">Women</div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a routerLink="/shop-right-sidebar" class="d-block position-relative cat_grid_item overflow-hidden h-300 mb-xl-4 mb-2">
                        <div class="h-100 w-100 cat-grid-img" style="background-image: url('assets/images/home-01/bn-02.jpg');background-position: center;">
                        </div>
                        <div class="cat-grid-button text-body">
                            <div class="cat_grid_item__title">Accessories</div>
                        </div>
                    </a>
                    <a routerLink="/shop-right-sidebar" class="d-block position-relative cat_grid_item overflow-hidden h-300">
                        <div class="h-100 w-100 cat-grid-img" style="background-image: url('assets/images/home-01/bn-03.jpg');background-position: center;">
                        </div>
                        <div class="cat-grid-button text-body">
                            <div class="cat_grid_item__title">Footwear</div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a routerLink="/shop-right-sidebar" class="d-block position-relative cat_grid_item overflow-hidden h-100">
                        <div class="h-100 w-100 cat-grid-img" style="background-image: url('assets/images/home-01/bn-04.jpg'); background-position: center;">
                        </div>
                        <div class="cat-grid-button text-body">
                            <div class="cat_grid_item__title">Watch</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <app-trending-card></app-trending-card>
    <app-lookbook-card></app-lookbook-card>
    <app-seller-card></app-seller-card>
    <app-latest-blog></app-latest-blog>
    <app-follow-instagram></app-follow-instagram>
    <app-shipping></app-shipping>
    <app-footer></app-footer>
    <app-popup></app-popup>
</div>
<app-card-model></app-card-model>