<app-header-parallex></app-header-parallex>

<div>
    <div class="bg-white position-relative mb-50" style=" z-index: 0;">
        <section class="kalles-banner-parallax-layout-01 min-vh-100 jarallax position-relative" style="background-image: url('assets/images/home-parallax/slide-01.jpg');">
            <div class="position-absolute top-0 start-0 end-0 bottom-0 text-center py-5 text-white d-flex align-items-center justify-content-center">
                <div class="text-center text-white">
                    <h1 class="fs-60 text-uppercase mb-3 fw-bold p-3 p-md-0">SALE OFF UP TO 70%</h1>
                    <h3 class="fs-18 font-secondary fst-italic mb-4">SS 2021 New Arrival</h3>
                    <a routerLink="/shop" class="text-white btn btn-custom-white fw-medium min-w-150 rounded-pill stretched-link">Shop
                        Now</a>
                </div>
            </div>
        </section>

        <section class="kalles-banner-parallax-layout-01 min-vh-100 jarallax position-relative" style="background-image: url('assets/images/home-parallax/slide-02.jpg');">
            <div class="position-absolute top-0 start-0 end-0 bottom-0 text-center py-5 text-white d-flex align-items-center justify-content-center">
                <div class="text-center text-white">
                    <h1 class="fs-60 text-uppercase mb-3 fw-bold">Women 2024 Lookbook</h1>
                    <h3 class="fs-18 font-secondary fst-italic mb-4">Discover for latest collection</h3>
                    <a routerLink="/shop" class="text-white btn btn-custom-white fw-medium min-w-150 rounded-pill stretched-link">Shop
                        Now</a>
                </div>
            </div>
        </section>

        <section class="kalles-banner-parallax-layout-01 min-vh-100 jarallax position-relative" style="background-image: url('assets/images/home-parallax/slide-03.jpg');">
            <div class="position-absolute top-0 start-0 end-0 bottom-0 text-center py-5 text-white d-flex align-items-center justify-content-center">
                <div class="text-center text-white">
                    <h3 class="fs-18 font-secondary fst-italic mb-3">Hot Trending</h3>
                    <h1 class="fs-60 text-uppercase mb-4 fw-bold p-3 p-md-0">Couple Collection</h1>
                    <a routerLink="/shop" class="text-white btn btn-custom-white fw-medium min-w-150 rounded-pill stretched-link">Shop
                        Now</a>
                </div>
            </div>
        </section>

        <section class="kalles-banner-parallax-layout-01 min-vh-100 jarallax position-relative" style="background-image: url('assets/images/home-parallax/slide-04.jpg');">
            <div class="position-absolute top-0 start-0 end-0 bottom-0 text-center py-5 text-white d-flex align-items-center justify-content-center">
                <div class="text-center text-white">
                    <h1 class="fs-60 text-uppercase mb-3 fw-bold">Fall 2024 Collections</h1>
                    <h3 class="fs-18 font-secondary fst-italic mb-4">Enjoy this Fall Trends</h3>
                    <a routerLink="/shop" class="text-white btn btn-custom-white fw-medium min-w-150 rounded-pill stretched-link">Shop
                        Now</a>
                </div>
            </div>
        </section>
    </div>

    <app-footer-parallax></app-footer-parallax>
    <app-popup></app-popup>

</div>

<app-card-model></app-card-model>