<app-header-shoes></app-header-shoes>
<div>
    <section class="kalles-shoes-grid-banner">
        <div class="container-fluid px-2">
            <div class="row g-2">
                <div class="col-md-4">
                    <div class="row g-2">
                        <div class="col-lg-12">
                            <a routerLink="/shop" class="overflow-hidden img-zoom position-relative d-block">
                                <img src="assets/images/home-shoes/grid-bn-01.jpg" alt="" class="img-fluid w-100">
                                <div class="position-absolute bottom-0 text-white p-4 m-2">
                                    <h3 class="fs-30 fw-medium mb-1">Ultra Boost Shoes</h3>
                                    <p class="fw-medium mb-0">SHOP ADIDAS <i class="las la-angle-right"></i></p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-12">
                            <a routerLink="/shop" class="overflow-hidden img-zoom position-relative d-block">
                                <img src="assets/images/home-shoes/grid-bn-04.jpg" alt="" class="img-fluid w-100">
                                <div class=" position-absolute bottom-0 text-white p-4 m-2">
                                    <h3 class="fs-30 fw-medium mb-1">Faded To Perfection</h3>
                                    <p class="fw-medium mb-0">SHOP ECCO <i class="las la-angle-right"></i></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row g-2">
                        <div class="col-lg-12">
                            <a routerLink="/shop" class="overflow-hidden img-zoom position-relative d-block">
                                <img src="assets/images/home-shoes/grid-bn-02.jpg" alt="" class="img-fluid w-100">
                                <div class="position-absolute bottom-0 text-white p-4 m-2">
                                    <h3 class="fs-30 fw-medium mb-1">Toms Exclusives</h3>
                                    <p class="fw-medium mb-0">SHOP TOMS <i class="las la-angle-right"></i></p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-12">
                            <a routerLink="/shop" class="overflow-hidden img-zoom position-relative d-block">
                                <img src="assets/images/home-shoes/grid-bn-05.jpg" alt="" class="img-fluid w-100">
                                <div class="position-absolute bottom-0 text-white p-4 m-2">
                                    <h3 class="fs-30 fw-medium mb-1">Summer Ready</h3>
                                    <p class="fw-medium mb-0">SHOP CONVERSE <i class="las la-angle-right"></i></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <a routerLink="/shop" class="overflow-hidden img-zoom position-relative d-block">
                        <img src="assets/images/home-shoes/grid-bn-03.jpg" alt="" class="img-fluid w-100 object-fit-cover">
                        <div class="position-absolute bottom-0 text-white p-4 m-2">
                            <h3 class="fs-30 fw-medium mb-1">The Ragged Priest</h3>
                            <p class="fw-medium mb-0">SHOP NOW <i class="las la-angle-right"></i></p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="kellas-medical-brand-list bg-light position-relative py-4 mt-2">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-6 col-md-4 p-3 p-lg-0 col-lg-2 brand-item">
                    <a href="javascript:void(0);">
                        <img src="assets/images/home-shoes/brand-01.png" alt="" class="img-fluid max-w-200 mx-auto d-block">
                    </a>
                </div>
                <div class="col-6 col-md-4 p-3 p-lg-0 col-lg-2 brand-item">
                    <a href="javascript:void(0);">
                        <img src="assets/images/home-shoes/brand-02.png" alt="" class="img-fluid max-w-200 mx-auto d-block">
                    </a>
                </div>
                <div class="col-6 col-md-4 p-3 p-lg-0 col-lg-2 brand-item">
                    <a href="javascript:void(0);">
                        <img src="assets/images/home-shoes/brand-03.png" alt="" class="img-fluid max-w-200 mx-auto d-block">
                    </a>
                </div>
                <div class="col-6 col-md-4 p-3 p-lg-0 col-lg-2 brand-item">
                    <a href="javascript:void(0);">
                        <img src="assets/images/home-shoes/brand-04.png" alt="" class="img-fluid max-w-200 mx-auto d-block">
                    </a>
                </div>
                <div class="col-6 col-md-4 p-3 p-lg-0 col-lg-2 brand-item">
                    <a href="javascript:void(0);">
                        <img src="assets/images/home-shoes/brand-05.png" alt="" class="img-fluid max-w-200 mx-auto d-block">
                    </a>
                </div>
                <div class="col-6 col-md-4 p-3 p-lg-0 col-lg-2 brand-item">
                    <a href="javascript:void(0);">
                        <img src="assets/images/home-shoes/brand-06.png" alt="" class="img-fluid max-w-200 mx-auto d-block">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="kalles-shoes-grid-products-section">
        <div class="container-fluid px-2">
            <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5 g-0 justify-content-center">
                <div class="col card rounded-0 mb-0" *ngFor="let product of products">
                    <div class="card-body">
                        <div class="topbar-product-card overlay-hover" (mouseenter)="product.isHovered = true" (mouseleave)="product.isHovered = false">
                            <div class="position-relative overflow-hidden main">
                                <img [src]="product.isHovered ? product.hoverImageUrl : product.imageUrl" alt="" class="img-fluid">
                                <a href="javascript:void(0);" class="wishlistadd position-absolute" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add to Wishlist">
                                    <i class="facl facl-heart-o text-white"></i>
                                </a>
                                <a href="javascript:void(0);" class="compare_add position-absolute" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Compare">
                                    <i class="las la-sync text-white"></i>
                                </a>
                                <div class="product-button d-none d-lg-flex flex-column gap-2">
                                    <a href="javascript:void(0);" (click)="openModal('exampleModal')" class="btn rounded-pill fs-14">
                                        <span>Quick View</span> <i class="iccl iccl-eye text-white"></i>
                                    </a>
                                    <button type="button" class="btn rounded-pill fs-14" (click)="openModal('cardModal')">
                                        <span>Quick Shop</span> <i class="iccl iccl-cart"></i>
                                    </button>
                                </div>
                                <div class="position-absolute d-lg-none bottom-0 end-0 d-flex flex-column bg-white rounded-pill m-2" style="z-index: 1; box-shadow: 1px 1px 1px rgba(0, 0, 0, .1);">
                                    <a href="javascript:void(0);" (click)="openModal('exampleModal')" class="btn responsive-cart rounded-pill fs-14 p-2" style="width:36px; height: 36px;">
                                        <i class="iccl iccl-eye fw-semibold"></i>
                                    </a>
                                    <button type="button" class="btn responsive-cart rounded-pill fs-14 p-2" style="width:36px; height: 36px;" (click)="openModal('cardModal')">
                                        <i class="iccl iccl-cart fw-semibold"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="mt-4">
                                <h6 class="mb-1 fw-medium lh-base">
                                    <a [href]="product.detailUrl" class="main_link_red">{{ product.name }}</a>
                                </h6>
                                <p class="mb-0 fs-14 text-muted">
                                    <del *ngIf="product.salePrice">{{ product.price }}</del>
                                    <span *ngIf="product.salePrice" class="text-danger">{{ product.salePrice }}</span>
                                    <span *ngIf="!product.salePrice">{{ product.price }}</span>
                                    <span *ngIf="product.discount" class="new-label bg-danger text-white rounded-circle">{{ product.discount }}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center mt-4 pt-3">
                <button type="button" class="btn btn-custom-dark-red btn-load rounded-pill">Load More</button>
            </div>
        </div>
    </section>
    <section class="kalles-shoes-newsletter-section" style="background-image: url(assets/images/home-shoes/newsletter-bg.jpg);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 text-center">
                    <h2 class="text-white fs-35 ls-normal mb-3">SUBSCRIBE OUR NEWSLETTER</h2>
                    <p class="section-subtitle sub-title font-secondary fst-italic fs-14 text-white mb-4">Sign up for
                        our newsletter to be updated on the latest designs, exclusive offers, inspiration and tips!</p>
                    <form action="#!" class="newsletter-form mx-5">
                        <div class="d-flex">
                            <div class="flex-grow-1">
                                <input type="email" name="email" placeholder="Enter your email address" value="" class="form-control bg-transparent text-muted border-0 border-bottom rounded-0" required="required">
                            </div>
                            <button class="btn btn-link text-white border-bottom rounded-0 flex-shrink-0">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <app-footer-shoes></app-footer-shoes>
    <app-popup></app-popup>
</div>
<app-card-model></app-card-model>