<app-header-digital className="navbar-digital"></app-header-digital>
<div>
    <section class="kalles-home-section type_slideshow type_carousel kalles-digital overflow-hidden swiper digitalSwiper" dir="ltr">
        <div class="slideshow swiper-wrapper">
            <div class="slideshow__slide swiper-slide" *ngFor="let slide of slides">
                <img [src]="slide.imageUrl" alt="" class="d-none d-md-block position-absolute w-100 h-100 object-fit-cover">
                <div class="container position-relative">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="content text-center text-sm-start">
                                <h5 class="fw-medium fs-18 mb-2">{{ slide.title }}</h5>
                                <h1 class="lh-base mb-1">{{ slide.heading }}</h1>
                                <h5 class="mb-4 fs-22">{{ slide.subheading }}</h5>
                                <a class="btn btn-dark text-white rounded-pill min-w-150 min-h-45 d-inline-flex align-items-center justify-content-center fw-semibold px-4" routerLink="/shop">
                                    Explore Now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section>
        <div class="container border-bottom border-top py-4">
            <div class="row g-2">
                <div class=" col-sm-4">
                    <div class="text-center">
                        <img src="assets/images/home-digital/shp-inf-01.png" alt="" class="img-fluid square-sm">
                        <h6 class="mt-2">FREE SHIPPING</h6>
                    </div>
                </div>
                <div class=" col-sm-4">
                    <div class="text-center">
                        <img src="assets/images/home-digital/shp-inf-02.png" alt="" class="img-fluid square-sm">
                        <h6 class="mt-2">SUPPORT 24/7</h6>
                    </div>
                </div>
                <div class=" col-sm-4">
                    <div class="text-center">
                        <img src="assets/images/home-digital/shp-inf-03.png" alt="" class="img-fluid square-sm">
                        <h6 class="mt-2">30 DAYS RETURN</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="banner-section position-relative py-4 my-2" dir="ltr">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-6">
                    <a routerLink="/shop" class="position-relative hover-zoom d-block">
                        <img src="assets/images/home-digital/grid-banner-01.jpg" alt="" class="img-fluid hover-zoom-img">
                        <div class="position-absolute start-0 start-0 end-0 top-0 bottom-0 d-flex align-items-center">
                            <div class="m-3 m-sm-4 px-sm-3 text-body">
                                <h4 class="fs-30">Galaxy S10 Lite</h4>
                                <h6 class="mb-4 fs-16">Save up to 25%</h6>
                                <p class="btn text-dark fw-semibold border border-2 border-dark rounded-pill min-w-150">
                                    Buy Now</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6">
                    <a routerLink="/shop" class="position-relative hover-zoom d-block">
                        <img src="assets/images/home-digital/grid-banner-02.jpg" alt="" class="img-fluid hover-zoom-img">
                        <div class="position-absolute start-0 start-0 end-0 top-0 bottom-0 d-flex align-items-center">
                            <div class="m-3 m-sm-4 px-sm-3 text-body">
                                <h4 class="fs-30" style="white-space: nowrap;">New SmartWatch</h4>
                                <h6 class="mb-4 fs-16">Save up to 35%</h6>
                                <p class="btn text-dark fw-semibold border border-2 border-dark rounded-pill min-w-150">
                                    Buy Now</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6">
                    <a routerLink="/shop" class="position-relative hover-zoom d-block">
                        <img src="assets/images/home-digital/grid-banner-03.jpg" alt="" class="img-fluid hover-zoom-img ">
                        <div class="position-absolute start-0 start-0 end-0 top-0 bottom-0 d-flex align-items-center">
                            <div class="m-3 m-sm-4 px-sm-3 text-body">
                                <h4 class="fs-30">Dell XPS 2020</h4>
                                <h6 class="mb-4 fs-16">Engineered to run on ultra-fast <br> networks.</h6>
                                <p class="btn text-dark fw-semibold border border-2 border-dark rounded-pill min-w-150">
                                    Buy Now</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6">
                    <a routerLink="/shop" class="position-relative hover-zoom d-block">
                        <img src="assets/images/home-digital/grid-banner-04.jpg" alt="" class="img-fluid hover-zoom-img ">
                        <div class="position-absolute start-0 start-0 end-0 top-0 bottom-0 d-flex align-items-center">
                            <div class="m-3 m-sm-4 px-sm-3 text-body">
                                <h4 class="fs-30">Save up to</h4>
                                <h6 class="mb-4 fs-16">Plus earn 2% back in Kalles <br> rewards.</h6>
                                <p class="btn text-dark fw-semibold border border-2 border-dark rounded-pill min-w-150">
                                    Buy Now</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <section class="type_tab_collection kalles-glasses-tab-product pb-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="text-center mb-4">
                        <div>
                            <h3 class="position-relative text-capitalize fs-24">
                                <span>Best Selling</span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-4">
                <div class="col-lg-3 col-6 col-md-4" *ngFor="let product of products">
                    <div class="topbar-product-card overlay-hover" (mouseenter)="product.isHovered = true" (mouseleave)="product.isHovered = false">
                        <div class="position-relative overflow-hidden main">

                            <span *ngIf="product.discount" class="new-label bg-indigo text-white rounded-circle text-center"> -{{ product.discount }}% </span>

                            <img [src]="product.isHovered ? product.hoverImage : product.imageUrl" alt="" class="img-fluid">

                            <a href="javascript:void(0);" class="d-lg-none position-absolute" style="z-index: 1; top:10px; left:10px;" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add to Wishlist">
                                <i class="facl facl-heart-o text-white"></i>
                            </a>

                            <a href="javascript:void(0);" class="wishlistadd d-none d-lg-flex position-absolute" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add to Wishlist">
                                <i class="facl facl-heart-o text-white"></i>
                            </a>

                            <div class="product-button d-none d-lg-flex flex-column gap-2">
                                <a href="javascript:void(0);" (click)="openModal('exampleModal')" class="btn rounded-pill fs-14">
                                    <span>Quick View</span> <i class="iccl iccl-eye"></i>
                                </a>
                                <button type="button" class="btn rounded-pill fs-14" (click)="openModal('cardModal')">
                                    <span>Quick Shop</span> <i class="iccl iccl-cart"></i>
                                </button>
                            </div>

                            <div class="position-absolute d-lg-none bottom-0 end-0 d-flex flex-column bg-white rounded-pill m-2" style="z-index: 1; box-shadow: 1px 1px 1px rgba(0, 0, 0, .1)">
                                <a href="javascript:void(0);" (click)="openModal('exampleModal')" class="btn responsive-cart rounded-pill fs-14 p-2" style="width:36px; height: 36px;">
                                    <i class="iccl iccl-eye fw-semibold"></i>
                                </a>
                                <button type="button" class="btn responsive-cart rounded-pill fs-14 p-2" style="width:36px; height: 36px;" (click)="openModal('cardModal')">
                                    <i class="iccl iccl-cart fw-semibold"></i>
                                </button>
                            </div>
                        </div>

                        <div class="mt-3">
                            <h6 class="mb-1 fw-semibold fs-14">
                                <a [href]="product.link" class="main_link_blue">{{ product.name }}</a>
                            </h6>
                            <p class="mb-0 fs-14 text-muted">
                                <del *ngIf="product.oldPrice">${{ product.oldPrice }}</del>
                                <span class="text-danger">${{ product.newPrice }}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section class="py-5 my-3">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4" *ngFor="let banner of banners">

                    <a *ngIf="banner.type === 'image'" [href]="banner.buttonLink" class="kalles-banner-promotion d-block">
                        <img [src]="banner.imageUrl" alt="" class="img-fluid">
                        <div class="p-20 position-absolute top-50 end-0 text-body start-0 content-position" [ngClass]="banner.position">
                            <p class="text-uppercase fw-medium fs-18 mb-1">{{ banner.title }}</p>
                            <h3 class="fs-50">{{ banner.discount }}</h3>
                            <button class="btn btn-outline-dark rounded-pill min-w-150">{{ banner.buttonText }}</button>
                        </div>
                    </a>


                    <div *ngIf="banner.type === 'product'" class="kalles-banner-promotion topbar-product-card">
                        <div class="position-relative overflow-hidden">
                            <img [src]="banner.imageUrl" alt="" class="img-fluid">
                            <div class="product-size text-center">
                                <h6 class="mb-1">
                                    <a routerLink="/product-detail-layout-01" class="main_link">{{ banner.productName }}</a>
                                </h6>
                                <p class="mb-0 fs-14 text-muted">
                                    <del>{{ banner.originalPrice }}</del>
                                    <span class="text-danger">{{ banner.discountedPrice }}</span>
                                </p>
                                <div class="product-color-list mt-1 gap-2 d-flex align-items-center justify-content-center p-2">
                                    <a *ngFor="let color of banner.colorVariants" href="javascript:void(0);" class="d-inline-block rounded-circle" [ngClass]="color.colorClass">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="count-time" [attr.data-date]="banner.countdownDate">
                            <ul class="list-unstyled d-flex gap-2 align-items-center text-center justify-content-center mb-0">
                                <li class="bg-dark text-white text-white-50 fs-12 rounded"><span class="days text-white fs-14">0</span>days</li>
                                <li class="bg-dark text-white text-white-50 fs-12 rounded"><span class="text-white fs-14">00</span>Hours</li>
                                <li class="bg-dark text-white text-white-50 fs-12 rounded"><span class="min text-white fs-14">00</span>Minutes</li>
                                <li class="bg-dark text-white text-white-50 fs-12 rounded"><span class="sc text-white fs-14">00</span>Seconds</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="type_tab_collection kalles-glasses-tab-product pb-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="text-center mb-3">
                        <div class="mb-2">
                            <h3 class="position-relative flex fw-semibold">
                                <span>Featured Collection</span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-4 pb-3">
                <ul class="nav tab_header gap-lg-4 justify-content-center mt-4 mb-0" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link rounded-pill active" id="accessories-tab" data-bs-toggle="pill" data-bs-target="#accessories" type="button" role="tab" aria-controls="accessories" aria-selected="true">Accessories</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link rounded-pill" id="smart-tv-tab" data-bs-toggle="pill" data-bs-target="#smart-tv" type="button" role="tab" aria-controls="smart-tv" aria-selected="false" tabindex="-1">Smart TV</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link rounded-pill" id="camera-tab" data-bs-toggle="pill" data-bs-target="#camera" type="button" role="tab" aria-controls="camera" aria-selected="false" tabindex="-1">Camera</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link rounded-pill" id="digital-tab" data-bs-toggle="pill" data-bs-target="#digital" type="button" role="tab" aria-controls="digital" aria-selected="false" tabindex="-1">Digital</button>
                    </li>
                </ul>
            </div>
            <div class="tab-content mt-4" id="pills-tabContent">
                <div class="tab-pane fade show active" id="accessories" role="tabpanel" aria-labelledby="accessories-tab" tabindex="0">
                    <div class="row g-4 row-cols-2 row-cols-sm-3 row-cols-lg-4">
                        <div class="col" *ngFor="let product of products2">
                            <div class="topbar-product-card overlay-hover" (mouseenter)="product.isHovered = true" (mouseleave)="product.isHovered = false">

                                <div class="position-relative overflow-hidden main">
                                    <span *ngIf="product.discount" class="new-label bg-indigo text-white rounded-circle text-center">
                                        {{ product.discount }}
                                    </span>
                                    <img [src]="product.isHovered ? product.hoverImage : product.imageUrl" alt="" class="img-fluid">

                                    <a href="javascript:void(0);" class="d-lg-none position-absolute " style="z-index: 1; top:10px; left:10px;" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add to Wishlist">
                                        <i class="facl facl-heart-o text-white"></i>
                                    </a>

                                    <a href="javascript:void(0);" class="wishlistadd d-none d-lg-flex position-absolute" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add to Wishlist">
                                        <i class="facl facl-heart-o text-white"></i>
                                    </a>

                                    <div class="product-button d-none d-lg-flex flex-column gap-2">
                                        <a href="javascript:void(0);" (click)="openModal('exampleModal')" class="btn rounded-pill fs-14">
                                            <span>Quick View</span> <i class="iccl iccl-eye"></i>
                                        </a>
                                        <button type="button" class="btn rounded-pill fs-14" (click)="openModal('cardModal')">
                                            <span>Quick Shop</span> <i class="iccl iccl-cart"></i>
                                        </button>
                                    </div>
                                </div>

                                <div class="mt-3">
                                    <h6 class="mb-1 fw-semibold fs-14">
                                        <a [href]="product.link" class="main_link_blue">{{ product.name }}</a>
                                    </h6>
                                    <p class="mb-0 fs-14 text-muted">
                                        <del *ngIf="product.oldPrice">${{ product.oldPrice }}</del>
                                        <span class="text-danger">${{ product.price }}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="smart-tv" role="tabpanel" aria-labelledby="smart-tv-tab" tabindex="0">
                    <div class="row g-4 row-cols-2 row-cols-sm-3 row-cols-lg-4">
                        <div class="col" *ngFor="let product of products3">
                            <div class="topbar-product-card overlay-hover" (mouseenter)="product.isHovered = true" (mouseleave)="product.isHovered = false">

                                <div class="position-relative overflow-hidden main">
                                    <span *ngIf="product.discount" class="new-label bg-indigo text-white rounded-circle text-center">
                                        {{ product.discount }}
                                    </span>
                                    <img [src]="product.isHovered ? product.hoverImage : product.imageUrl" alt="" class="img-fluid">

                                    <a href="javascript:void(0);" class="d-lg-none position-absolute " style="z-index: 1; top:10px; left:10px;" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add to Wishlist">
                                        <i class="facl facl-heart-o text-white"></i>
                                    </a>

                                    <a href="javascript:void(0);" class="wishlistadd d-none d-lg-flex position-absolute" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add to Wishlist">
                                        <i class="facl facl-heart-o text-white"></i>
                                    </a>

                                    <div class="product-button d-none d-lg-flex flex-column gap-2">
                                        <a href="javascript:void(0);" (click)="openModal('exampleModal')" class="btn rounded-pill fs-14">
                                            <span>Quick View</span> <i class="iccl iccl-eye"></i>
                                        </a>
                                        <button type="button" class="btn rounded-pill fs-14" (click)="openModal('cardModal')">
                                            <span>Quick Shop</span> <i class="iccl iccl-cart"></i>
                                        </button>
                                    </div>
                                </div>

                                <div class="mt-3">
                                    <h6 class="mb-1 fw-semibold fs-14">
                                        <a [href]="product.link" class="main_link_blue">{{ product.name }}</a>
                                    </h6>
                                    <p class="mb-0 fs-14 text-muted">
                                        <del *ngIf="product.oldPrice">${{ product.oldPrice }}</del>
                                        <span class="text-danger">${{ product.price }}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="camera" role="tabpanel" aria-labelledby="camera-tab" tabindex="0">
                    <div class="row g-4 row-cols-2 row-cols-sm-3 row-cols-lg-4">
                        <div class="col" *ngFor="let product of products4">
                            <div class="topbar-product-card overlay-hover" (mouseenter)="product.isHovered = true" (mouseleave)="product.isHovered = false">

                                <div class="position-relative overflow-hidden main">
                                    <span *ngIf="product.discount" class="new-label bg-indigo text-white rounded-circle text-center">
                                        {{ product.discount }}
                                    </span>
                                    <img [src]="product.isHovered ? product.hoverImage : product.imageUrl" alt="" class="img-fluid">

                                    <a href="javascript:void(0);" class="d-lg-none position-absolute " style="z-index: 1; top:10px; left:10px;" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add to Wishlist">
                                        <i class="facl facl-heart-o text-white"></i>
                                    </a>

                                    <a href="javascript:void(0);" class="wishlistadd d-none d-lg-flex position-absolute" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add to Wishlist">
                                        <i class="facl facl-heart-o text-white"></i>
                                    </a>

                                    <div class="product-button d-none d-lg-flex flex-column gap-2">
                                        <a href="javascript:void(0);" (click)="openModal('exampleModal')" class="btn rounded-pill fs-14">
                                            <span>Quick View</span> <i class="iccl iccl-eye"></i>
                                        </a>
                                        <button type="button" class="btn rounded-pill fs-14" (click)="openModal('cardModal')">
                                            <span>Quick Shop</span> <i class="iccl iccl-cart"></i>
                                        </button>
                                    </div>
                                </div>

                                <div class="mt-3">
                                    <h6 class="mb-1 fw-semibold fs-14">
                                        <a [href]="product.link" class="main_link_blue">{{ product.name }}</a>
                                    </h6>
                                    <p class="mb-0 fs-14 text-muted">
                                        <del *ngIf="product.oldPrice">${{ product.oldPrice }}</del>
                                        <span class="text-danger">${{ product.price }}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="digital" role="tabpanel" aria-labelledby="digital-tab" tabindex="0">
                    <div class="row g-4 row-cols-2 row-cols-sm-3 row-cols-lg-4">
                        <div class="col" *ngFor="let product of products5">
                            <div class="topbar-product-card overlay-hover" (mouseenter)="product.isHovered = true" (mouseleave)="product.isHovered = false">

                                <div class="position-relative overflow-hidden main">
                                    <span *ngIf="product.discount" class="new-label bg-indigo text-white rounded-circle text-center">
                                        {{ product.discount }}
                                    </span>
                                    <img [src]="product.isHovered ? product.hoverImage : product.imageUrl" alt="" class="img-fluid">

                                    <a href="javascript:void(0);" class="d-lg-none position-absolute " style="z-index: 1; top:10px; left:10px;" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add to Wishlist">
                                        <i class="facl facl-heart-o text-white"></i>
                                    </a>

                                    <a href="javascript:void(0);" class="wishlistadd d-none d-lg-flex position-absolute" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add to Wishlist">
                                        <i class="facl facl-heart-o text-white"></i>
                                    </a>

                                    <div class="product-button d-none d-lg-flex flex-column gap-2">
                                        <a href="javascript:void(0);" (click)="openModal('exampleModal')" class="btn rounded-pill fs-14">
                                            <span>Quick View</span> <i class="iccl iccl-eye"></i>
                                        </a>
                                        <button type="button" class="btn rounded-pill fs-14" (click)="openModal('cardModal')">
                                            <span>Quick Shop</span> <i class="iccl iccl-cart"></i>
                                        </button>
                                    </div>
                                </div>

                                <div class="mt-3">
                                    <h6 class="mb-1 fw-semibold fs-14">
                                        <a [href]="product.link" class="main_link_blue">{{ product.name }}</a>
                                    </h6>
                                    <p class="mb-0 fs-14 text-muted">
                                        <del *ngIf="product.oldPrice">${{ product.oldPrice }}</del>
                                        <span class="text-danger">${{ product.price }}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="kalles-section_type_featured_blog kalles-decor-02-blog-post">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="text-center mb-4 pb-2">
                        <div class="mb-2">
                            <h3 class="position-relative flex">
                                <span>Blog posts</span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-4 blog-arrow">
                <div class="col-md-6 col-lg-4 px-2 px-lg-3">
                    <div class="blog-card">
                        <a routerLink="/blog-left-sidebar" class="overflow-hidden d-block blog-wrap">
                            <img src="assets/images/home-digital/blog-01.jpg" alt="" class="blog-img object-fit-cover w-100">
                        </a>
                        <h6 class="fs-16 mt-3 main_link"><a routerLink="/blog-post-with-instagram-shop" class="text-reset">Style for couple in Weeding season</a></h6>
                        <div class="d-flex gap-1 align-items-center text-muted">
                            <span class="me-1">By <span class="text-body">John Doe</span></span>
                            On
                            <span class="text-body">May 22, 2024</span>
                        </div>
                        <div class="post-content text-muted mt-3">Typography is the work of typesetters, compositors,
                            typographers, graphic designers, art directors, manga artists,...</div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 px-2 px-lg-3">
                    <div class="blog-card">
                        <a routerLink="/blog-left-sidebar" class="overflow-hidden d-block blog-wrap">
                            <img src="assets/images/home-digital/blog-02.jpg" alt="" class="blog-img object-fit-cover w-100">
                        </a>
                        <h6 class="fs-16 mt-3 main_link"><a routerLink="/blog-post-with-instagram-shop" class="text-reset">The Easiest Way to Break Out on Top</a></h6>
                        <div class="d-flex gap-1 align-items-center text-muted">
                            <span class="me-1">By <span class="text-body">John Doe</span></span>
                            On
                            <span class="text-body">May 22, 2024</span>
                        </div>
                        <div class="post-content text-muted mt-3">Typography is the work of typesetters, compositors,
                            typographers, graphic designers, art directors, manga artists, ...</div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 px-2 px-lg-3">
                    <div class="blog-card">
                        <a routerLink="/blog-left-sidebar" class="overflow-hidden d-block blog-wrap">
                            <img src="assets/images/home-digital/blog-03.jpg" alt="" class="blog-img object-fit-cover w-100">
                        </a>
                        <h6 class="fs-16 mt-3 main_link"><a routerLink="/blog-post-with-instagram-shop" class="text-reset">SPRING – SUMMER TRENDING 2020</a></h6>
                        <div class="d-flex gap-1 align-items-center text-muted">
                            <span class="me-1">By <span class="text-body">John Doe</span></span>
                            On
                            <span class="text-body">May 22, 2024</span>
                        </div>
                        <div class="post-content text-muted mt-3">Typography is the work of typesetters, compositors,
                            typographers, graphic designers, art directors, manga artists, ...</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-footer-digital></app-footer-digital>
    <app-popup></app-popup>
</div>
<app-card-model></app-card-model>