<div [ngClass]="className" *ngIf="isOpen">
    <div class="t_header fs-13 d-flex align-items-center">
        <div class="container-fluid">
            <div class="d-flex gap-2">
                <div class="col text-center text-white">
                    Today deal sale off <strong>70% </strong>. End in
                    <strong class="js_kl__countdown"></strong>. 
                    <a href="javascript:void(0);" class="text-white">
                        Hurry Up <i class="las la-arrow-right"></i>
                    </a>
                </div>
                <div class="col-auto mt-2 mt-md-0">
                    <a href="javascript:void(0);" class="h_banner_close text-white" (click)="isOpen = false">close</a>
                </div>
            </div>
        </div>
    </div>
</div>