/* Required Custom CSS  */

.light-cyan-bg{
    background-color: #48CFCB !important;
}

.dark-cyan-bg{
    background-color: #229799 !important;
}


.light-grey-bg{
    background-color: #F5F5F5 !important;
}

.dark-grey-bg{
    background-color: #424242 !important;
}

.light-cyan-text{
    color: #48CFCB !important;
}

.dark-cyan-text{
    color: #229799 !important;
}

.light-grey-text{
    color: #F5F5F5 !important;
}

.dark-grey-text{
    color: #424242 !important;
}