<div>
    <footer class="footer furniture">
        <div class="container">
            <div class="row accordion" id="footer-accordion">
                <div class="col-md-3 footer-accordion-item accordion-item">
                    <button class="accordion-button footer-accordion-button px-0 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <h5>COMPANY</h5>
                    </button>
                    <h5 class="fw-medium d-none d-md-block">COMPANY</h5>
                    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="mt-md-4 pt-md-2">
                            <ul class="menu list-unstyled fs-16">
                                <li class="menu-item">
                                    <a routerLink="/shop-filter-sidebar" class="text-muted">About Kalles</a>
                                </li>
                                <li class="menu-item">
                                    <a routerLink="/shop-filter-sidebar" class="text-muted">Blog</a>
                                </li>
                                <li class="menu-item">
                                    <a routerLink="/shop-1600px-layout" class="text-muted">Contact Us</a>
                                </li>
                                <li class="menu-item">
                                    <a routerLink="/shop-1600px-layout" class="text-muted">Order Tracking</a>
                                </li>
                                <li class="menu-item">
                                    <a routerLink="/shop-1600px-layout" class="text-muted">FAQs</a>
                                </li>
                                <li class="menu-item">
                                    <a routerLink="/shop-1600px-layout" class="text-muted">Sitemap</a>
                                </li>
                                <li class="menu-item">
                                    <a routerLink="/shop-1600px-layout" class="text-muted">Secure Payment</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 accordion-item footer-accordion-item">
                    <button class="accordion-button footer-accordion-button px-0 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <h5>CUSTOMER SERVICE</h5>
                    </button>
                    <h5 class="fw-medium d-none d-md-block">CUSTOMER SERVICE</h5>
                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="mt-md-4 pt-md-2">
                            <ul class="menu list-unstyled fs-16">
                                <li class="menu-item">
                                    <a routerLink="/shop-filter-sidebar" class="text-muted">Help & Contact Us</a>
                                </li>
                                <li class="menu-item">
                                    <a routerLink="/shop-filter-sidebar" class="text-muted">Bussiness Idenity</a>
                                </li>
                                <li class="menu-item">
                                    <a routerLink="/shop-1600px-layout" class="text-muted">Return & Refunds</a>
                                </li>
                                <li class="menu-item">
                                    <a routerLink="/shop-1600px-layout" class="text-muted">Term & Conditions</a>
                                </li>
                                <li class="menu-item">
                                    <a routerLink="/shop-1600px-layout" class="text-muted">Secure Payment</a>
                                </li>
                                <li class="menu-item">
                                    <a routerLink="/shop-1600px-layout" class="text-muted">Trade Assurance</a>
                                </li>
                                <li class="menu-item">
                                    <a routerLink="/shop-1600px-layout" class="text-muted">Inspection Service</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 accordion-item footer-accordion-item">
                    <button class="accordion-button footer-accordion-button px-0 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <h5>MY ACCOUNT</h5>
                    </button>
                    <h5 class="fw-medium d-none d-md-block">MY ACCOUNT</h5>
                    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="mt-md-4 pt-md-2">
                            <ul class="menu list-unstyled fs-16">
                                <li class="menu-item">
                                    <a href="javascript:void(0);" class="text-muted">My Account</a>
                                </li>
                                <li class="menu-item">
                                    <a href="javascript:void(0);" class="text-muted">Discount</a>
                                </li>
                                <li class="menu-item">
                                    <a href="javascript:void(0);" class="text-muted">Orders History</a>
                                </li>
                                <li class="menu-item">
                                    <a href="javascript:void(0);" class="text-muted">Personal Information</a>
                                </li>
                                <li class="menu-item">
                                    <a href="javascript:void(0);" class="text-muted">Shipping Information</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 accordion-item footer-accordion-item">
                    <button class="accordion-button footer-accordion-button px-0 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <h5>SOCIAL MEDIA</h5>
                    </button>
                    <h5 class="fw-medium d-none d-md-block">SOCIAL MEDIA</h5>
                    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="mt-md-4 pt-md-2">
                            <ul class="menu list-unstyled fs-16">
                                <li class="menu-item">
                                    <a href="javascript:void(0);" class="text-muted">Facebook</a>
                                </li>
                                <li class="menu-item">
                                    <a href="javascript:void(0);" class="text-muted">Twitter</a>
                                </li>
                                <li class="menu-item">
                                    <a href="javascript:void(0);" class="text-muted">Instagram</a>
                                </li>
                                <li class="menu-item">
                                    <a href="javascript:void(0);" class="text-muted">Tumblr</a>
                                </li>
                                <li class="menu-item">
                                    <a href="javascript:void(0);" class="text-muted">Pinterest</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div class="footer-alt mb-5 mb-lg-0 py-4 fs-16 furniture">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-lg-start text-center text-muted">
                    Copyright ©
                    <script>document.write(new Date().getFullYear())</script> <a href="javascript:void(0);" class="link-warning">Kalles</a>
                    all rights reserved. Powered by The4
                </div>
                <div class="col-lg-6">
                    <ul id="footer-menu" class="mt-2 mt-lg-0 list-unstyled d-flex align-items-center mb-0 justify-content-lg-end justify-content-center flex-wrap">
                        <li class="menu-item ms-0">
                            <a routerLink="/shop-filter-sidebar" class="text-muted mx-1">
                                <img src="assets/images/home-furniture/payment-amazon.svg" alt="">
                            </a>
                        </li>
                        <li class="menu-item ms-0">
                            <a href="javascript:void(0);" class="text-muted mx-1">
                                <img src="assets/images/home-furniture/payment-litecoin.svg" alt="">
                            </a>
                        </li>
                        <li class="menu-item ms-0">
                            <a href="javascript:void(0);" class="text-muted mx-1">
                                <img src="assets/images/home-furniture/payment-maestro.svg" alt="">
                            </a>
                        </li>
                        <li class="menu-item ms-0">
                            <a href="javascript:void(0);" class="text-muted mx-1">
                                <img src="assets/images/home-furniture/payment-paypal.svg" alt="">
                            </a>
                        </li>
                        <li class="menu-item ms-0">
                            <a href="javascript:void(0);" class="text-muted mx-1">
                                <img src="assets/images/home-furniture/payment-visa.svg" alt="">
                            </a>
                        </li>
                        <li class="menu-item ms-0">
                            <a href="javascript:void(0);" class="text-muted mx-1">
                                <img src="assets/images/home-furniture/payment-master.svg" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <app-responsive-footer></app-responsive-footer>
    <a href="javascript:void(0);" (click)="scrollToTop()" class="position-fixed bg-white border rounded d-flex align-items-center justify-content-center shadow" id="nt_backtop">
        <i class="pr pegk pe-7s-angle-up"></i>
    </a>

    <a href="javascript:void(0);" x-on:click="$store.appStore.toggleDir()" class="position-fixed top-50 end-0 translate-middle-y border-0 btn btn-dark  layout-mode-ltr rounded-end-0 d-flex align-items-center justify-content-center shadow" style="padding:6px 20px; z-index: 1; ">
        <div class="ltr">LTR</div>
        <div class="rtl">RTL</div>
    </a>

    <div class="backdrop-shadow d-none"></div>
</div>