<app-header-electrics></app-header-electrics>
<div>
    <section class="position-relative kalles-decor kalles-categories-link-banner overflow-hidden">
        <div class="container-fluid px-0">
            <div class="row">
                <div class="col-lg-12">
                    <img src="assets/images/home-electronic/main-slide.jpg" alt="" class="kalles-decor-img img-fluid w-100">
                    <div class="bg-overlay"></div>
                    <div class="position-absolute top-0 start-0 end-0 bottom-0 text-center py-5 d-flex align-items-center justify-content-center">
                        <div>
                            <h1 class="decor-title mt-5 mt-sm-0 mb-4 px-2 px-md-0 fw-semibold">Decor your home with smart devices</h1>
                            <a routerLink="/shop" class="btn btn-custom stretched-link text-white fw-medium min-w-150 rounded-0 d-inline-flex align-items-center justify-content-center">Shop
                                Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="cat-section pt-4">
        <div class="container-fluid">
            <div class="row g-4">
                <div class="col-md-4">
                    <a href="javascript:void(0);" class="d-block position-relative cat_grid_item overflow-hidden h-300">
                        <div class="h-100 w-100 cat-grid-img" style="background-image: url('assets/images/home-electronic/cat-banner-01.jpg');"></div>
                        <div class="cat-grid-button text-body">
                            <div class="cat_grid_item__title">Smart Watch</div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="javascript:void(0);" class="d-block position-relative cat_grid_item overflow-hidden h-300">
                        <div class="h-100 w-100 cat-grid-img" style="background-image: url('assets/images/home-electronic/cat-banner-02.jpg');"></div>
                        <div class="cat-grid-button text-body">
                            <div class="cat_grid_item__title">Macbook</div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="javascript:void(0);" class="d-block position-relative cat_grid_item overflow-hidden h-300">
                        <div class="h-100 w-100 cat-grid-img" style="background-image: url('assets/images/home-electronic/cat-banner-03.jpg');"></div>
                        <div class="cat-grid-button text-body">
                            <div class="cat_grid_item__title">Headphone</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="type_tab_collection pb-5 pt-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="text-center">
                        <div class="mb-2">
                            <h3 class="section-title position-relative flex">
                                <span>BEST SELLER</span>
                            </h3>
                        </div>
                        <span class="section-subtitle sub-title font-secondary fst-italic fs-14 text-muted">Top seller
                            in the week</span>
                    </div>
                </div>
            </div>
            <div class="row g-4 row-cols-2 row-cols-md-3 row-cols-lg-4 mt-4">
                <div class="col" *ngFor="let product of products">
                    <div class="topbar-product-card overlay-hover" [ngClass]="{ 'is-hovered': product.isHovered }" (mouseenter)="product.isHovered = true" (mouseleave)="product.isHovered = false">

                        <div class="position-relative overflow-hidden shadow rounded main">
                            <img [src]="product.isHovered ? product.hoverImageUrl : product.imageUrl" alt="" class="img-fluid">

                            <a href="javascript:void(0);" class="wishlistadd d-none d-lg-flex position-absolute" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add to Wishlist">
                                <i class="facl facl-heart-o text-white"></i>
                            </a>

                            <div class="product-button d-none d-lg-flex flex-column gap-2">
                                <a href="javascript:void(0);" (click)="openModal('exampleModal')" class="btn rounded-pill fs-14">
                                    <span>Quick View</span> <i class="iccl iccl-eye"></i>
                                </a>
                                <button type="button" class="btn rounded-pill fs-14" (click)="openModal('cardModal')">
                                    <span>Quick Shop</span> <i class="iccl iccl-cart"></i>
                                </button>
                            </div>

                            <div class="position-absolute d-lg-none bottom-0 end-0 d-flex flex-column bg-white rounded-pill m-2">
                                <a href="javascript:void(0);" (click)="openModal('exampleModal')" class="btn responsive-cart rounded-pill fs-14 p-2">
                                    <i class="iccl iccl-eye fw-semibold"></i>
                                </a>
                                <button type="button" class="btn responsive-cart rounded-pill fs-14 p-2" (click)="openModal('cardModal')">
                                    <i class="iccl iccl-cart fw-semibold"></i>
                                </button>
                            </div>
                        </div>

                        <div class="mt-4 text-center">
                            <h6 class="mb-1 text-capitalize fs-14 fw-medium">
                                <a routerLink="/product-detail-layout-01" class="main_link_teal">{{ product.name }}</a>
                            </h6>
                            <p class="mb-0 fs-14 text-muted">
                                <del *ngIf="product.oldPrice">${{ product.oldPrice }}</del>
                                <span class="text-danger">${{ product.price }}</span>
                            </p>
                        </div>

                    </div>
                </div>
            </div>

            <div class="text-center mt-4 pt-2">
                <a href="javascript:void(0);" class="btn btn-dark btn-lg btn_icon_true min-w-150 px-5 fs-14 py-3 rounded-0">Load More</a>
            </div>
        </div>
    </section>
    <section class="kalles-section_type_featured_blog kalles-decor-02-blog-post">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="text-center mb-4 pb-2">
                        <div class="mb-2">
                            <h3 class="section-title position-relative flex">
                                <span>LATES FROM BLOG</span>
                            </h3>
                        </div>
                        <span class="section-subtitle sub-title font-secondary fst-italic fs-14 text-muted">The freshest
                            and most exciting news</span>
                    </div>
                </div>
            </div>
            <div class="row g-4 blog-arrow swiper electricSwiper" dir="ltr">
                <div class="swiper-wrapper">
                    <div class="col-sm-6 col-lg-4 px-2 swiper-slide">
                        <div class="blog-card">
                            <a routerLink="/blog-left-sidebar" class="overflow-hidden d-block blog-wrap">
                                <img src="assets/images/home-electronic/blog-thumb-01.jpg" alt="" class="blog-img object-fit-cover w-100">
                            </a>
                            <h6 class="fs-16 mt-3 main_link_mustard lh-base"><a routerLink="/blog-post-with-instagram-shop" class="text-reset">Dial and Disc Wireless Chargers home office from Sum</a></h6>
                            <div class="d-flex gap-1 align-items-center text-muted">
                                By
                                <span class="text-body">admin</span>
                                On
                                <span class="text-body">February 21, 2024</span>
                            </div>
                            <div class="post-content text-muted mt-3">Sleek, minimalist wireless charging designs to
                                "complement and blend within the home and office".</div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 px-2 swiper-slide">
                        <div class="blog-card">
                            <a routerLink="/blog-left-sidebar" class="overflow-hidden d-block blog-wrap">
                                <img src="assets/images/home-electronic/blog-thumb-02.jpg" alt="" class="blog-img object-fit-cover w-100">
                            </a>
                            <h6 class="fs-16 mt-3 main_link_mustard lh-base"><a routerLink="/blog-post-with-instagram-shop" class="text-reset">The Headphones Can Translate 11 Languages Wireless Speaker</a></h6>
                            <div class="d-flex gap-1 align-items-center text-muted">
                                By
                                <span class="text-body">admin</span>
                                On
                                <span class="text-body">February 21, 2024</span>
                            </div>
                            <div class="post-content text-muted mt-3">These 3-in-1 headphones can snap together and turn
                                into a wireless speaker.</div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 px-2 swiper-slide">
                        <div class="blog-card">
                            <a routerLink="/blog-left-sidebar" class="overflow-hidden d-block blog-wrap">
                                <img src="assets/images/home-electronic/blog-thumb-03.jpg" alt="" class="blog-img object-fit-cover w-100">
                            </a>
                            <h6 class="fs-16 mt-3 main_link_mustard lh-base"><a routerLink="/blog-post-with-instagram-shop" class="text-reset">Microsoft’s Top Secret Surface Headphones Project Revealed</a></h6>
                            <div class="d-flex gap-1 align-items-center text-muted">
                                On
                                <span class="text-body">February 21, 2024</span>
                            </div>
                            <div class="post-content text-muted mt-3">Microsoft unveils the cool grey, minimalist
                                voice-controlled Surface Headphones.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="kalles-electric-newsletter py-5 ">
        <div class="container">
            <div class="row justify-content-center py-4">
                <div class="col-md-8 col-10 text-center">
                    <div class="mb-2">
                        <h3 class="section-title position-relative flex">
                            <span>SUBSCRIBE OUR NEWSLETTER</span>
                        </h3>
                    </div>
                    <span class="section-subtitle sub-title font-secondary fst-italic fs-16 text-muted ">
                        Sign up for our newsletter to be updated on the latest designs, exclusive offers, inspiration
                        and tips! </span>
                    <form id="contact_form" class="d-block mt-4 pt-2 mx-lg-5">
                        <div class="footer-subscribe position-relative mx-lg-5">
                            <input type="email" name="email" placeholder="Your email address" value="" class="input-text form-control w-100 rounded-pill py-3" required="required">
                            <button type="submit" class="btn btn-dark position-absolute rounded-pill ">
                                <span>Subscribe</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <app-shipping></app-shipping>
    <app-footer></app-footer>
    <app-popup></app-popup>
</div>
<app-card-model></app-card-model>