<app-top-banner></app-top-banner>

<app-header2></app-header2>
<div>

    <section class="kalles-banner-parallax-layout-01 min-vh-100 position-relative" style="background-image: url('assets/images/home-instagram-shop/loobook.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center top;">
        <div class="position-absolute top-50 start-50 translate-middle text-white text-center my-5">
            <h1 class="text-uppercase fs-60">Clearance sale off to 70%</h1>
            <h3 class="fs-18 font-secondary fst-italic">Spring Collection 2021</h3>
            <a routerLink="/shop" class="btn btn-custom-white text-white min-w-150 rounded-pill mt-4">Shop Now</a>
        </div>
    </section>

    <section class="cat-section">
        <div class="container-fluid mb-30">
            <div class="row g-xl-4 g-3">
                <div class="col-md-3" *ngFor="let category of categories">
                    <a routerLink="/shop" class="d-block position-relative cat_grid_item overflow-hidden h-100">
                        <img class="h-100 w-100 cat-grid-img" [src]="category.image" />
                        <div class="cat-grid-button text-body">
                            <div class="cat_grid_item__title">{{ category.title }}</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row g-lg-4 g-3 align-items-center">
                <div class="col-md-4">
                    <a href="javascript:void(0);" class="kalles-banner-promotion d-block">
                        <img src="assets/images/home-video-banner/bn-01.jpeg" alt="" class="img-fluid" />
                        <div class="p-20 position-absolute bottom-0 left-0 text-body">
                            <p class="text-uppercase fw-medium fs-14 mb-1">View Collections</p>
                            <h3 class="fs-35">LOOKBOOK</h3>
                            <p class="text-muted mb-0">your world of fashion in numbers</p>
                        </div>
                    </a>
                </div>

                <div class="col-md-4">
                    <div class="kalles-banner-promotion topbar-product-card">
                        <div class="position-relative overflow-hidden">
                            <span class="new-label bg-danger text-white rounded-circle">-34%</span>
                            <img [src]="selectedImage" alt="" class="img-fluid" />

                            <div class="product-size text-center">
                                <h6 class="mb-1"><a routerLink="/product-detail-layout-01" class="main_link">La Bohème Rose Gold</a></h6>
                                <p class="mb-0 fs-14 text-muted">
                                    <del>$60.00</del>
                                    <span class="text-danger">$45.00</span>
                                </p>
                                <div class="product-color-list mt-1 gap-2 d-flex align-items-center justify-content-center p-2">
                                    <a href="javascript:void(0);" (mouseover)="updateImage('assets/images/home-classic/pr-big-24.jpg')" class="d-inline-block bg_color_pink rounded-circle"></a>
                                    <a href="javascript:void(0);" (mouseover)="updateImage('assets/images/home-classic/pr-big-25.jpg')" class="d-inline-block bg-dark rounded-circle"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <a href="javascript:void(0);" class="kalles-banner-promotion d-block">
                        <img src="assets/images/home-classic/pr-big-26.jpg" alt="" class="img-fluid" />
                        <div class="p-20 position-absolute top-50 end-0 text-body start-0 content-position text-center">
                            <p class="text-uppercase fw-medium fs-18 mb-1">Men Collection</p>
                            <h3 class="fs-50">SALE 70%</h3>
                            <button class="btn btn-custom-dark fw-medium min-w-150 rounded-pill">Shop Now</button>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>


    <section class="mt-30">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="text-center mb-4 pb-2">
                        <div class="mb-2">
                            <h3 class="section-title position-relative flex text-uppercase">
                                <span>Instgram Shop</span>
                            </h3>
                        </div>
                        <span class="section-subtitle sub-title font-secondary fst-italic fs-14 text-muted">Make your
                            Instagram shop</span>
                    </div>
                </div>
            </div>
            <div class="row g-3">
                <div class="col-md-3 col-6" *ngFor="let item of instaItems">
                    <div class="insta-card position-relative rounded">
                        <img [src]="item.image" alt="" class="img-fluid">
                        <ng-container *ngFor="let pin of item.pins">
                            <a href="javascript:void(0);" (click)="openModal()" class="card-spin position-absolute fs-14 bg-dark text-white rounded-circle fw-semibold" [ngClass]="pin.position">{{ pin.label }}</a>
                        </ng-container>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <app-latest-blog></app-latest-blog>

    <app-follow-instagram></app-follow-instagram>

    <app-shipping></app-shipping>

    <app-footer></app-footer>

    <app-popup></app-popup>

</div>

<app-card-model></app-card-model>